<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<!-- CSS only -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="studentContent">
		<div id="main">
			<h2>수강 꾸러미 신청</h2>
			<hr>
			<h4>개설강좌 LIST</h4>
			<br>
			<form name="frmchoice">
				<select id="departCode" name="departCode">
					<option selected>--- 학과선택 ---</option>
					<optgroup label="인문대학">
						<option value="JAPA">일어일문학과</option>
						<option value="ENGL">영어영문학과</option>
					</optgroup>
					<optgroup label="사회과학대학">
						<option value="PSYC">심리학과</option>
					</optgroup>
					<optgroup label="자연과학대학">
						<option value="BIOL">생물학과</option>
						<option value="CHEM">화학공학과</option>
						<option value="PHYS">물리학과</option>
					</optgroup>
					<optgroup label="소프트웨어대학">
						<option value="ELEG">전기공학과</option>
					</optgroup>
				</select>
				<button class="btn rounded-pill btn-primary" type="submit">검색</button>
				<button class="btn rounded-pill btn-primary" type="button"
					onclick="location.href='coursePackage'">초기화</button>
			</form>
			<br>
			<div class="overflow-auto" style="max-height: 300px;">
				<table class="table table-bordered table-hover" id="ListTable">
					<thead>
						<tr>
							<th>강의 코드</th>
							<th>이수 구분</th>
							<th>강의명</th>
							<th>학점</th>
							<th>담당 교수</th>
							<th>수강 제한 인원</th>
							<th>담기</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${coursePackage}">
							<td th:text="${item.courseCode}"></td>
							<td th:text="${item.courseSortation}"></td>
							<td th:text="${item.courseName}"></td>
							<td th:text="${item.courseCredit}"></td>
							<td th:text="${item.professorName}"></td>
							<td th:text="${item.courseLimit}"></td>
							<td><button type="button"
									class="btn btn-primary buttonInsert"
									th:data-code="${item.courseCode}">담기</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<hr>
			<h4>수강꾸러미 LIST</h4>
			<div class="overflow-auto" style="max-height: 300px;">
				<table class="table table-bordered table-hover" id="ListTable">
					<thead>
						<tr>
							<th>강의 코드</th>
							<th>이수 구분</th>
							<th>강의명</th>
							<th>학점</th>
							<th>담당 교수</th>
							<th>취소</th>
						</tr>
					</thead>
					<tbody id="pBody">
						<tr th:each="item:${coursePackageList}" id="pTr">
							<td th:text="${item.courseCode}"></td>
							<td th:text="${item.courseSortation}"></td>
							<td th:text="${item.courseName}"></td>
							<td th:text="${item.courseCredit}"></td>
							<td th:text="${item.professorName}"></td>
							<td><button type="button"
									class="btn btn-primary buttonDelete"
									th:data-code="${item.courseCode}">취소</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<div>
				<h6>
					수강꾸러미 신청가능 학점: <span id="total" th:text="!${coursePackagePoint}?0:20-${coursePackagePoint.packageCredit}"></span>
				</h6>
				<h6>교양신청 가능학점: 5</h6>
			</div>
		</div>
		<script th:inline="javascript">

			function getTotalSum(){
				let iCount = 0;

				Array.from(pBody.children).forEach(function(item) {
						console.log(item.children[3].textContent);
						iCount += parseInt(item.children[3].textContent);
				});
				return iCount;
			}

			function setTotalData() {
				const iCount = getTotalSum();
				document.getElementById("total").innerHTML = (20 - iCount);
			}

			$(function(){
				$(".buttonInsert").on("click", coursePackageInsert)
				function coursePackageInsert(){
					let code = $(this).data("code");
					let bCheck = Array.from(pBody.children).some(item => item.children[0].textContent === code);
					if(bCheck){
						return alert('이미 담겨있는 강의입니다.');
					}

					let iCurrentTotal = getTotalSum();
					const iSelectNum = parseInt($(this)[0].parentElement.parentElement.children[3].textContent);
					if( (iCurrentTotal + iSelectNum) > 20 ){
						return alert("최대 학점을 초과할수없습니다.");
					}
				
					$.ajax({
						url:"/student/coursePackageInsert",
						method:"post",
						dataType:"json",
						data:{
							"courseCode" : code
						},
						dataType:"json",			
						success:function(item){
							let content=`<tr>
								<td>${item.courseCode}</td>
								<td>${item.courseSortation}</td>
								<td>${item.courseName}</td>
								<td>${item.courseCredit}</td>
								<td>${item.professorName}</td>
								<td><button type="button" class="btn btn-primary buttonDelete" data-code="${item.courseCode}">삭제</button></td>
								</tr>`;
								
							$("#pBody").append(content);
							
							setTotalData();
						}
					});
				}
			})

			$(function(){
				$("#pBody").on("click",".buttonDelete",coursePackageDelete)
				function coursePackageDelete(){
					let code = $(this).data("code")
					let tr = $(this).closest("tr");
						$.ajax({
							url:"/student/coursePackageDelete",
							method:"post",
							dataType:"json",
							data:{
								"courseCode" : code
							},
							dataType:"json",
							success:function(item){
									tr.remove();

									setTotalData();
							}
						});
				}
			})
			
			
			
		</script>
	</th:block>
</body>
</html>