<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<th:block layout:fragment="studentContent">
		<div id="main">
			<div>
				<h2>수강 신청</h2>
			</div>
			<div>
				<table class="table" border="1">
					<thead>
						<tr>
							<th>학번</th>
							<th>성명</th>
							<th>학년</th>
							<th>대학</th>
							<th>전공</th>
							<th>신청 가능학점</th>
							<th>교양 신청 가능학점</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${studentInfo}">
							<td th:text="${item.studentId}"></td>
							<td th:text="${item.studentName}"></td>
							<td th:text="${item.studentGrade}"></td>
							<td th:text="${item.collegeName}"></td>
							<td th:text="${item.departName}"></td>
							<td>20</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<select name="collegeCode">
					<option value='' selected>-- 단과 (선택) --</option>
					<option value="HU">인문 대학</option>
					<option value="SS">사회과학 대학</option>
					<option value="NS">자연과학 대학</option>
					<option value="SF">소프트웨어 대학</option>
				</select> <select name="departmentCode">
					<option value='' selected>-- 학과 (선택) --</option>
					<option value="PSYC">심리학과</option>
					<option value="ELEG">전기공학과</option>
					<option value="BIOL">생물학과</option>
					<option value="CHEM">화학과</option>
					<option value="JAPA">일어일문학</option>
					<option value="PHYS">물리학과</option>
					<option value="ENGL">영어영문학과</option>
				</select>
				<button class="btn rounded-pill btn-primary">조 회</button>
			</div>
			<br>
			<div>
				<h4>개설강좌 LIST</h4>
				<table class="table" border="1">
					<thead>
						<tr>
							<th>강의 코드</th>
							<th>이수 구분</th>
							<th>강의명</th>
							<th>학점</th>
							<th>담당 교수</th>
							<th>수강 인원</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${registerList}">
							<td th:text="${item.courseCode}"></td>
							<td th:text="${item.courseSortation}"></td>
							<td th:text="${item.courseName}"></td>
							<td th:text="${item.courseCredit}"></td>
							<td th:text="${item.professorName}"></td>
							<td th:text="${item.courseLimit}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<div>
				<h4>수강꾸러미 내역 / 수강신청 LIST</h4>
				<input type="text" placeholder="과목 코드">
				<button type="button" class="btn rounded-pill btn-primary btnInsert"
					>신청</button>
				<input type="text" placeholder="자동입력 방지코드">
				<button class="btn rounded-pill btn-primary">확 인</button>
			</div>
			<div>
				<br>
				<table class="table" border="1">
					<thead>
						<tr>
							<th>과목 코드</th>
							<th>학년</th>
							<th>이수 구분</th>
							<th>강의명</th>
							<th>학점</th>
							<th>담당 교수</th>
							<th>수강 인원</th>
						</tr>
					</thead>
					<tbody id="rBody">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<div>
				<h4 style="display: inline;">신청과목 LIST</h4>
				<h6 style="display: inline;">신청학점:</h6>
				<h6 style="display: inline;">전공학점:</h6>
				<h6 style="display: inline;">교양학점:</h6>
				<table class="table" border="1">
					<thead>
						<tr>
							<th>과목 코드</th>
							<th>학년</th>
							<th>이수 구분</th>
							<th>강의명</th>
							<th>학점</th>
							<th>담당 교수</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script th:inline="javascript">
			$(function(){
				$(".btnInsert").on("click", coursePackageInsert)
				function coursePackageInsert(){
				let code = $(this).data("code")
					$.ajax({
						url:"/student/registerInsert",
						method:"post",
						dataType:"json",
						data:{
							"courseCode" : code
						},
						dataType:"json",
						success:function(item){
							//location.reload();
							let content=`<tr>
								<td>${item.courseCode}</td>
								<td>${item.courseSortation}</td>
								<td>${item.courseName}</td>
								<td>${item.courseCredit}</td>
								<td>${item.professorName}</td>
								<td>${item.courseLimit}</td>
								</tr>`
						$("#rBody").append(content)	
						}
					});
				}
			})
		</script>
	</th:block>
</body>

</html>