<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.bachelor.service.BachelorScheduleMapper">
	
	
	<select id="scheduleList" resultType="com.project.portal.bachelor.service.BachelorScheduleVO">
		select schedule_code,
				schedule_content,
				schedule_start_date,
				schedule_end_date,
				detail_code,
				semester,
				TO_NUMBER(TO_CHAR(schedule_start_date, 'MM')) as "MONTH",
                YEAR
		from bachelor_schedule
		where YEAR = #{year} and detail_code != 'BPLAN00'
		order by schedule_start_date
	</select>
	
	<select id="currentYearSemester" resultType="com.project.portal.bachelor.service.BachelorScheduleVO">
		select year, semester
	  	from bachelor_schedule
	  	where schedule_start_date = (
	            SELECT max(schedule_start_date)
	            FROM bachelor_schedule
	            WHERE detail_code = 'BPLAN00'
	                and sysdate  > schedule_start_date )
	    and rownum = 1
	</select>
	
	<insert id="scheduleAllInsert">
		INSERT INTO bachelor_schedule
		VALUES (
		            'SC'||LPAD(
		                        TO_CHAR(schedule_seq.NEXTVAL), 18, '0'
		                        
		                                    ),#{scheduleContent},#{scheduleStartDate}, #{scheduleEndDate},#{year},#{detailCode},#{semester}
		            )
	</insert>
	
	<select id="getMonthlyList" resultType="BachelorScheduleVO">
		SELECT
				schedule_code,
				schedule_content,
				schedule_start_date,
				schedule_end_date,
				detail_code,
				semester,
				TO_NUMBER(TO_CHAR(schedule_start_date, 'MM')) as "MONTH",
                YEAR
        FROM bachelor_schedule
        WHERE 
        TO_NUMBER(TO_CHAR(schedule_start_date, 'MM')) = #{month}
        AND YEAR = #{year}
        <if test="detailCode != null and detailCode != ''">
        AND detail_code NOT LIKE #{detailCode}||'%'
        </if>
	</select>
	
	
</mapper>