<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.bachelor.service.BachelorNoticeMapper">
	<select id="getNoticeList" resultType="BachelorNoticeVO">
		SELECT
		TO_NUMBER(notice_no) notice_no,
		notice_title,
		notice_content,
		notice_private,
		notice_division,
		notice_post_date,
		notice_mod_date,
		notice_file_code,
		notice_hit
		FROM (SELECT /*+ INDEX_DESC(BACHELOR_NOTICE B_NOTICE_PK) */
		ROWNUM r,
		notice_no,
		notice_title,
		notice_content,
		notice_private,
		notice_division,
		notice_post_date,
		notice_mod_date,
		notice_file_code,
		notice_hit
		FROM bachelor_notice
		<where>
		<if test="notice.noticePrivate != null and notice.noticePrivate != ''">
			AND notice_private = #{notice.noticePrivate}
		</if>
		<if test="notice.noticeDivision != null and notice.noticeDivision != ''">
			AND notice_division NOT IN (#{notice.noticeDivision})
		</if>
		<if test="notice.noticeNo != null and notice.noticeNo != ''">
			AND notice_no = LPAD(#{notice.noticeNo}, 8, '0')
		</if>
		<if test="cri != null and cri != ''">
				<if test="cri.type != null and cri.type != ''">
					<if test="cri.type == 'title'">
						AND notice_title LIKE '%'||#{cri.keyword}||'%'
					</if>
					<if test="cri.type == 'content'">
						AND notice_content LIKE '%'||#{cri.keyword}||'%'
					</if>
					<if test="cri.type == 'number'">
						AND notice_no = LPAD(#{cri.keyword}, 8, '0')
					</if>
				</if>
			</if>
			</where>
		)
		<where>
			<if test="cri != null and cri != ''">
				<if test="cri.pageNum != null and cri.pageNum != 0">
					AND R BETWEEN (#{cri.pageNum} - 1) * #{cri.amount} + 1 AND #{cri.pageNum}
					* #{cri.amount}
				</if>
			</if>
		</where>
	</select>
	
	<select id="getTotal" parameterType="com.project.portal.common.Criteria" resultType="int">
		SELECT COUNT(*)
		FROM bachelor_notice
		<where>
			<if test="notice != null and notice != ''">
				<if test="notice.noticeDivision != null and notice.noticeDivision != ''">
					AND notice_division NOT IN (#{notice.noticeDivision})
				</if>
				<if test="notice.noticePrivate != null and notice.noticePrivate != ''">
					AND notice_private = #{notice.noticePrivate}
				</if>
			</if>
			<if test="cri.type != null and cri.type != ''">
				<if test="cri.type == 'title'">
					AND notice_title LIKE '%'||#{cri.keyword}||'%'
				</if>
				<if test="cri.type == 'content'">
					AND notice_content LIKE '%'||#{cri.keyword}||'%'
				</if>
				<if test="cri.type == 'number'">
					AND notice_no = LPAD(#{cri.keyword}, 8, '0')
				</if>
			</if>
		</where>
	</select>
	<insert id="insertFile">
		<selectKey keyProperty="noticeFileCode" resultType="String"
			order="BEFORE">
			SELECT 'NF'||LPAD(TO_CHAR(notice_file_seq.NEXTVAL), 18, '0')
			FROM dual
		</selectKey>
			INSERT INTO BACHELOR_NOTICE_FILE
			VALUES (#{noticeFileCode},
			#{noticeFileName},
			#{noticeFileStoredName},
			#{noticeFileExtension},
			#{noticeFilePath})
	</insert>
	<insert id="insertNotice">
		<selectKey keyProperty="noticeNo" resultType="String"
			order="BEFORE">
			SELECT LPAD(TO_CHAR(NOTICE_SEQ.NEXTVAL), 8, '0')
			FROM dual
		</selectKey>
		INSERT INTO BACHELOR_NOTICE(
		notice_no,
		notice_title,
		notice_content,
		notice_private,
		notice_division,
		notice_post_date,
		notice_mod_date,
		notice_file_code,
		notice_hit
		)

		VALUES (
		#{noticeNo},
		#{noticeTitle},
		#{noticeContent},
		#{noticePrivate},
		#{noticeDivision},
		SYSDATE,
		NULL,
		#{noticeFileCode},
		0
		)
	</insert>
	<select id="getFile" resultType="BachelorNoticeFileVO">
		SELECT 
			notice_file_code,
			notice_file_name,
			notice_file_stored_name,
			notice_file_extension,
			notice_file_path
			FROM bachelor_notice_file
			WHERE notice_file_code = #{noticeFileCode}
	</select>
	<update id="updateNotice">
		UPDATE bachelor_notice
			SET notice_title = #{noticeTitle},
			notice_mod_date = SYSDATE,
			notice_content = #{noticeContent},
			notice_private = #{noticePrivate},
			notice_division = #{noticeDivision},
			notice_file_code = #{noticeFileCode}
			WHERE notice_no = LPAD(#{noticeNo}, 8, '0')
	</update>
	<delete id="deleteFile">
		DELETE FROM bachelor_notice_file
			WHERE notice_file_code = #{noticeFileCode}
	</delete>
	<delete id="deleteNotice">
		DELETE FROM bachelor_notice
			WHERE notice_no = LPAD(#{noticeNo}, 8, '0')
	</delete>
	<update id="hitIncrease">
		UPDATE bachelor_notice
			SET notice_hit = notice_hit + 1
			WHERE notice_no = LPAD(#{noticeNo}, 8, '0')
	</update>
</mapper>