<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/schedule_layout}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="scheduleContent">
		<div id="main">
			<div class="card">
				<div class="card-header">
					<h4 th:text="${notice.noticeTitle}"></h4>
				</div>
				<div class="card-body">
					<p th:utext="${notice.noticeContent}"></p>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>