<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/schedule_layout}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="scheduleContent">
		<div id="main">
			<div class="page-title">학사 공지사항</div>
			<div class="card">
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성일</th>
								<th>수정일</th>
								<th>상세보기</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="notice, idx : ${noticeList}">
								<tr th:object="${notice}">
									<td th:text="${notice.noticeNo}"></td>
									<td th:text="*{noticeTitle}"></td>
									<td th:text="${#dates.format(notice.noticePostDate, 'yyyy-MM-dd')}"></td>
									<td
										th:text="${noticeModDate} != null ? ${#dates.format(noticeModDate, 'yyyy-MM-dd')} : '-'"></td>
									<td><button type="button"
											class="btn btn-primary btn-sm rounded-pill">상세보기</button></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div th:object="${pageMaker}">
						<ul class="pagination justify-content-center">
						<th:block th:if="${pageMaker.prev}">
   						 <li class="page-item prev">
        				<a class="page-link" href="javascript:void(0)" th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${pageMaker.cri.getListLink(pageMaker.startPage - 1)}]])">이전</a>
   						 </li>
						</th:block>
						<th:block th:with="pageMaker = ${pageMaker}">
				    <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
				        <li class="page-item" th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
				            <a class="page-link" href="javascript:void(0)" th:text="${num}" th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${pageMaker.cri.getListLink(num, pageMaker.cri.amount)}]])"></a>
				        </li>
				    </th:block>
				    <th:block th:if="${pageMaker.next}">
					    <li class="page-item next">
					        <a class="page-link" href="javascript:void(0)" th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${pageMaker.cri.getListLink(pageMaker.endPage + 1)}]])">다음</a>
					    </li>
						</th:block>
						</th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
		$(function() {
		})
		
			function movePagination(uri, queryString) {
				location.href=uri + queryString;
			}
		</script>
	</th:block>
</body>
</html>