<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/schedule_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>


<body>
<th:block layout:fragment="scheduleContent">
<div id="main">
	<h1>스케줄표</h1>
	
	<div id='calendar' style="width:400px"></div>
	<table class="table">
		<tr>
			
		</tr>
	</table>


<script th:inline="javascript">

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
        calendar.setOption('contentHeight', 450);
      });

</script>
</div>
</th:block>
</body>
</html>