<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_layout}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="adminContent">
		<div id="main">
			<div class="page-title">
				<h3>학사 공지사항 등록</h3>
			</div>
			<div class="card">
				<div class="card-body">
					<form id="form" th:action="@{/admin/updateNotice}" method="POST" enctype="multipart/form-data">
						<input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
						<div>
							<label>공지사항 제목</label> 
							<input class="form-control" type="text" th:value="${notice.noticeTitle}"
								name="noticeTitle">
						</div>
						<div>
							<label>공지사항 공개 여부</label> <select class="form-select"
								name="noticePrivate">
								<th:block th:each="open : ${codeMap.get('O01')}" th:object="${open}">
								<option th:selected="${notice.noticePrivate == open.detailCode}" th:value="*{detailCode}" th:text="*{detailName}"></option>
								</th:block>
							</select>
						</div>
						<div>
							<label>공지사항 공개 범위</label> <select class="form-select"
								name="noticeDivision">
								<th:block th:each="sort : ${codeMap.get('S01')}" th:object="${sort}">
								<option th:selected="${notice.noticeDivision == sort.detailCode}" th:value="*{detailCode}" th:text="*{detailName}"></option>
								</th:block>
							</select>
						</div>
						<div th:if="${notice.noticeFileCode != null}">
							<label>원본 첨부파일</label>
							<p class="originalFileBox"><a th:href="@{/notice/download/{noticeFileCode}(noticeFileCode = ${notice.noticeFileCode})}" 
							th:text="${notice.noticeFile.noticeFileName}"></a></p>
							<input type="hidden" name="noticeFileCode" th:value="${notice.noticeFileCode != null} ? ${notice.noticeFileCode}">
						</div>
						<div>
							<label>첨부파일</label> <input type="file" name="file" 
								class="form-control">
						</div>
						<div>
							<label>공지사항 내용</label>
							<textarea id="updateEditor" th:field="${notice.noticeContent}" name="noticeContent"></textarea>
						</div>
						<div class="btnContainer">
							<button type="button" th:onclick="update()" class="btn btn-primary btn-md">수정하기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			$(function() {
				updateEditor();
			})
			
			function update() {
				fireSwal('info', '수정하시겠습니까?')
				.then((result) => {
					if (result.isConfirmed) {
						$("#form").submit();
					}
				})
			}
		</script>
	</th:block>
</body>
</html>