<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.exam.service.ProfessorExamMapper">

	<select id="getExamList" parameterType="com.project.portal.course.service.CourseVO"
	resultType="com.project.portal.exam.service.ExamInfoVO">
		SELECT * FROM exam_info_vu
		WHERE course_code = #{courseCode}
		<if test="courseYear != 0 and courseYear != null">
			AND course_year = #{courseYear}
		</if>
		<if test="courseSemester != 0 and courseSemester != null">
			AND course_semester = #{courseSemester}
		</if>
	</select>
	<resultMap id="courseExamMap" type="com.project.portal.exam.service.CourseExamVO">
		<id column="exam_question_num" property="examQuestionNum"/>
		<result column="exam_question_point" property="examQuestionPoint"/>
		<result column="exam_code" property="examCode"/>
		<result column="question_code" property="questionCode"/>
		<collection property="examQuestion" ofType="QuestionVO">
			<id column="question_code" property="questionCode"/>
			<result column="question_content" property="questionContent"/>
			<result column="question_answer" property="questionAnswer"/>
			<collection property="optionList" ofType="com.project.portal.exam.service.QuestionOptionVO">
			<result column="question_option_num" property="questionOptionNum"/>
			<result column="question_option_content" property="questionOptionContent"/>
			</collection>
		</collection>
	</resultMap>
	<select id="getCourseExam" resultMap="courseExamMap">
		SELECT e.exam_question_num, 
		e.exam_code,
		q.question_code, 
		q.question_content, 
		q.question_answer,
		o.question_option_num,
		o.question_option_content
		FROM course_exam e join question q
		on e.question_code = q.question_code
		JOIN question_option o
		on q.question_code = o.question_code
		WHERE 
		<foreach collection="list" item="item" separator="OR">
			e.exam_code = #{item.examCode}
		</foreach>
	</select>

</mapper>