<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/student-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<th:block layout:fragment="studentEclassContent">

	<div id="main">
		<h2>질문 목록</h2>
		<hr>
			<div class="card">
				<div class="card-body">
		<form name="frmsearch" action="/student/eclass/courseQuestion">
		<select id="weekValue"  name="weekValue">
			<option value="1">1주차</option>
			<option value="2">2주차</option>
			<option value="3">3주차</option>
			<option value="4">4주차</option>
			<option value="5">5주차</option>
			<option value="6">6주차</option>
			<option value="7">7주차</option>
			<option value="8">8주차</option>
			<option value="9">9주차</option>
			<option value="10">10주차</option>
			<option value="11">11주차</option>
			<option value="12">12주차</option>
			<option value="13">13주차</option>
			<option value="14">14주차</option>
			<option value="15">15주차</option>
		</select>
		
		<button type="submit" class="saveBtn btn btn-primary me-1 mb-1">검색</button>
		<button type="button" class="saveBtn btn btn-primary me-1 mb-1"
		onclick="location.href='/student/eclass/courseQuestion'">전체목록조회</button>
		
		</form>
		
		<br>
		<br>
		
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>질문 등록일</th>
					<th>주차</th>
					<th>답변 여부</th>
					<th>상세보기</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="courseQuestion, idx: ${courseQuestion}">
					<td th:text="${idx.index+1}"></td>
					<td th:text="${courseQuestion.lectureQuestionTitle}"></td>
					<td th:text="${#dates.format(courseQuestion.lectureQuestionRegDate, 'yyyy-MM-dd')}"></td>
					<td th:text="${courseQuestion.weekNum}"></td>
					<td th:text="${courseQuestion.lectureQuestionAnswerCheck}"></td>
					<td th:if="${courseQuestion.lectureQuestionAnswerCheck} == 'O'"> 
					<button type="button" class="btn btn-primary courseQuestion" th:data-code="${courseQuestion.lectureQuestionNum}">상세보기</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
	
	
	<!-- 모달창 -->
	 <div class="modal fade" id="courseQuestionDetail" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">

                <div class="modal-header">
                    <label class="modal-title" id="staticBackdropLabel">질문 상세조회</label>
                </div>
                <div class="modal-body">
                        <div class="container my-auto">
                            <div class="row">
                                <div class="card z-index-0 fadeIn3 fadeInBottom">
                                    <div class="card-body">
                                    	<table class="table">
                                    			<tr>
                                    				<td>제목</td>
                                    				<td id="title"></td>
                                    			</tr>
                                    			
                                    			<tr>
                                    				<td>주차</td>
                                    				<td id="week"></td>
                                    			</tr>
                                    			
                                    			<tr>
                                    				<td>질문 내용</td>
                                    				<td id="questioncontent"></td>
                                    			</tr>
                                    			
                                    			<tr>
                                    				<td>질문 답변일</td>
                                    				<td id="answerdate"></td>
                                    			</tr>
                                    			
                                    			<tr>
                                    				<td>답변 내용</td>
                                    				<td id="answercontent"></td>
                                    			</tr>
                                    	</table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-container modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">
                                확인
                            </button>
                            <!-- <button id="closeModal" type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button> -->
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    	<script th:inline="javascript"> 	
    	
    	
    	$(function () {
    		courseQuestionDetail();
    		modalOff();
    	})
    	// 질문 상세조회
    	function courseQuestionDetail () {
     		
     		
    		$(".courseQuestion").on("click", function() {
    			let lectureQuestionNum = ($(this).data("code"));
				console.log(lectureQuestionNum);
    			$(console.log(this));
				console.log($(this).data("code"));
         		//console.log(lectureQuestionNum)
    			$.ajax({
    	                type : "POST",  // 요청 타입
    	                url : "/student/eclass/courseQuestionDetail",      // 컨트롤러에서 대기중인 URL 주소이다.
    	                data :  
    	                	{lectureQuestionNum : lectureQuestionNum},
    	                dataType : "json",
    	                success : function(data){ // 비동기통신의 성공일경우 success 콜백
    	                   console.log(data);
    	                   $("#title").text(data.lectureQuestionTitle)
    	                   $("#week").text(data.weekNum)
    	                   $("#questioncontent").text(data.lectureQuestionTitle)
    	                   $("#answerdate").text(data.lectureAnswerRegDate)
    	                   $("#answercontent").text(data.lectureAnswerContent)
    	                   $('#courseQuestionDetail').modal('show');

    	                },
    	                error : function(reject){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
    	                    alert("통신 실패.");
    	                }
    	            }); 
    	        });	
    		}
    	
    	// 모달창 끄기 버튼
		function modalOff() {
			$("#closeModal").on("click", function() {
				$('#courseQuestionDetail').modal('hide');
			})
		}
    	
    	
    	// 주차별 검색값 유지

    	
		</script>

</th:block>
	


</body>
</html>