<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/no-nav_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="bodyContent">
		<div class="studentExamContainer">
			<div>
				<h3><i class="fa-solid fa-rectangle-list"></i> 내 시험 결과</h3>
			</div>
			<div id="testMain">
				<div class="col-12">
					<div class="col-3 col-lg-2 card"
						style="text-align: center; position: fixed; top: 5%; left: 81%;">
						<h3 align="center" class="card-header">OMR</h3>
						<div class="btnContainer">
								<button type="button" class="btn btn-primary"
								th:onclick="|location.href='@{/student/eclass/examList}'|">돌아가기</button>
						</div>
						<div class="omrCard hidePage" th:id="|omrTable-${idx}|" th:each="idx : ${#numbers.sequence(0, #lists.size(studentExam)/10 - 1)}">
							<table class="table card-body">
								<tr th:each="num : ${#numbers.sequence(0 + idx * 10, 9 + idx * 10)}"
								th:with="r = ${studentExam[num]}">
									<th th:text="${r.studentQuestionNum}"></th>
									<th:block th:each="option : ${r.optionList}">
										<td><span th:text="${option.questionOptionNum}"
										th:classappend="${option.questionOptionNum == r.studentQuestionAnswer} ? marked
										: (${option.questionOptionNum == r.questionAnswer && r.studentRightOption == 0} ? wrong-marked)"
										></span></td>
									</th:block>
								</tr>
							</table>
							<div class="omrBtnContainer">
								<th:block th:if="${idx} != 0">
									<button type="button" th:data-idx="${idx}" th:onclick="moveOmrPage()" class="prevBtn btn btn-primary btn-sm"><i class="fa-solid fa-angle-left"></i></button>
								</th:block>
								<th:block th:if="${idx != (#lists.size(studentExam)/10 - 1)}">
									<button type="button" th:data-idx="${idx}" th:onclick="moveOmrPage()" class="nextBtn btn btn-primary btn-sm"><i class="fa-solid fa-angle-right"></i></button>
								</th:block>
						</div>					
						</div>
					</div>
					<div class="mainContainer col-9" style="float: left;">
						<div
							th:each="i : ${#numbers.sequence(0, (#lists.size(studentExam)/5) - 1)}"
							th:id="|testPage-${i}|" class="questionContainer hidePage">
							<th:block
								th:each="idx : ${#numbers.sequence(0 + i * 5, 4 + i * 5)}">
								<div th:with="r = ${studentExam[idx]}" class="exam card">
									<p class="card-header"
										th:text="|${r.studentQuestionNum}. ${r.questionContent} (${r.examQuestionPoint}점)|">
									<div class="testContainer card-body">
										<th:block th:each="option : ${r.optionList}">
											<th:block th:if="${r.studentRightOption != 0}">
												<div
													th:if="${option.questionOptionNum == r.studentQuestionAnswer}">
													<input type="radio" checked disabled> <span
														class="text-primary bold"
														th:text="| ${option.questionOptionContent}|"></span>
												</div>
												<div
													th:unless="${option.questionOptionNum == r.studentQuestionAnswer}">
													<input type="radio" disabled> <span
														th:text="| ${option.questionOptionContent}|"></span>
												</div>
											</th:block>
											<th:block th:if="${r.studentRightOption == 0}">
												<div th:if="${option.questionOptionNum == r.questionAnswer}">
													<input type="radio" disabled> <span
														th:text="| ${option.questionOptionContent}|"
														class="bold text-danger"></span>
												</div>
												<div
													th:if="${option.questionOptionNum == r.studentQuestionAnswer}">
													<input type="radio" checked disabled> <span
														th:text="| ${option.questionOptionContent}|"
														class="text-primary"></span>
												</div>
												<div
													th:if="${option.questionOptionNum != r.questionAnswer && option.questionOptionNum != r.studentQuestionAnswer}">
													<input type="radio" disabled> <span
														th:text="| ${option.questionOptionContent}|"></span>
												</div>
											</th:block>
										</th:block>
									</div>
								</div>
							</th:block>
							<div class="pageBtnContainer">
								<th:block th:if="${i} != 0">
									<button type="button" th:data-idx="${i}" th:onclick="movePage" class="prevBtn btn btn-primary btn-lg"><i class="fa-solid fa-angle-left"></i></button>
								</th:block>
								<th:block th:if="${i != (#lists.size(studentExam)/5 - 1)}">
									<button type="button" th:data-idx="${i}" th:onclick="movePage" class="nextBtn btn btn-primary btn-lg"><i class="fa-solid fa-angle-right"></i></button>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			$(function() {
				// 첫번째 페이지만 열기
				$("#testPage-0").removeClass("hidePage");
				$("#omrTable-0").removeClass("hidePage");
				movePage();
				moveOmrPage();
			})
		</script>
	</th:block>
</body>
</html>