<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.mycourse.service.MyCourseMapper">

	<select id="getstuMyCourse"
		resultType="MyCourseVO">
		SELECT C.COURSE_NAME,
		       P.PROFESSOR_NAME,
		       C.COURSE_CODE
		FROM MY_COURSE M
		JOIN COURSE C ON M.COURSE_CODE = C.COURSE_CODE
		JOIN PROFESSOR P ON P.PROFESSOR_ID = C.PROFESSOR_ID
		WHERE M.STUDENT_ID = #{my.studentId}
		AND C.COURSE_YEAR = #{course.courseYear}
		AND C.COURSE_SEMESTER = #{course.courseSemester}
	</select>

	<select id="getstuMyCourseDetail"
		resultType="myCourseDetailVO">
		SELECT C.COURSE_NAME,
		C.COURSE_SORTATION,
		C.COURSE_CODE,
		D.DEPART_NAME,
		P.PROFESSOR_NAME,
		C.COURSE_CREDIT,
		P.PROFESSOR_EMAIL,
		C.COURSE_SUMMARY
		FROM COURSE C
		JOIN PROFESSOR P ON P.PROFESSOR_ID = C.PROFESSOR_ID
		JOIN DEPARTMENT D ON
		D.DEPART_CODE = P.DEPART_CODE
		WHERE C.COURSE_CODE = #{courseCode}
	</select>

	<select id="getstuMyCourseWeekDetail"
		resultType="myCourseDetailVO">
		SELECT WEEK_NUM,
		WEEK_CONTENT
		FROM COURSE_WEEKLY
		WHERE COURSE_CODE = #{courseCode}
	</select>

	<select id="getProfMyCourse"
		resultType="myProfCourseVO">
		SELECT P.PROFESSOR_NAME,
		C.COURSE_NAME,
		C.COURSE_CODE
		FROM PROFESSOR P JOIN COURSE C
		ON P.PROFESSOR_ID = C.PROFESSOR_ID
		WHERE P.PROFESSOR_ID = #{professorId}

	</select>

	<select id="studentStudyList"
		resultType="MyCourseVO">
		select *
		from s_g_vu
		where student_id = #{studentId}
	</select>
	<select id="studentCreditSum"
		resultType="MyCourseVO">
		select trunc(sum(semester_credit2),0) AS "credit_sum",trunc(sum(credit_sum)/sum(semester_credit2),2) AS "grade_avg"
		from s_g_vu
		where student_id = #{studentId}
	</select>
	<select id="studentSortationCredit"
		resultType="MyCourseVO">
		select course_sortation, a.course_sortation_credit
		from s_g_vu v
		join (select  student_id, course_sortation, sum(sortation_credit_sum) AS "COURSE_SORTATION_CREDIT"
		        from sort_course_sum_vu
		        group by course_sortation, student_id) a
		on v.student_id = a.student_id
		where v.student_id = #{studentId}
		group by course_sortation,course_sortation_credit
		order by course_sortation desc
	</select>
	<select id="semesterGradeSelect" resultType="MyCourseVO">
		select m.student_id, c.course_year,c.course_name, c.course_semester, c.course_sortation, c.course_credit, m.course_grade
		from my_course m
		join course c
		on c.course_code = m.course_code
		where student_id = #{studentId} and course_year = #{courseYear} and course_semester = #{courseSemester}
	</select>
	<select id="getStudentList" resultType="ExamScoreVO">
		SELECT student_id, course_code
			FROM my_course
			WHERE course_code = #{courseCode}
	</select>
	<select id="getWeekCode" resultType="CourseVO">
		SELECT week_code, course_code
			FROM course_weekly
			WHERE SYSDATE between
				week_start_date AND week_end_date
			AND course_code = #{courseCode}
	</select>
	<select id="getLectureList" resultType="LectureVO">
		SELECT 
			lecture_code,
			week_code,
			lecture_start_date,
			lecture_end_date,
			lecture_title,
			course_code
			FROM lecture
			WHERE course_code = #{courseCode}
			AND week_code = #{weekCode}
	</select>
	<select id="getReportList" resultType="ReportVO">
		SELECT 
			report_code,
			week_code,
			report_start_date,
			report_end_date,
			report_title,
			course_code
			FROM report_info
			WHERE course_code = #{courseCode}
			AND week_code = #{weekCode}
	</select>
	<select id="getExamList" resultType="ExamVO">
		SELECT
			exam_code,
			week_code,
			exam_start_date,
			exam_end_date,
			exam_total_question,
			exam_total_score
			course_code
			FROM exam
			WHERE course_code = #{courseCode}
			AND week_code = #{weekCode}
	</select>
	
	<select id="getCourseName" resultType="String">
		select course_name from course
		where course_code = #{courseCode}
	</select>
</mapper>