<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.mycourse.service.MyCourseMapper">

	<select id="getstuMyCourse"
		resultType="com.project.portal.mycourse.service.MyCourseVO">
		SELECT C.COURSE_NAME,
		P.PROFESSOR_NAME,
		C.COURSE_CODE
		FROM MY_COURSE M
		JOIN COURSE C ON M.COURSE_CODE = C.COURSE_CODE
		JOIN PROFESSOR P ON P.PROFESSOR_ID = C.PROFESSOR_ID
		WHERE M.STUDENT_ID = #{studentId}
	</select>

	<select id="getstuMyCourseDetail"
		resultType="com.project.portal.mycourse.service.myCourseDetailVO">
		SELECT C.COURSE_NAME,
		C.COURSE_SORTATION,
		C.COURSE_CODE,
		D.DEPART_NAME,
		P.PROFESSOR_NAME,
		C.COURSE_CREDIT,
		P.PROFESSOR_EMAIL,
		C.COURSE_SUMMARY
		FROM COURSE C
		JOIN PROFESSOR P ON P.PROFESSOR_ID = C.PROFESSOR_ID
		JOIN DEPARTMENT D ON
		D.DEPART_CODE = P.DEPART_CODE
		WHERE C.COURSE_CODE = #{courseCode}
	</select>

	<select id="getstuMyCourseWeekDetail"
		resultType="com.project.portal.mycourse.service.myCourseDetailVO">
		SELECT WEEK_NUM,
		WEEK_CONTENT
		FROM COURSE_WEEKLY
		WHERE COURSE_CODE = #{courseCode}
	</select>

	<select id="getProfMyCourse"
		resultType="com.project.portal.mycourse.service.myProfCourseVO">
		SELECT P.PROFESSOR_NAME,
		C.COURSE_NAME,
		C.COURSE_CODE
		FROM PROFESSOR P JOIN COURSE C
		ON P.PROFESSOR_ID = C.PROFESSOR_ID
		WHERE P.PROFESSOR_ID = #{professorId}

	</select>

	<select id="studentStudyList"
		resultType="com.project.portal.mycourse.service.MyCourseVO">
		select *
		from s_g_vu
		where student_id = 22000001
	</select>
	<select id="studentCreditSum"
		resultType="com.project.portal.mycourse.service.MyCourseVO">
		select trunc(sum(semester_credit2),0) AS "credit_sum",trunc(sum(credit_sum)/sum(semester_credit2),2) AS "grade_avg"
		from s_g_vu
		where student_id = 22000001
	</select>
	<select id="studentSortationCredit"
		resultType="com.project.portal.mycourse.service.MyCourseVO">
		select course_sortation, a.course_sortation_credit
		from s_g_vu v
		join (select  student_id, course_sortation, sum(sortation_credit_sum) AS "COURSE_SORTATION_CREDIT"
		        from sort_course_sum_vu
		        group by course_sortation, student_id) a
		on v.student_id = a.student_id
		where v.student_id = 22000001
		group by course_sortation,course_sortation_credit
		order by course_sortation desc
	</select>




</mapper>