server:
  port: 81

spring:
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    # driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:log4jdbc:oracle:thin:@portal_high?TNS_ADMIN=/home/Wallet_portal
    # url: jdbc:log4jdbc:oracle:thin:@portal_high?TNS_ADMIN=C:////Wallet_portal
    username: ADMIN
    password: finalProject@1234
    hikari:
      maximum-pool-size: 3
  servlet:
    multipart:
      location: /home/ubuntu/files
      # location: C://portal
      max-file-size: 20MB
      max-request-size: 20MB
  thymeleaf:
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
  mail:
    host: smtp.gmail.com
    post: 587
    username: kwonyuj1996@gmail.com
    password: ojgwgszkwpfdhhsc
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
    
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: VARCHAR
  type-aliases-package: com.project.portal.*.service
  type-handlers-package: springboot.mybatis.typehandler
  mapper-locations: mapper/**/*.xml

logging:
  level:
    com:
      company:
        boot: DEBUG
    jdbc:
      sqlonly: info 
      sqltiming: info
      resultsettable: info
      audit: off
      resultset: off
      connection: off