<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="makeTestFragment">
		<h1>시험지</h1>
		<div align="right">
			<button type="button" id="tempBtn"
				class="btn btn-primary btn-md">임시저장</button>
			<button type="button" id="submitBtn"
				class="btn btn-danger btn-md">시험지 생성하기</button>
			<button type="button" id="pointBtn"
			class="btn btn-info btn-md" title="시험 총점에서 시험 문제 수만큼 나누어 자동적으로 배점을 나눕니다.">자동 배점</button>
		</div>
		<div id="testPaperGenerated" class="card">
			<div th:if="${exam.examTotalQuestion} == 0" id="defaultPaper"
				class="card-body">
				<p>시험 문항 수를 선택해주세요.</p>
			</div>
			<th:block th:unless="${exam.examTotalQuestion == 0}">
				<div
					th:each="idx : ${#numbers.sequence(0, (exam.examTotalQuestion/5 - 1))}"
					th:id="|testPage-${idx}|" class="questionContainer hidePage">
					<div class="row">
						<th:block
							th:each="i : ${#numbers.sequence(0 + idx * 5, 4 + idx * 5)}">
							<div class="col-md-6 col-12">
								<div class="card questionBox">
									<th:block th:if="${examQuestions}">
									<div class="card examquestion" th:if="${#lists.size(examQuestions) > i}"
									th:id="${examQuestions[i].examQuestionNum}">
										<div class="card-header" th:id="${examQuestions[i].questionCode}">
											<span th:text="${examQuestions[i].examQuestion.questionContent}"></span>
											<input type="number" th:value="${examQuestions[i].examQuestionPoint}" name="examQuestionPoint">
										</div>
										<div class="card-body">
											<th:block th:each="option : ${examQuestions[i].examQuestion.optionList}">
												<p>
													<input type="radio" th:checked="${option.questionOptionNum == examQuestions[i].examQuestion.questionAnswer}">
													<span th:text="|${option.questionOptionNum}. ${option.questionOptionContent}|"></span>
												</p>
											</th:block>
										</div>
									</div>
									<button th:if="${#lists.size(examQuestions) <= i}"
										class="card-body btn btn-outline-primary addQuestionBtn"
										th:id="${i}"
										type="button">+</button>
									</th:block>
								</div>
							</div>
						</th:block>
						<div class="pageBtnContainer">
							<th:block th:if="${idx} != 0">
								<button type="button" th:data-idx="${idx}" th:onclick="movePage"
									class="prevBtn btn btn-primary btn-lg">
									<i class="fa-solid fa-angle-left"></i>
								</button>
							</th:block>
							<th:block th:if="${idx != (exam.examTotalQuestion/5 - 1)}">
								<button type="button" th:data-idx="${idx}" th:onclick="movePage"
									class="nextBtn btn btn-primary btn-lg">
									<i class="fa-solid fa-angle-right"></i>
								</button>
							</th:block>
						</div>
					</div>
				</div>

			</th:block>
		</div>
		<div id="template" style="display: none;">
			<div class="card newQuestion">
				<div class="card-header">
				<textarea class="form-control"
				rows="3"
				placeholder="문제를 입력하세요"></textarea>
				</div>
				<div class="card-body">
					<th:block th:each="idx : ${#numbers.sequence(1, 4)}">
					<label style="display:block;" class="col-form-label form-check-label">
							<input type="radio" name="answer">
							<input type="text" class="form-control" name="questionOptionContent">
					</label>
					</th:block>
				</div>
				<div class="btnContainer">
					<button
						class="createQuestionBtn btn btn-primary btn-sm rounded-pill"
						type="button">문제 생성</button>
					<button class="btn btn-secondary btn-sm rounded-pill" type="button">
						취소</button>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		$(function() {
			saveQuestions();
			tempInsert();
			addQuestions();
			$("#testPage-0").removeClass("hidePage");
			movePage();
			checkAll();
			createQuestion();
			submitTest();
			dividePoint();
		})
		
		// 전체 문제 선택
		function checkAll() {
			$(document).on("click", "#selectAllButton", function() {
				if ($("#allChk").val() == '0') {
					$(".question .card-header input").prop('checked', true);
					$("#allChk").val('1');
				} else if ($("#allChk").val() == '1') {
					$(".question .card-header input").prop('checked', false);
					$("#allChk").val('0');
				} 
			})
		}
		
		// 문제 담기
		function saveQuestions() {
			$(document).on("click", "#saveButton", function() {
				savedQuestions = $(".question .card-header input:checked").parent().parent();
				let emptyBox = $(".addQuestionBtn");
				// 담으려는 문제보다 실제 시험 문항수가 많을 경우 경고창을 띄우고 처리 취소 처리
				if ($(savedQuestions).length > $(emptyBox).length) {
					fireSwal('warning', '선택한 문제가 시험 문항수보다 많습니다.');
					return;
				}
				// 내부의 문제 추가 버튼 삭제 후 내용 입력
				$(savedQuestions).each((idx, val) => {
						$(savedQuestions[idx]).removeClass("question").addClass("examquestion")
						.children(".card-header").append("<input type=number>");
						$(emptyBox).eq(idx).parent()
						.empty().append($(savedQuestions[idx]));
				})
				fireSwal('success', '문제 담기 완료');
			})
		}

		// 문제 직접 입력하기
		function addQuestions() {
			$(document).on("click", ".addQuestionBtn", function(e) {
				let id = $(this).attr("id");
				$(this).parent().empty().append($("#template").children().clone())
				.attr("id", id);
			})
		}
		
		// 입력 문제 생성
		function createQuestion() {
			$(document).on("click", ".createQuestionBtn", function(e) {
				let id = $(this).parent().parent().parent().attr("id");
				let div = $(this).parent().siblings();
				let question = {
						questionContent : $($(div[0]).children("textarea")).val().trim()
				}
				let optionList = [];
				$(div[1]).children("label").each((idx, val) => {
					if ($($(val).children()[0]).is(":checked")) {
						question.questionAnswer = idx + 1;
					}
					let option = {
							questionOptionNum : idx + 1,
							questionOptionContent : $($(val).children()[1]).val()
					}
					optionList.push(option);
				})
				question.optionList = optionList;

				$.ajax({
					method : 'POST',
					url : `/professor/eclass/createQuestion`,
					contentType : 'application/json',
					data : JSON.stringify(question)
				})
					.done(function(fragment) {
						$($(".questionBox")[id]).html(fragment);
					})
			})
		}
		
		// 문제 자동 배점
		function dividePoint() {
			$(document).on("click", "#pointBtn", function() {
				let questionList = getQuestions();
				console.log(questionList);
				let msg = countCheck(questionList);
				if (msg) {
					fireSwal(msg.icon, msg.text);
				} else if (!msg) {
					let totalScore = $("input[name=examTotalScore]").val();
					if (totalScore%questionList.length == 0) {
						$("input[name=examQuestionPoint]").each((idx, val) => {
							let pointDivided = totalScore/questionList.length;
							$(val).val(pointDivided);
							fireSwal('success', '자동 배점이 완료되었습니다.');
						})
					} else {
						fireSwal('warning', '소숫점으로 떨어지는 점수는 입력할 수 없습니다. 시험 총점 또는 시험 문항 수를 수정해주세요.');
					}
				}
			})
		}
		
		// 시험 문제 추출
		function getQuestions() {
			let questions = $(".examquestion");
			let courseExamList = [];
			$(questions).each((idx, val) => {
				let courseExam = {};
				let header = $(val).children(".card-header");
				let qinfo = $(header).children();
				courseExam.examQuestionPoint = $(header).children("span").next().val();
				courseExam.examCode = $("input[name=examCode]").val();
				courseExam.examQuestionNum = $(val).attr("id");
				courseExam.questionCode = $(header).attr("id");
				courseExam.examComplete = '0';
				// 교수 아이디 나중에 세션 값으로 넣어야 함
				courseExam.professorId = 220001;
				courseExamList.push(courseExam);
			})
			return courseExamList;
		}
		
		// 시험지 임시저장 
		function tempInsert() {
			$(document).on("click", "#tempBtn", function() {
				let courseExamList = [];
				courseExamList = getQuestions();
				let command = 'temp';
				save(command, courseExamList);
			})
		}
		
		// 임시 저장 서버 요청
		function save(command, courseExamList) {
			let data = {
					courseExamList : courseExamList,
					command : command
			}
			$.ajax({
				method : 'POST',
				url : `/professor/eclass/saveTest`,
				contentType : 'application/json',
				data : JSON.stringify(data)
			})
				.then(function(result) {
				if (result == 'success') {
					fireSwal('success', '임시 저장이 완료되었습니다.')
						.then(function(result) {
							if (result.isConfirmed) {
								location.href=`/professor/eclass/examList`;
							}
						})
				} else if (result == 'submitted') {
					fireSwal('success', '시험지 생성이 완료되었습니다.')
						.then(function(result) {
						if (result.isConfirmed) {
							location.href=`/professor/eclass/generateTestPaper/` + $("input[name=examCode]").val();
						}
					})
				} 
			})
		}
		
		function submitTest() {
			$(document).on("click", "#submitBtn", function() {
				// 문항 수 확인
				let courseExamList = [];
				courseExamList = getQuestions();
				let msg1 = countCheck(courseExamList);
				let msg2 = pointCheck(courseExamList);
				let msg3 = pointSumCheck(courseExamList);
				if (!msg1 && !msg2 && !msg3) {
					let command = 'submit';
					save(command, courseExamList);
				} else {
					(msg1) ? fireSwal(msg1.icon, msg1.text) : '';
					(msg2) ? fireSwal(msg2.icon, msg2.text) : '';
					(msg3) ? fireSwal(msg3.icon, msg3.text) : '';
				}
			})
		}
		// 문항수 확인
		function countCheck(courseExamList) {
			let totalQuestion = $("input[name=examTotalQuestion]").val();
			if (courseExamList.length != totalQuestion) {
				let msg = {
						icon : 'warning',
						text : '시험 문제 수가 부족합니다.'
				}
				return msg;
			}
			return null;
		}
		// 문제 배점 유무
		function pointCheck(courseExamList) {
			const noPoint = (element) => element.examQuestionPoint == 0 || element.examQuestionPoint == '';
			let noPointIdx = courseExamList.findIndex(noPoint);
			if (noPointIdx > -1) {
				let msg = {
						icon : 'warning',
						text : '각 문제의 배점이 다 채워지지 않았습니다.'
				}
				return msg;
			}
			return null;
		}
		// 문제 배점 합 
		function pointSumCheck(courseExamList) {
			let pointChk = courseExamList.reduce(function(accum, curr) {
				return accum + parseInt(curr.examQuestionPoint);
			}, 0);
			if (pointChk != $("input[name=examTotalScore]").val()) {
				let msg = {
						icon : 'warning',
				}
				pointChk > $("input[name=examTotalScore]").val() ? 
						msg.text = '문제 배점의 합이 총점보다 큽니다.' : 
							msg.text = '문제 배점의 합이 총점보다 작습니다.';
				return msg;
			}
			return null;
		}
	</script>
	</th:block>
</body>
</html>