<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="makeTestFragment">
		<h1>시험지</h1>
		<div align="right">
			<button type="button" id="tempBtn"
				class="btn btn-primary btn-md">임시저장</button>
			<button type="button" th:onclick="insertTestPaper"
				class="btn btn-primary btn-md">시험지 생성하기</button>
		</div>
		<div id="testPaperGenerated" class="card">
			<div th:if="${exam.examTotalQuestion} == 0" id="defaultPaper"
				class="card-body">
				<p>시험 문항 수를 선택해주세요.</p>
			</div>
			<th:block th:unless="${exam.examTotalQuestion == 0}">
				<div
					th:each="idx : ${#numbers.sequence(0, (exam.examTotalQuestion/5 - 1))}"
					th:id="|testPage-${idx}|" class="questionContainer hidePage">
					<div class="row">
						<th:block
							th:each="i : ${#numbers.sequence(0 + idx * 5, 4 + idx * 5)}">
							<div class="col-md-6 col-12">
								<div class="card questionBox">
									<th:block th:if="${examQuestions}">
									<div class="card question" th:if="${#lists.size(examQuestions) > i}"
									th:id="${examQuestions[i].examQuestionNum}">
										<div class="card-header" th:id="${examQuestions[i].questionCode}">
											<span th:text="${examQuestions[i].examQuestion.questionContent}"></span>
											<input type="number" th:value="${examQuestions[i].examQuestionPoint}">
										</div>
										<div class="card-body">
											<th:block th:each="option : ${examQuestions[i].examQuestion.optionList}">
												<p>
													<input type="radio" th:checked="${option.questionOptionNum == examQuestions[i].examQuestion.questionAnswer}">
													<span th:text="|${option.questionOptionNum}. ${option.questionOptionContent}|"></span>
												</p>
											</th:block>
										</div>
									</div>
									<button th:if="${#lists.size(examQuestions) <= i}"
										class="card-body btn btn-outline-primary addQuestionBtn"
										type="button" onclick="addQuestions()">+</button>
									</th:block>
								</div>
							</div>
						</th:block>
						<div class="pageBtnContainer">
							<th:block th:if="${idx} != 0">
								<button type="button" th:data-idx="${idx}" th:onclick="movePage"
									class="prevBtn btn btn-primary btn-lg">
									<i class="fa-solid fa-angle-left"></i>
								</button>
							</th:block>
							<th:block th:if="${idx != (exam.examTotalQuestion/5 - 1)}">
								<button type="button" th:data-idx="${idx}" th:onclick="movePage"
									class="nextBtn btn btn-primary btn-lg">
									<i class="fa-solid fa-angle-right"></i>
								</button>
							</th:block>
						</div>
					</div>
				</div>

			</th:block>
		</div>
		<div id="template" style="display: none;">
			<div id="newQuestion" class="card">
				<div class="card-header">
					<input type="text" name="questionContent">
				</div>
				<div class="card-body">
					<th:block th:each="idx : ${#numbers.sequence(1, 4)}">
					<label>
							<input type="radio" name="answer">
							<input type="text" name="questionOptionContent">
					</label>
					</th:block>
				</div>
				<div class="btnContainer">
					<button
						class="createQuestionBtn btn btn-primary btn-sm rounded-pill"
						type="button">문제 생성</button>
					<button class="btn btn-secondary btn-sm rounded-pill" type="button">
						취소</button>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		$(function() {
			saveQuestions();
			tempInsert();
			addQuestions();
			$("#testPage-0").removeClass("hidePage");
			movePage();
			checkAll();
			createQuestion();
		})
		
		// 전체 문제 선택
		function checkAll() {
			$(document).on("click", "#selectAllButton", function() {
				if ($("#allChk").val() == '0') {
					$(".question .card-header input").prop('checked', true);
					$("#allChk").val('1');
					console.log($("#allChk").val());
				} else if ($("#allChk").val() == '1') {
					$(".question .card-header input").prop('checked', false);
					$("#allChk").val('0');
				} 
			})
		}
		
		// 문제 담기
		function saveQuestions() {
			$(document).on("click", "#saveButton", function() {
				savedQuestions = $(".question .card-header input:checked").parent().parent();
				let emptyBox = $(".addQuestionBtn");
				// 담으려는 문제보다 실제 시험 문항수가 많을 경우 경고창을 띄우고 처리 취소 처리
				if ($(savedQuestions).length > $(emptyBox).length) {
					fireSwal('warning', '선택한 문제가 시험 문항수보다 많습니다.');
					return;
				}
				// 내부의 문제 추가 버튼 삭제 후 내용 입력
				$(savedQuestions).each((idx, val) => {
						$(emptyBox).eq(idx).parent()
						.empty().append($(savedQuestions[idx]));
				})
				fireSwal('success', '문제 담기 완료');
			})
		}

		// 문제 직접 입력하기
		function addQuestions() {
			$(document).on("click", ".addQuestionBtn", function(e) {
				$(this).parent().empty().append($("#template").children().clone());
			})
		}
		
		// 입력 문제 생성
		function createQuestion() {
			$(document).on("click", ".createQuestionBtn", function(e) {
				let div = $(this).parent().siblings();
				let question = {
						questionContent : $($(div[0]).children("input")).val()
				}
				let optionList = [];
				$(div[1]).children("label").each((idx, val) => {
					if ($($(val).children()[0]).is(":checked")) {
						question.questionAnswer = idx + 1;
					}
					let option = {
							questionOptionNum : idx + 1,
							questionOptionContent : $($(val).children()[1]).val()
					}
					optionList.push(option);
				})
				question.optionList = optionList;
				console.log(question);

				$.ajax({
					method : 'POST',
					url : `/professor/eclass/createQuestion`,
					contentType : 'application/json',
					data : JSON.stringify(question)
				})
					.done(function(fragment) {
						$("#newQuestion").replaceWith(fragment);
					})
			})
		}
		
		// 시험 문제 추출
		function getQuestions() {
			let questions = $(".question");
			let courseExamList = [];
			$(questions).each((idx, val) => {
				let courseExam = {};
				let header = $(val).children(".card-header").children();
				courseExam.examQuestionPoint = $(header[1]).val();
				courseExam.examCode = $("input[name=examCode]").val();
				courseExam.examQuestionNum = $(val).attr("id");
				courseExam.questionCode = $(val).children(".card-header").attr("id");
				courseExam.examComplete = '0';
				// 교수 아이디 나중에 세션 값으로 넣어야 함
				courseExam.professorId = 220001;
				courseExamList.push(courseExam);
			})
			return courseExamList;
		}
		
		// 시험지 임시저장 
		function tempInsert() {
			$(document).on("click", "#tempBtn", function() {
				courseExamList = getQuestions();
				console.log(courseExamList);
				$.ajax({
					method : 'POST',
					url : `/professor/eclass/saveTest`,
					contentType : 'application/json',
					data : JSON.stringify(courseExamList)
				})
					.then(function(result) {
						if (result == 'success') {
							fireSwal('success', '임시 저장이 완료되었습니다.')
								.then(function(result) {
									if (result.isConfirmed) {
										location.href=`/professor/eclass/examList`;
									}
								});
						}
					})
			})
		}
	</script>
	</th:block>
</body>
</html>