<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="testInfoFragment">
		<div class="card-header">
			<h4>시험 기본 정보</h4>
		</div>
		<div class="card-body" align="center">
			<form id="examInfoForm" class="form form-horizontal">
				<div class="form-body">
					<div class="row inputBox">
					<!-- 시험 코드 생성시 필요한 강의 정보 -->
					<input type="hidden" class="form-control"
						name="courseCode" th:value="${courseInfo.courseCode}">
					<input type="hidden" class="form-control" readonly
						name="courseYear" th:value="${courseInfo.courseYear}">
					<input type="hidden" class="form-control" readonly
						name="courseSemester" th:value="${courseInfo.courseSemester}">
						<div class="col-md-4">
							<label>시험 종류</label>
						</div>
						<div class="col-md-8 form-group">
							<select class="form-select" name="examCode">
								<option value="">시험 종류를 선택해주세요.</option>
								<option value="M">중간</option>
								<option value="F">기말</option>
							</select>
						</div>
						<div class="col-md-4">
							<label>시험 주차</label>
						</div>
						<div class="col-md-8 form-group">
							<select class="form-select" name="weekCode">
								<option value="">주차를 선택해주세요.</option>
								<th:block th:each="week : ${courseInfo.weekPlans}">
									<option
										th:data-start="${#dates.format(week.weekStartDate, 'yyyy-MM-dd')}"
										th:data-end="${#dates.format(week.weekEndDate, 'yyyy-MM-dd')}"
										th:value="${week.weekCode}">[[${week.weekNum}]]주차</option>
								</th:block>
							</select>
						</div>
						<div class="col-md-4">
							<label>시험 시작일</label>
						</div>
						<div class="col-md-8 form-group">
							<input class="form-control" type="date" name="examStartDate"
								required>
						</div>
						<div class="col-md-4">
							<label>시험 마감일</label>
						</div>
						<div class="col-md-8 form-group">
							<input class="form-control" type="date" name="examEndDate"
								required>
						</div>
						<div class="col-md-4">
							<label>시험 응시 시간</label>
						</div>
						<div class="col-md-8 form-group">
							<input class="form-control" type="number" name="examDuration"
								required value=0>
						</div>
						<div class="col-md-4">
							<label>시험 총 문항수</label>
						</div>
						<div class="col-md-8 form-group">
							<input class="form-control" type="number"
								name="examTotalQuestion" required value=0>
						</div>
						<div class="col-md-4">
							<label>시험 총 배점</label>
						</div>
						<div class="col-md-8 form-group">
							<input class="form-control" type="number" name="examTotalScore"
								required value=0>
						</div>
					</div>
				</div>
				<div class="col-sm-12 d-flex justify-content-end">
					<button type="button" id="saveBtn"
						class="btn btn-primary me-1 mb-1">저장하기</button>
					<button type="reset" class="btn btn-light-secondary me-1 mb-1">취소</button>
				</div>
			</form>
		</div>
	</th:block>
</body>
</html>