<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="adminHeaderFragment">
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo logo-size">
							<img class="mainImg" th:src="@{/images/portal_img.png}" 
							th:onclick="|location.href='@{/admin}'|"> 
						</div>
						<div class="toggler">
							<a href="#" class="sidebar-hide d-xl-none d-block"><i
								class="bi bi-x bi-middle"></i></a>
						</div>
					</div>
				</div>
				<div class="sidebar-menu">
					<ul class="menu">
						<li class="sidebar-title">Menu</li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-stack"></i> <span>정보
									관리</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a th:href="@{/admin/adminInfo}">내
										 정보 관리</a></li>
								<li class="submenu-item "><a th:href="@{/admin/studentList}">학생
										개인 정보 조회</a></li>
								<li class="submenu-item "><a th:href="@{/admin/professorList}">교직원
										조회</a></li>
							</ul></li>

						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-collection-fill"></i> <span>강의
									관리</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a
									th:href="@{/admin/adminTempList}">강의 계획서 관리</a></li>
							</ul></li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-grid-1x2-fill"></i> <span>학사
									관리</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a th:href="@{/admin/notice}">학사
										공지사항</a></li>
								<li class="submenu-item "><a th:href="@{/admin/insertNotice}">공지사항 등록</a></li>
								<li class="submenu-item "><a th:href="@{/admin/schedule}">학사
										일정</a></li>
							</ul></li>
					</ul>
				</div>
				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
	</th:block>
</body>
</html>