<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="professorHeaderFragment">
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo logo-size">
							<img class="mainImg" th:src="@{/images/portal_img.png}" th:onclick="|location.href='@{/professor}'|"> 
						</div>
						<div class="toggler">
							<a href="#" class="sidebar-hide d-xl-none d-block"><i
								class="bi bi-x bi-middle"></i></a>
						</div>
					</div>
				</div>
				<div class="sidebar-menu">
					<ul class="menu">
						<li class="sidebar-title">Menu</li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-stack"></i> <span>내
									정보</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a
									th:href="@{/professor/professorInfo}">개인 정보 조회</a></li>
							</ul></li>

						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-collection-fill"></i> <span>내
									강의</span>
						</a>
							<ul class="submenu ">
							<th:block th:with="yearSemester=${session.scheduleMap.get('yearSemester')}">
								<li class="submenu-item "><a
									th:href="@{/professor/allCourseList}">내 강의 목록 조회</a></li>
								<li class="submenu-item "><a th:href="@{/professor/surveyList}">강의
										수강 후기</a></li>
								<li class="submenu-item "><a
									th:href="@{/professor/tempcourseList}">강의 계획서 조회</a></li>
								<li class="submenu-item "><a th:href="@{/professor/tempInsert}" th:if="${#dates.createNow()} >= ${yearSemester.scheduleStartDate} and ${#dates.createNow()} <= ${yearSemester.scheduleEndDate}">강의
										계획서 등록</a></li></th:block>
							</ul></li>

						<li class="sidebar-item"><a
							th:href="@{/professor/courseList}" class='sidebar-link'> <i
								class="bi bi-grid-1x2-fill"></i> <span>E-Class</span>
						</a></li>
						<li class="sidebar-item  has-sub"><a
							href="#" class='sidebar-link'> <i
								class="bi bi-grid-1x2-fill"></i> <span>학사</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a th:href="@{/professor/notice}">학사
										공지사항</a></li>
								<li class="submenu-item "><a th:href="@{/professor/schedule}">학사
										일정</a></li>
							</ul></li>
					</ul>
				</div>
				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
	</th:block>
</body>
</html>