<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="studentHeaderFragment">
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo logo-size">
							<img class="mainImg" th:src="@{/images/portal_img.png}" 
							th:onclick="|location.href='@{/student}'|"> 
						</div>
						<div class="toggler">
							<a href="#" class="sidebar-hide d-xl-none d-block"><i
								class="bi bi-x bi-middle"></i></a>
						</div>
					</div>
				</div>
				<div class="sidebar-menu">
					<ul class="menu">
						<li class="sidebar-title">Menu</li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-stack"></i> <span>내
									정보</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a
									th:href="@{/student/studentInfoSelect}">개인 정보 관리</a></li>
								<li class="submenu-item "><a
									th:href="@{/student/studentStudyList}">학업 정보 조회</a></li>
								<li class="submenu-item "><a
									th:href="@{/student/semesterGradeSelect}">학기 성적 조회</a></li>
							</ul></li>
						
						<th:block th:with="pkg=${session.scheduleMap.get('pkg')},reg=${session.scheduleMap.get('reg')}">
						<li th:if="${#dates.createNow()} ge ${pkg.scheduleStartDate} and ${#dates.createNow()} lt ${reg.scheduleEndDate}"
						class="sidebar-item  has-sub">
							<a href="#" class='sidebar-link'> 
								<i class="bi bi-collection-fill"></i> <span>수강</span>
							</a>
							<ul class="submenu">
								<li class="submenu-item">
										<a 
										th:if="${#dates.createNow()} ge ${pkg.scheduleStartDate} and ${#dates.createNow()} lt ${pkg.scheduleEndDate}" 
										th:href="@{/student/coursePackage}" >
										수강꾸러미
									</a>
								</li>
								<li class="submenu-item ">
										<a 
										th:if="${#dates.createNow()} ge ${reg.scheduleStartDate} and ${#dates.createNow()} lt ${reg.scheduleEndDate}"
										th:href="@{/student/courseRegister}">
										수강신청
									</a>	
								</li>
							</ul>
						</li>
						</th:block>

						<li class="sidebar-item"><a th:href="@{/student/courseList}"
							class='sidebar-link'> <i class="bi bi-grid-1x2-fill"></i> <span>E-Class</span>
						</a></li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-grid-1x2-fill"></i> <span>학사</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a th:href="@{/student/notice}">학사
										공지사항</a></li>
								<li class="submenu-item "><a th:href="@{/student/schedule}">학사
										일정</a></li>
							</ul></li>
					</ul>
				</div>
				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
	</th:block>
</body>
</html>