<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="studentEclassHeaderFragment">
		<div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img th:src="@{/images/logo/logo.png}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>강의</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a th:href="@{/student/eclass/lectureList}">주별 강의 리스트</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/student/eclass/courseDetail}">강의 계획서</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/student/eclass/courseSurvey}">수강평 작성</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>과제</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="extra-component-avatar.html">aa</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-sweetalert.html">bb</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-toastify.html">cc</a>
                                </li>
                            </ul>
                        </li>
                        
                         <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>질문</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a th:href="@{/student/eclass/courseQuestion}">나의 질문보기</a>
                                </li>
                            </ul>
                        </li>
                        
                        
                        <li class="sidebar-item has-sub">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>시험</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item ">
                                    <a th:href="@{/student/eclass/examList}">강의 시험</a>
                                </li>
                            </ul>
                        </li>
                          <li class="sidebar-item has-sub">
                            <a th:href="@{/student/eclass/eclassnotice}" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>강의 공지사항</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
	</th:block>
</body>
</html>