<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="studentEclassHeaderFragment">
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo logo-size">
						<img class="mainImg" th:src="@{/images/portal_img.png}" 
						th:onclick="|location.href='@{/student/eclass/{courseCode}(courseCode = ${session.courseCode})}'|"> 
						</div>
						<div class="toggler">
							<a href="#" class="sidebar-hide d-xl-none d-block"><i
								class="bi bi-x bi-middle"></i></a>
						</div>
						<div>
							
						</div>
					</div>
				</div>
				<div class="sidebar-menu">
					<ul class="menu">
						<li class="sidebar-title lectureTitle" th:text="|강의명 : ${session.courseInfo.courseName}|">
						</li>
						<li class="sidebar-title">내 강의</li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-stack"></i> <span>강의</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a
									th:href="@{/student/eclass/lectureList}">주별 강의 리스트</a></li>
								<li class="submenu-item "><a
									th:href="@{/student/eclass/courseSurvey}">수강평 작성</a></li>
							</ul></li>

						<li class="sidebar-item"><a th:href="@{/student/eclass/progressRate}"
							class='sidebar-link'> <i class="bi bi-stack"></i> <span>학습
									진척도</span>
						</a></li>

						<li class="sidebar-item"><a th:href="@{/student/eclass/reportList}"
							class='sidebar-link'> <i class="bi bi-collection-fill"></i> <span>과제</span>
						</a></li>

						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-collection-fill"></i> <span>모아보기</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item ">
									<a th:href="@{/student/eclass/myNotes}">강의 노트 모아보기</a>
								</li>
								<li class="submenu-item "><a
									th:href="@{/student/eclass/courseQuestion}">나의 질문 모아보기</a></li>
							</ul></li>


						<li class="sidebar-item"><a th:href="@{/student/eclass/examList}"
							class='sidebar-link'> <i class="bi bi-grid-1x2-fill"></i> <span>시험</span>
						</a></li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i class="bi bi-stack"></i> <span>강의
									공지사항</span>
						</a>
							<ul class="submenu ">
								<li class="submenu-item "><a
									th:href="@{/student/eclass/courseDetail}">강의 계획서</a></li>
								<li class="submenu-item "><a
									th:href="@{/student/eclass/eclassnotice}">강의 공지사항 리스트</a></li>
							</ul></li>
					</ul>
				</div>
				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
	</th:block>
</body>
</html>