.page-title {
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 3%;
}

.lecture-title {
	height: 80px;
	background: #435ebe;
}

.studentExamContainer {
	padding: 3%;
}

.bold {
		font-weight: bold;
		font-size: large;
}

.omrCard {
	padding: 3%;
}
	
.btnContainer {
	text-align: center;
	margin: 2%;
}


.lecture-card {
	border: 1px solid #eee;
	border-radius: 10px;
	margin: 2%;
}
	
.learnInfo .learnBtn {
	display: inline;
}
	
.learnBtn {
	width: 15%;
	line-height: 100%;
}
	
.goLearnBtn {
	font-size: 1.25em;
}

.right {
	margin-top: 3%;
	text-align: right;	
}

.center {
	text-align: center;
}

input[name="tabs"] {
	display: none;
}

.tabmenu {
	display: inline-block;
	width: 15%;
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: rgba();
	font-size: small;
	color: #435ebe;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.tabmenu:hover {
	background: #435ebe;
	color: #fff;
	cursor: pointer;
}

input[name="tabs"] + .tabmenu {
	border-top: 1px solid #435ebe;
	border-left: 1px solid #435ebe;
	border-right: 1px solid #435ebe;
	border-bottom: 1px solid #ffffff;
}

.col-md-4 {
	text-align: left;
	font-weight: bold;
	color: #25396f;
}

.inputBox {
	padding: 3% 10% 3% 10%;
}

.paging {
	height: 700px;
}

.prevBtn {
	float: left;
}

.nextBtn {
	float: right;
}

.prevBtn, .nextBtn {
	margin-bottom: 8%;
	width: 80px;
}

.prevBtn i, .nextBtn i {
	font-size: x-large;
}

.hidePage {
	display: none;
}

.lecture-box {
	height: 95vh;
}

.horizontal-title {
	display: inline-block;
	padding-left: 1%;
	height: 60px;
	width: 100%;
	background-color: #435ebe; 
	line-height: 60px;
}

.horizontal-title span {
	margin: 0% 1% 0% 1%;
}

.horizontal-title a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.offPage {
	display: none;
}

.notecard {
	height: 100px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 90%;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 2%;
	float: left;
}

.notecard:hover {
	cursor:pointer;
	
}
	
.notecard-visible {
	overflow: visible;
	height: auto;
	width: auto;
}
.board-content-box {
	overflow: scroll;
	height: 50vh;
	margin-bottom: 2%;
}

.tab-title {
	margin: 4%;
}	

.scroll {
	overflow: scroll;
	height: 600px;
}
