.page-title {
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 3%;
}

.studentExamContainer {
	padding: 3%;
}

.bold {
		font-weight: bold;
		font-size: large;
}

.omrCard {
	padding: 3%;
}
	
.btnContainer {
	text-align: center;
	margin: 2%;
}


.lecture-card {
	border: 1px solid #eee;
	border-radius: 10px;
	margin: 2%;
}
	
.learnInfo .learnBtn {
	display: inline;
}
	
.learnBtn {
	width: 15%;
	line-height: 100%;
}
	
.goLearnBtn {
	font-size: 1.25em;
}

.right {
	margin-top: 3%;
	text-align: right;	
}

.center {
	text-align: center;
}

input[name="tabs"] {
	display: none;
}

.tabmenu {
	display: inline-block;
	width: 15%;
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: rgba();
	font-size: small;
	color: #435ebe;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.tabmenu:hover {
	background: #435ebe;
	color: #fff;
	cursor: pointer;
}

input[name="tabs"] + .tabmenu {
	border-top: 1px solid #435ebe;
	border-left: 1px solid #435ebe;
	border-right: 1px solid #435ebe;
	border-bottom: 1px solid #ffffff;
}

.col-md-4 {
	text-align: left;
	font-weight: bold;
	color: #25396f;
}

.inputBox {
	padding: 3% 10% 3% 10%;
}

.paging {
	height: 700px;
}
