<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>나의 정보 조회/수정</title>
</head>
<body>
	<th:block layout:fragment="professorContent">
	<div id="main">
		<div>
			<h2>내 정보 조회/수정</h2>
		</div>
		<div class="card">
		<table>
					<tr>
						<td><img th:src="|/download/${professorInfo.professorImg}|" class="faceImg"></td>
					</tr>
				</table>
		<table class="table">
			<tr>
				<th>담당학과</th>
				<td th:text="${professorInfo.departName}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="${professorInfo.professorName}"></td>
			</tr>
			<tr>
				<th>생년월일</th>
				<td th:text="${#dates.format(professorInfo.professorBirth, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<th>연락처</th>
				<td th:text="${professorInfo.professorPhone}"></td>
			</tr>
			<tr>
				<th>이메일</th>
				<td th:text="${professorInfo.professorEmail}"></td>
			</tr>
			<tr>	
				<th>주소</th>
				<td th:text="${professorInfo.professorAddr}"></td>
			</tr>
		</table>
		<button class="btn btn-primary buttonmod" id="mod">수정</button>
	</div>
	</div>
	</th:block>
</body>
</html>