<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/security_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="bodyContent">
		<div id="passwordContainer" class="container">
			<div class="row">
				<div class="form-header">
					<h3>비밀번호 찾기</h3>
				</div>
				<div>
					<label>아이디 확인 </label> 
					<input type="text"
						class="form-control inline width-eight" 
						placeholder="아이디를 입력해주세요."
						name="id">
					<button type="button" 
						class="inline btn btn-md btn-primary"
						id="idBtn"
						th:onclick="verifyId()">인증</button>
				</div>
				<div>
					<label>이메일 인증 </label> 
					<input type="email"
						class="form-control inline width-eight" 
						name="address"
						placeholder="본인 이메일을 인증해주세요.">
					<button type="button" 
						class="inline btn btn-md btn btn-primary disabled"
						id="emailBtn"
						th:onclick="verifyEmail()">인증</button>
				</div>
				<div>
					<label>인증 코드</label> 
					<input type="text"
						name="userCode"
						class="form-control inline width-six" 
						placeholder="인증 코드를 입력해주세요.">
					<input type="hidden" 
					name="code">
					<button type="button" 
						class="inline btn btn-md btn btn-primary disabled"
						id="verifyCodeBtn"
						th:onclick="verifyCode()">인증</button>
				</div>
				<div>
					<label>이메일 입력 </label> 
					<input type="email"
						class="form-control inline width-eight" 
						name="address"
						placeholder="임시 비밀번호를 받을 이메일을 입력해주세요.">
					<button type="button" 
						class="inline btn btn-md btn-primary disabled"
						id="sendEmailBtn"
						th:onclick="tempPwd()">전송</button>
				</div>
				<div class="center">
					<button type="button" class="btn btn-primary"
					th:onclick="|location.href='@{/login}'|">Go Login</button>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			$(function() {
			})

			function verifyId() {
				let data = {id : $("input[name=id]").val()};
				$.ajax({
					method : 'POST',
					url : `/mail/verifyId`,
					data: data,
					success: function(result) {
						if (result == 'success') {
							fireSwal('success', '아이디 인증을 완료했습니다.');
							$("#idBtn").addClass("disabled");
							$("#emailBtn").removeClass("disabled");
						}
						if (result == 'error') {
							fireSwal('warning', '아이디 인증에 실패했습니다. 다시 확인해주시기 바랍니다.');
							$("input[name=id]").val('');
						}
					}
				})
			}

			function verifyEmail() {
				let data = {address : $("input[name=address]").val()};
				$.ajax({
					method : 'POST',
					url : `/mail/verifyEmail`,
					data: data,
					success: function(result) {
						fireSwal('info', '인증 코드 전송이 완료되었습니다. 인증 코드를 입력해주세요.');
						$("input[name=code]").val(result);
						$("#emailBtn").addClass("disabled");
						$("#verifyCodeBtn").removeClass("disabled");
					}
				})
			}
			
			function verifyCode() {
				let code = $("input[name=code]").val();
				let userCode = $("input[name=userCode]").val();
				if (code == userCode) {
					fireSwal('success', '인증 코드 확인을 완료했습니다.');
					$("#verifyCodeBtn").addClass("disabled");
					$("#sendEmailBtn").removeClass("disabled");
				} else {
					fireSwal('error', '인증 코드 인증에 실패했습니다.');
				}
			}
			
			function tempPwd() {
				let data = {
						id : $("input[name=id]").val(),
						address : $("input[name=address]").val()
						};
				$.ajax({
					method : 'POST',
					url : `/mail/tempPwd`,
					data : data,
					success : function(result) {
						fireSwal('success', '임시 비밀번호 발급이 완료되었습니다.')
							.then(function(result) {
								if (result.isConfirmed) {
									location.href=`/login`;
								}
							})
					},
					error : function(error) {
						console.log(error);
					}
				})
			}
		</script>
	</th:block>
</body>
</html>