<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.course.service.CourseMapper">
	
	
	<resultMap id = "courseWeekMap" type="com.project.portal.course.service.CourseVO">
		<id column="course_code" property="courseCode"/>
		<result column="course_year" property="courseYear"/>
		<result column="course_semester" property="courseSemester"/>
		<result column="course_name" property="courseName"/>
		<collection property="weekPlans" ofType="com.project.portal.course.service.CourseWeeklyVO">
			<id column="week_code" property="weekCode"/>
			<result column="week_num" property="weekNum"/>
			<result column="week_content" property="weekContent"/>
			<result column="week_start_date" property="weekStartDate"/>
			<result column="week_end_date" property="weekEndDate"/>
		</collection>
	</resultMap>
	<select id="getWeeklyInfo" resultMap="courseWeekMap">
		SELECT * FROM course_week_plan_vu
		WHERE course_code = #{courseCode}
	</select>
	
	<select id="allCourseList" resultType="com.project.portal.course.service.CourseVO">
		select professor_id, 
				course_year, 
				course_semester, 
				course_sortation, 
				course_name 
		from course
		where professor_id = 220002
		order by course_year desc, course_semester desc
	</select>
	
</mapper>