<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/no-nav_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="bodyContent">
		<div class="studentExamContainer">
			<input id="studentId" type="hidden" value="22000005"> <input
				id="examCode" type="hidden" th:value="${examInfo.examCode}">
			<div class="page-title">
				<h2>시험</h2>
			</div>
			<div id="testMain">
				<div class="col-12">
					<div class="col-2 col-lg-2 card"
						style="text-align: center; position: fixed; top: 5%; left: 81%;">
						<label for="timer">잔여 시간: </label><input id="timer" type="text"
							th:data-duration="${examInfo.examDuration}" value="" readonly>
						<h3 align="center" class="card-header">OMR</h3>
						<div class="omrCard">
							<table class="table card-body">
								<tr
									th:each="num : ${#numbers.sequence(1, #lists.size(studentExam))}">
									<th th:text="${num}"></th>
									<td><i class="fa-regular fa-1"></i></td>
									<td><i class="fa-regular fa-2"></i></td>
									<td><i class="fa-regular fa-3"></i></td>
									<td><i class="fa-regular fa-4"></i></td>
								</tr>
							</table>
						</div>
						<div class="btnContainer">
							<button id="submitBtn" class="btn btn-primary" type="button"
								th:onclick="submitTest">제출하기</button>
						</div>
					</div>
					<div class="col-9" style="float: left;">
						<div th:each="examPaper, index: ${studentExam}"
							th:data-q-num="${examPaper.examQuestionNum}" class="exam card">
							<p class="card-header"
								th:text="|${index.index + 1}. ${examPaper.examQuestion.questionContent} (${examPaper.examQuestionPoint}점)|"></p>
							<input type="hidden"
								th:value="${examPaper.examQuestion.questionAnswer}"
								th:data-point="${examPaper.examQuestionPoint}">
							<div class="testContainer card-body">
								<th:block th:each="option: ${examPaper.examQuestion.optionList}">
									<input type="radio" 
										th:name="${examPaper.examQuestionNum}"
										th:data-num="${index.index + 1}"
										th:data-point="${examPaper.examQuestionPoint}"
										th:data-value="${option.questionOptionNum}"
										th:text="| ${option.questionOptionContent}|" />
								</th:block>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>
		<script th:inline="javascript">
			$(function() {
				omrMarking();
				examTimer();
				examTimeOut();
				submitTest();
				
				// OMR 마킹
				function omrMarking() {
					$(".testContainer").on("change", "input", function(e) {
							let omr = $("table th");
							let num = $(e.target).data("num");
							let value = $(e.target).data("value");
							$(omr).each(function(idx, elem) {
								if (num == $(elem).text()) {
									let omrOption = $(elem).siblings();
									$(omrOption).removeClass("text-primary bold");
									$(omrOption[value-1]).addClass("text-primary bold");
								}
							});
					})
				}
				
				// 시험 잔여 시간 타이머
				function examTimer() {
					// 1분 = 60초
					let totalTime = $("#timer").data("duration") * 1000;
					let min = $("timer").data("duration");
					let sec = 60;
					examTimer = setInterval(function() {
						// 시간 계산 
						totalTime = totalTime - 1000;
						min = totalTime/(60*1000);
						let timeMin = (min >= 10) ? Math.floor(min) : "0" + Math.floor(min);
						let timeSec = '';
						if (sec > 0) {
							sec = sec - 1;
							timeSec = (sec >= 10) ? sec : "0" + sec;
						}
						if (sec === 0) {
							sec = 60;
							timeSec = "00";
						}
						$("#timer").val(timeMin + ":" + timeSec);
					}, 1000);
				}
				
				// 시험 시간 종료
				function examTimeOut() {
					let totalTime = $("#timer").data("duration") * 1000;
					setTimeout(function() {
						clearInterval(examTimer);
						$("#submitBtn").trigger("click");
					}, totalTime);
				}
			
			})
			
			// 답지 내기
			function submitTest() {
				$(document).on("click", "#submitBtn", function() {
					
					// 학생의 시험 제출지
					let answerList = [];
					let totalScore = 0;
					let studentAnswers = document.querySelectorAll(".exam");
					studentAnswers.forEach((elem, index) => {
						let option = $($(elem).children(".testContainer")).children();
						let right = $(elem).children("input[type=hidden]");
						let answer = {
							examCode : document.querySelector("#examCode").value,
							examQuestionNum : $(elem).data("q-num"),
							studentQuestionNum : index + 1,
							studentQuestionAnswer : option.index(option.filter(":checked")) + 1,
							studentId : document.querySelector("#studentId").value
						}
						answer.studentRightOption = 
							$(right).val() == answer.studentQuestionAnswer ? $(right).data("point") : 0;
						answerList.push(answer);
						totalScore += answer.studentRightOption;
					})
					
					// 학생 시험
					let examScore = {
						studentId : document.querySelector("#studentId").value,
						examCode : document.querySelector("#examCode").value,
						examScore : totalScore,
						examTake : 'SUB'
					}
					
					let data = {
						answer : answerList,
						score : examScore
					}

					$.ajax({
						method : 'POST',
						url : 'examTake',
						contentType : 'application/json; charset=utf-8',
						data : JSON.stringify(data),
						success : function(result) {
							console.log(result);
							window.location.href="/student/exam";
						}
					})
				});
			}
			
			
		</script>
</body>
</html>