<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="studentContent">
		<div id="main">
			<div>
				<h2>Student Test</h2>
			</div>
			<div id="testMain">
				<div class="col-12">
					<div class="col-2 col-lg-2 card"
						style="text-align: center; position: fixed; top: 5%; left: 81%;">
						<h3 align="center" class="card-header">OMR</h3>
						<div>
						<table class="table card-body">
							<tr
								th:each="num : ${#numbers.sequence(1, #lists.size(studentExam))}">
								<th th:text="${num}"></th>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
						</table>
						</div>
						<div th:align="center">
							<button id="submitBtn" class="btn btn-primary" type="button"
								th:onclick="submitTest()">제출하기</button>
						</div>
					</div>
					<div class="col-9" style="float: left;">
						<div th:each="examPaper, index: ${studentExam}" class="card">
							<p class="card-header"
								th:text="|${index.index + 1}. ${examPaper.examQuestion.questionContent}|"></p>
							<th:block th:each="option: ${examPaper.examQuestion.optionList}">
								<div id="testContainer" class="card-body">
									<label><input type="radio"
										th:name="${examPaper.examQuestionNum}"
										th:data-num="${index.index + 1}"
										th:data-answer="${examPaper.examQuestion.questionAnswer}"
										th:data-point="${examPaper.examQuestionPoint}"
										th:value="${option.questionOptionNum}" />
										[[${option.questionOptionContent}]]</label>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>


		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>
		<script th:inline="javascript">
			$(function() {
				
				omrMarking();
				
				// OMR 마킹
				function omrMarking() {
					$("#testMain").on("change", "input", function() {
							let omr = $("table th");
							let num = $(this).data("num");
							let value = $(this).val();
							$(omr).each(function(idx, elem) {
								if (num == $(elem).text()) {
									$($(elem).siblings()[value - 1]).css("font-weight", "bold");
								}
							});
					})
				}
				
			
			})
	
			// SweetAlert
/* 			function unfinished() {
					Swal.fire({
						text: '모든 문제를 풀지 않았습니다. 시험을 제출하시겠습니까?',
						icon: 'warning',
						confirmButtonText: '예',
						cancelButtonText: '아니오',
						showCancelButton: true
					})
				console.log(yes);
				console.log(promiseState(yes));
			} */
			
			// 답지 내기
			function submitTest() {
				let answerList = [];
				let answers = document.querySelectorAll("input:checked");
				console.log(answers);
				if (answers.length < document.querySelectorAll("#main .card-header").length) {
					let result = unfinished();
					console.log(result);
				}
				answers.forEach((answer, index) => {
					let studentAnswer = {
							examQuestionNum : answer.getAttribute("name"),
							studentQuestionNum : answer.dataset.num,
							studentRightOption : (answer.getAttribute("value") == answer.dataset.answer) ? answer.dataset.point : 0,
							studentQuestionAnswer : answer.getAttribute("value")
					};
					answerList.push(studentAnswer);
				})	
				console.log(answerList);
			}
		</script>
</body>
</html>