<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="adminContent">
		<div id="main" class="page-title">
			<div class="grid-container-four">
				<div class="gridImg grid-item"
					style="background-image: url(/images/btnImg/people2.png);"
					th:onclick="|location.href='@{/admin/studentList}'|">
					<h3>학생 정보 관리</h3>
				</div>
				<div class="gridImg grid-item"
				style="background-image: url(/images/btnImg/people3.png);"
					th:onclick="|location.href='@{/admin/professorList}'|">
					<h3>교직원 정보 관리</h3>
				</div>
				<div class="grid-item gridImg"
					style="background-image: url(/images/btnImg/couresCheck.png);"
					th:onclick="|location.href='@{/admin/adminTempList}'|">
					<h3>강의 관리</h3>
				</div>
				<div class="grid-item gridImg"
				style="background-image: url(/images/btnImg/calendar2.png);"
					th:onclick="|location.href='@{/admin/schedule}'|">
					<h3>학사 일정 관리</h3>
				</div>
			</div>
			<div class="grid-container-two">
				<div class="grid-item">
					<div class="card height-eight">
						<div class="card-header">
							<h4 class="center">이번 달 학사 일정</h4>
						</div>
						<div class="card-body">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<div class="card height-eight no-bottom">
						<div class="card-header">
							<h4 class="center">공지사항</h4>
						</div>
						<div class="card-body">
							<div id="noticeFragment">
							</div>
						</div>
					</div>
					<div align="right">
						<span><a th:href="@{/admin/notice}">+more</a></span>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			$(function() {
				monthlyCalendar();
				getNotice("admin");
			})

			// 이달의 정보 
			function getCalendar() {
				return $.ajax({
					method : 'POST',
					url : `/admin/getMonthly`,
				})
			}
		</script>
	</th:block>
</body>
</html>