<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.professor.service.ProfessorMapper">
	
	<select id="professorInfo" resultType="com.project.portal.professor.service.ProfessorVO">
		select p.professor_id,
				p.professor_name,
				p.professor_birth,
				p.register_date,
				p.professor_addr,
				p.professor_daddr,
				p.professor_postal_code,
				p.professor_phone,p.professor_email,
				p.professor_img,
				 depart_name
		from professor p
		join department d
		on p.depart_code = d.depart_code
		where p.professor_id = #{professorId}
	</select>
	
	<select id="getTotal" parameterType="com.project.portal.professor.service.ProfessorVO" resultType="int">
		select count(*) 
		from (
			select *
			from professor p
			join department d
			on p.depart_code = d.depart_code
			)
		<where>
			<if test="keyword != '' and keyword != null or type != '' and type != null">
				<if test="keyword == ''and type != ''">
					professor_name = #{keyword}	or depart_name = #{type}
				</if>
				<if test="keyword != '' and type == ''">
					professor_name = #{keyword}	or depart_name = #{type}
				</if>
				<if test="keyword != '' and type != ''">
					professor_name = #{keyword}	and depart_name = #{type}
				</if>
			</if>
		</where>
	</select>
	
	
	<select id="professorList" resultType="com.project.portal.professor.service.ProfessorVO">
		select *
		from (
				select ROWNUM r,
		                professor_id, 
		                professor_name, 
		                professor_birth, 
		                professor_addr, 
		                professor_daddr, 
		                professor_postal_code, 
		                professor_phone, 
		                professor_email, 
		                professor_img, 
		                depart_name 
		        from(
				        select 
				                p.professor_id, 
				                p.professor_name, 
				                p.professor_birth, 
				                p.professor_addr, 
				                p.professor_daddr, 
				                p.professor_postal_code, 
				                p.professor_phone, 
				                p.professor_email, 
				                p.professor_img, 
				                d.depart_name 
				        from professor p
				        join department d
				        on p.depart_code = d.depart_code
				        order by professor_id
		)
			<where>
				<if test="keyword != '' and keyword != null or type != '' and type != null">
					<if test="keyword == ''and type != ''">
						professor_name = #{keyword}	or depart_name = #{type}
					</if>
					<if test="keyword != '' and type == ''">
						professor_name = #{keyword}	or depart_name = #{type}
					</if>
					<if test="keyword != '' and type != ''">
						professor_name = #{keyword}	and depart_name = #{type}
					</if>
				</if>
			</where>
		)
		<![CDATA[
        WHERE R BETWEEN (#{pageNum}) * #{amount} -9 AND #{pageNum} * #{amount}
        ]]>
	</select>
	
	<select id="adminProfessorInfoSelect" resultType="ProfessorVO">
		select p.professor_id,
				p.professor_name,
				p.professor_birth,
				p.register_date,
				p.professor_addr,
				p.professor_daddr,
				p.professor_postal_code,
				p.professor_phone,p.professor_email,
				p.professor_img,
				 depart_name
		from professor p
		join department d
		on p.depart_code = d.depart_code
		where p.professor_id = #{professorId}
	</select>
	
	<update id="professorInfoUpdate" parameterType="com.project.portal.professor.service.ProfessorVO" >
		update professor
		set professor_phone = #{professorPhone},
			professor_email = #{professorEmail},
			professor_addr = #{professorAddr},
			professor_daddr = #{professorDaddr},
			professor_postal_code = #{professorPostalCode}
		where professor_id = #{professorId}
	</update>
</mapper>