<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.professor.service.ProfessorMapper">
	
	<select id="professorInfo" resultType="com.project.portal.professor.service.ProfessorVO">
		select p.professor_name,
				p.professor_birth,
				p.professor_addr,
				p.professor_daddr,
				p.professor_postal_code,
				p.professor_phone,p.professor_email,
				p.professor_img,
				 depart_name
		from professor p
		join department d
		on p.depart_code = d.depart_code
		where p.professor_id = #{professorId}
	</select>
	
	<select id="professorList" resultType="com.project.portal.professor.service.ProfessorVO">
		select *
		from professor p
		join department d
		on p.depart_code = d.depart_code
		order by professor_id asc
	</select>
	
	<select id="adminProfessorInfoSelect" resultType="ProfessorVO">
		select p.professor_name,
				p.professor_birth,
				p.professor_addr,
				p.professor_daddr,
				p.professor_postal_code,
				p.professor_phone,p.professor_email,
				p.professor_img,
				 depart_name
		from professor p
		join department d
		on p.depart_code = d.depart_code
		where p.professor_id = #{professorId}
	</select>
	
	<update id="professorInfoUpdate" parameterType="com.project.portal.professor.service.ProfessorVO" >
		update professor
		set professor_phone = #{professorPhone},
			professor_email = #{professorEmail},
			professor_addr = #{professorAddr},
			professor_daddr = #{professorDaddr},
			professor_postal_code = #{professorPostalCode}
		where professor_id = #{professorId}
	</update>
</mapper>