<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.offPage {
		display:none;
	}
	.scroll {
		overflow: scroll;
		height: 700px;
	}
	.card {
		padding: 3%;
	}
</style>
</head>
<body>
	<th:block layout:fragment="professorEclassContent">
		<div id="main">
		<div class="paging">
			<div class="row">
				<div>
					<h2>시험 생성하기</h2>
					<div align="right">
				<button class="btn btn-md btn-primary"
				type="button" id="tempSaveBtn" th:onclick="">임시저장</button>
				</div>
				</div>
				<div class="card">
				<div class="card-header">
					<h4>시험 기본 정보</h4>
					</div>
					<div class="card-body">
					<form name="frm">
					<table>
						<tr>
							<th>시험 종류</th>
							<td><select name="examCode">
								<option value="">시험 종류를 선택해주세요.</option>
								<option value="M">중간</option>
								<option value="F">기말</option>
							</select></td>
						</tr>
						<tr>
							<th>시험 주차</th>
							<td><select name="weekCode">
									<option value="">주차를 선택해주세요.</option>
								<th:block th:each="week : ${courseInfo.weekPlans}">
									<option th:value="${week.weekCode}">[[${week.weekNum}]]주차</option>
								</th:block>
							</select></td>
						</tr>
						<tr>
							<th>시험 시작일</th>
							<td><input type="date" name="examStartDate"></td>
						</tr>
						<tr>
							<th>시험 마감일</th>
							<td><input type="date" name="examEndDate"></td>
						</tr>
						<tr>
							<th>시험 응시 시간</th>
							<td><input type="number" name="examDuration" value=0></td>
						</tr>
						<tr>
							<th>시험 총 문항수</th>
							<td><input type="number" name="examTotalQuestion" value=0></td>
						</tr>
						<tr>
							<th>시험 총 배점</th>
							<td><input type="number" name="examTotalScore" value=0></td>
						</tr>
					</table>
					</form>
				</div>
				</div>
			</div>
			</div>
			<div class="paging offPage">
			<div class="row">
			<th:block th:replace="/layout/fragments/testList :: testListFragment">
			</th:block>
			</div>
			</div>
			<div class="paging offPage">
				<th:block th:replace="/layout/fragments/makeTest :: makeTestFragment">
				</th:block>
			</div>
			</div>
			<script th:inline="javascript">
			
			$(function() {
				showPage();
				saveTestInfo(); 
			})
			
			// 탭 형식으로 보이기
			function showPage() {
			let icons = $("#pagingNum button");
			$(icons).each((index, val) => {
				$(val).on("click", function(e) {
					let page = $(".paging");
					$(page).each((idx, val) => {
						$(val).addClass('offPage');
					})
					$(page[index]).removeClass('offPage');
				})
			})
			}
			
			// 시험지 정보 저장(임시 저장 또는 저장)
			function saveTestInfo() {
				$("#tempSaveBtn").click(function() {
					$.ajax({
						type : 'POST',
						url : 'generateTestPaper',
						dataType : 'JSON',
						data : $("form[name=frm]").serialize()
					})
						.then(function(result) {
							Swal.fire({
								icon: 'success',
								title : '임시저장이 완료되었습니다.',
								showConfirmButton: true
							})
						})
				});
			}
			</script>
			<div id="pagingNum" align="center">
<button type="button" th:onclick="showPage"><i class="the-icon">
<svg class="svg-inline--fa fa-circle fa-w-16 fa-fw select-all" 
aria-hidden="true" focusable="false" data-prefix="fas" 
data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" 
viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" 
d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
</path></svg>
</i></button>

<button type="button" th:onclick="showPage"><i class="the-icon">
<svg class="svg-inline--fa fa-circle fa-w-16 fa-fw select-all" 
aria-hidden="true" focusable="false" data-prefix="fas" 
data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" 
viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" 
d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
</path></svg>
</i></button>

<button type="button" th:onclick="showPage">
<i class="the-icon">
<svg class="svg-inline--fa fa-circle fa-w-16 fa-fw select-all" 
aria-hidden="true" focusable="false" data-prefix="fas" 
data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" 
viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" 
d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
</path></svg>
</i></button>
</div>
	</th:block>
</body>
</html>