<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<th:block layout:fragment="studentEclassContent">

		<div id="main">
			<div class="page-title">
				<h3 class="inline">강의 계획서</h3>
				<button type="button" class="inline btn btn-danger btn-sm"
				th:onclick="openJasper([[${courseDetail.courseCode}]])">PDF 프린트</button>
			</div>
			<div class="card">
				<div class="card-body">
					<table class="table" style="width: 90%">
						<tr>
							<td style="width: 25%">강의명</td>
							<td th:text="${courseDetail.courseName}"></td>
							<td style="width: 25%">이수구분</td>
							<td th:text="${courseDetail.courseSortation}"></td>
						</tr>

						<tr>
							<td style="width: 25%">강의코드</td>
							<td th:text="${courseDetail.courseCode}"></td>
							<td style="width: 25%">학과</td>
							<td th:text="${courseDetail.departName}"></td>
						</tr>

						<tr>
							<td>학점</td>
							<td th:text="${courseDetail.courseCredit}"></td>
							<td>교수명</td>
							<td th:text="${courseDetail.professorName}"></td>
						</tr>

						<tr>
							<td>Email</td>
							<td colspan="3" th:text="${courseDetail.professorEmail}"></td>
						</tr>
					</table>
				</div>

				<br>
				<h2 class="card-header">세부내용</h2>
				<div class="card-body">
					<table class="table">
						<tr>
							<td id="courseSummary" th:utext="${courseDetail.courseSummary}">세부내용입니다.</td>
						</tr>
					</table>
				</div>
				<br>

				<div class="card-header">
					<h2>주별계획</h2>
				</div>
				<div class="card-body">
					<table class="table" style="width: 80%">
						<thead>
							<tr style="text-align:center">
								<th width="3%">주차</th>
								<th width="50%">강의 범위 및 내용</th>
							</tr>

							<tr th:each="courseWeekDetail : ${courseWeekDetail}" style="text-align:center">
								<td th:text="${courseWeekDetail.weekNum}"></td>
								<td th:text="${courseWeekDetail.weekContent}"></td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			function openJasper(courseCode) {
				window.open("/student/eclass/pdf/" + courseCode, "강의계획서 PDF");
			}
		</script>

	</th:block>
</body>
</html>