<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="professorEclassContent">
		<div id="main">
			<div class="page-title">
				<h3>수강생 시험 성적 조회</h3>
			</div>
			<div class="card height-sevenh">
				<div class="card-header">
					<form th:action="@{/professor/eclass/examScore}" method="GET">
						<input type="hidden" name="pageNum" value="1">
						<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
						<select class="inline form-select width-one" name="type" 
							th:onchange="keywordOpen(this)">
							<option value=""></option>
							<option th:selected="${pageMaker.cri.type == 'student_id'}" value="student_id">학번</option>
							<option th:selected="${pageMaker.cri.type == 'exam_code'}" value="exam_code">시험</option>
						</select>
						<select id="k-exam_code" class="hidePage form-select width-two keyword" 
						th:classappend="${pageMaker.cri.type == 'exam_code'} ? inline : hidePage"
						th:name="${pageMaker.cri.type == 'exam_code'} ? keyword">
							<option th:selected="${pageMaker.cri.keyword == 'M'}" value="M">중간</option>
							<option th:selected="${pageMaker.cri.keyword == 'F'}" value="F">기말</option>
						</select>
						<input type="text" id="k-student_id" class="form-control width-two keyword" 
						th:value="${pageMaker.cri.keyword}"
						th:classappend="${pageMaker.cri.type == 'student_id'} ? inline : hidePage" 
						th:name="${pageMaker.cri.type == 'student_id'} ? keyword"
						placeholder="학번을 입력해주세요.">
						<button type="submit" class="inline btn-primary btn btn-sm">검색</button>
						<button type="button" th:onclick="removeVal()" class="inline btn-secondary btn btn-sm">취소</button>
					</form>
				</div>
				<div class="card-body">
					<table class="table center" id="scoreTable">
						<thead class="thead-primary">
							<tr>
								<th>학번</th>
								<th>성명</th>
								<th>시험</th>
								<th>응시여부</th>
								<th>성적</th>
							</tr>
						</thead>
						<tbody class="tbody-center">
							<tr th:each="s : ${scores}">
								<td th:text="${s.studentId}"></td>
								<td th:text="${s.studentName}"></td>
								<td th:text="${#strings.startsWith(s.examCode, 'M')} ? '중간' : '기말'"></td>
								<td th:text="${s.examTake == 'SUB'} ? '응시' : '미응시'"></td>
								<td th:text="${s.examScore != NULL} ? ${s.examScore} + '점' : '-'"></td>
							</tr>
						</tbody>
					</table>
					<div th:object="${pageMaker}" th:with="cri = ${pageMaker.cri}">
						<ul class="pagination justify-content-center">
							<th:block th:if="${pageMaker.prev}">
								<li class="page-item prev"><a class="page-link"
									href="javascript:void(0)"
									th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.startPage - 1, cri.amount, cri.type, cri.keyword)}]])">이전</a>
								</li>
							</th:block>
							<th:block th:with="pageMaker = ${pageMaker}">
								<th:block
									th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item"
										th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
										<a class="page-link" href="javascript:void(0)"
										th:text="${num}"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(num, cri.amount, cri.type, cri.keyword)}]])"></a>
									</li>
								</th:block>
								<th:block th:if="${pageMaker.next}">
									<li class="page-item next"><a class="page-link"
										href="javascript:void(0)"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.endPage + 1, cri.amount, cri.type, cri.keyword)}]])">다음</a>
									</li>
								</th:block>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			function keywordOpen(select) {
				$(".keyword").removeClass("inline").addClass("hidePage").removeAttr("name");
				if (select.value != '') {
					$("#k-" + select.value).removeClass("hidePage").addClass("inline").attr("name", "keyword");
				}
			}
			
			function removeVal() {
				$(".keyword").val('');
			}
		</script>
	</th:block>
</body>
</html>