
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.offPage {
	display: none;
}

.card {
	padding: 3%;
}
</style>
</head>
<body>
	<th:block layout:fragment="professorEclassContent">
		<div id="main">
			<div>
				<div class="row">
					<div class="page-title">
						<h2>시험 생성하기</h2>
					</div>
					<div class="right">
						<input id="tab1" type="radio" name="tabs" checked> <label
							for="tab1" class="tabmenu">시험 기본 정보</label> <input id="tab2"
							type="radio" name="tabs"> <label for="tab2"
							class="tabmenu offPage">시험지 정보 불러오기</label> <input id="tab3"
							type="radio" name="tabs"> <label for="tab3"
							class="tabmenu offPage">시험 문제 생성하기</label>
					</div>
					<th:block th:if="${command} == 1">
						<div class="card paging">
							<th:block
								th:replace="/layout/fragments/professor-eclass/newTestInfo :: testInfoFragment">
							</th:block>
						</div>
					</th:block>
					<th:block th:if="${command} == 2">
						<th:block th:each="exam : ${examList}">
							<div class="card paging">
								<th:block
									th:replace="/layout/fragments/professor-eclass/updateTestInfo :: testInfoFragment">
								</th:block>
							</div>
							<div class="card paging offPage">
								<div class="row">
									<th:block
										th:replace="/layout/fragments/professor-eclass/testList :: testListFragment">
									</th:block>
								</div>
							</div>
							<div class="card paging offPage">
								<th:block
									th:replace="/layout/fragments/professor-eclass/makeTest :: makeTestFragment">
								</th:block>
							</div>
						</th:block>
					</th:block>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			
			$(function() {
				showPage();
				saveExamInfo(); 
				enterDate(); 
			})
			
			// 탭 형식으로 보이기
			function showPage() {
			let icons = $("input[name=tabs]");
			$(icons).each((index, val) => {
				$(val).on("click", function(e) {
					if ($(val).is(":checked")) {
						let page = $(".paging");
						$(page).each((idx, val) => {
							$(val).addClass('offPage');
						})
						$(page[index]).removeClass("offPage");
					}
				})
			})
			}
			
			// 시험 시작/마감 날짜 주차 기준으로 자동 불러오기
			function enterDate() {
				$(document).on("change", "select[name=weekCode]", function(e) {
					let startDate = $($(e.target).children(":selected")).data("start");
					let endDate = $($(e.target).children(":selected")).data("end");
					$("input[name=examStartDate]").val(startDate);
					$("input[name=examEndDate]").val(endDate);
				})
			}
			
			// 시험 정보 저장
			function saveExamInfo() {
				$(document).on("click", ".saveBtn", function() {
					$.ajax({
						type : 'POST',
						url : 'examInsert',
						contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
						data : $("#examInfoForm").serialize(),
						success : function(result) {
							location.href=`/professor/eclass/examInsert/` + result.examCode;
						}
					})
				})
			}
			</script>
	</th:block>
</body>
</html>