<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.dataTables_paginate {
		text-align: center;
	}
	.paginate_button {
		background: #435ebe;
		padding: 2% 4% 2% 4%;
		border-radius: 10px;
		margin-right: 2%;
		cursor: pointer;
	}
	
	.bg-primary {
		color: white;
	}
	
	.paginate_button a {
		text-decoration: none;
		color: white;	
	}
	select[name="scoreTable_length"] {
		width: 100%;
	}
	
	#scoreTable_wrapper {
		width: 100%;
	}
</style>
</head>
<body>
	<th:block layout:fragment="professorEclassContent">
		<div id="main">
			<div class="page-title">
				<h3>수강생 시험 성적 조회</h3>
			</div>
			<div class="card height-sevenh">
				<div class="card-header">
					<form th:action="@{/professor/eclass/examScore}" method="GET">
						<input type="hidden" name="pageNum" value="1">
						<input type="hidden" name="amount" value="${pageMaker.cri.amount}">
						<select class="inline form-control width-three">
							<option value=""></option>
						</select>
						<button type="submit" class="inline btn-primary btn btn-sm">검색</button>
					</form>
				</div>
				<div class="card-body">
					<table class="table center" id="scoreTable">
						<thead class="thead-primary">
							<tr>
								<th>학번</th>
								<th>시험</th>
								<th>응시여부</th>
								<th>성적</th>
							</tr>
						</thead>
						<tbody class="tbody-center">
							<tr th:each="s : ${scores}">
								<td th:text="${s.studentId}"></td>
								<td th:text="${#strings.startsWith(s.examCode, 'M')} ? '중간' : '기말'"></td>
								<td th:text="${s.examTake == 'SUB'} ? '응시' : '미응시'"></td>
								<td th:text="${s.examScore != NULL} ? ${s.examScore} + '점' : '-'"></td>
							</tr>
						</tbody>
					</table>
					<div th:object="${pageMaker}" th:with="cri = ${pageMaker.cri}">
						<ul class="pagination justify-content-center">
							<th:block th:if="${pageMaker.prev}">
								<li class="page-item prev"><a class="page-link"
									href="javascript:void(0)"
									th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.startPage - 1, cri.amount, cri.type, cri.keyword)}]])">이전</a>
								</li>
							</th:block>
							<th:block th:with="pageMaker = ${pageMaker}">
								<th:block
									th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item"
										th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
										<a class="page-link" href="javascript:void(0)"
										th:text="${num}"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(num, cri.amount, cri.type, cri.keyword)}]])"></a>
									</li>
								</th:block>
								<th:block th:if="${pageMaker.next}">
									<li class="page-item next"><a class="page-link"
										href="javascript:void(0)"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.endPage + 1, cri.amount, cri.type, cri.keyword)}]])">다음</a>
									</li>
								</th:block>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>