<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="professorContent">
		<div id="main">
			<div class="page-title">
				<h3>내 강의 목록 조회</h3>
			</div>
			<div class="card height-eight">
				<div class="card-body">
					<form name="frm_search" action="/professor/allCourseList"
						method="get">
						<label for="type">개설연도</label> 
						<input th:if="${pageMaker.cri.type != null}" type="number" id="type" class="form-control inline width-two" name="type" th:value="${pageMaker.cri.type}"> 
						<input th:if="${pageMaker.cri.type == null}" type="number" id="type" class="form-control inline width-two" name="type" th:value="${year}"> 
							<label for="keyword">개설학기</label> 
						<select id="keyword" class="form-select inline width-two"	name="keyword">
							<option th:if="${pageMaker.cri.keyword} != null" th:each="i : ${#numbers.sequence(1, 2)}"
								th:selected="${pageMaker.cri.keyword} == ${i}"
								th:value="${i}"
								th:text="|${i}학기|"></option>
							 <option th:if="${pageMaker.cri.keyword} == null" th:each="i : ${#numbers.sequence(1, 2)}"
								th:selected="${i} == ${semester}"
								th:value="${i}"
								th:text="|${i}학기|"></option>
						</select>
						<button class="btn btn-primary">검색</button>
					</form>
					<hr>
					<table class="table">
						<thead class="thead-primary">
							<tr>
								<th>년도</th>
								<th>학기</th>
								<th>이수구분</th>
								<th>강의명</th>
							</tr>
						</thead>
						<tbody class="tbody-center">
							<tr th:each="list : ${allCourseList}">
								<td th:text="${list.courseYear}"></td>
								<td th:text="${list.courseSemester}"></td>
								<td th:text="${list.courseSortationNm}"></td>
								<td th:text="${list.courseName}"></td>
							</tr>
						</tbody>
					</table>
					<div th:object="${pageMaker}" th:with="cri = ${pageMaker.cri}">
						<ul class="pagination justify-content-center">
							<th:block th:if="${pageMaker.prev}">
								<li class="page-item prev"><a class="page-link"
									href="javascript:void(0)"
									th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.startPage - 1, cri.amount, cri.type, cri.keyword)}]])">이전</a>
								</li>
							</th:block>
							<th:block th:with="pageMaker = ${pageMaker}">
								<th:block
									th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item"
										th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
										<a class="page-link" href="javascript:void(0)"
										th:text="${num}"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(num, cri.amount, cri.type, cri.keyword)}]])"></a>
									</li>
								</th:block>
								<th:block th:if="${pageMaker.next}">
									<li class="page-item next"><a class="page-link"
										href="javascript:void(0)"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.endPage + 1, cri.amount, cri.type, cri.keyword)}]])">다음</a>
									</li>
								</th:block>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>