<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
/* .offPage {
	display: none;
}

.scroll {
	overflow: scroll;
	height: 600px;
}

.card {
	padding: 3%;
} */

.hidden {
	display: none;
}
</style>
</head>
<body>
	<th:block layout:fragment="professorContent">
		<div id="main">
			<div>
				<div class="row">
					<div class="page-title">
						<h2>강의 계획서 상세보기</h2>
					</div>
					<div class="right">

						<input id="tab1" type="radio" name="tabs" checked> <label
							for="tab1" class="tabmenu">기본 정보</label> <input id="tab2"
							type="radio" name="tabs"> <label for="tab2"
							class="tabmenu">주차 계획</label>
					</div>
					<div class="card paging">
						<div class="card-header">
							<h3>강의 계획서</h3>
							<table class="table">
								<thead>
									<tr>
										<th>제출여부</th>
										<th>승인여부</th>
										<th>비승인 사유</th>
										<th>제출하기</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<!-- <td th:if="${tempcourse.submitYes == 'SUB'}"
														data-code="SUB" id="submitYes">제출</td>
													<td th:if="${tempcourse.submitYes == 'UNSUB'}"
														data-code="SUB" id="submitYes">미제출</td>
													<td th:if="${tempcourse.okayYes == 'A00'}"
														data-back="A01" id="okayYes">승인</td>
													<td th:if="${tempcourse.okayYes == 'A01'}"
														data-back="A01" id="okayYes">심사대기</td>
													<td th:if="${tempcourse.okayYes == null}"
														data-back="A01" id="okayYes"></td> -->
										<td th:text="${tempcourse.submitYesName}" id="submitYes"
											th:data-codee="${tempcourse.submitYes}"></td>
										<td th:text="${tempcourse.okayYesName}" id="okayYes"
											th:data-back="${tempcourse.okayYes}"></td>
										<td th:if="${tempcourse.backReason == null}" id="backReason"
											th:data-code="null"></td>
										<td th:if="${tempcourse.backReason != null}" id="backReason"
										th:data-coursecod="${tempcourse.courseCode}"
											data-toggle="modal" data-target="#backReasonWhy" class="btn btn-primary backReasonWhy"
											th:data-code="비승인">비승인</td>
										<td><button th:disabled="${tempcourse.submitYes}=='SUB'"
												name="button1" class="btn btn-danger moddd"
												th:data-course="${tempcourse.courseCode}">제출하기</button></td>
									</tr>

								</tbody>
							</table>

						</div>
						<div class="card-body">
							<form id="tempInfoForm" class="form form-horizontal">
								<div class="form-body">
									<div class="row inputBox">
										<!-- <input type="hidden" name="departCode" th:value="${departInsert.departCode}">
									<input type="hidden" name="professorId" th:value="${departInsert.professorId}"> -->


										<br> <br>
										<div class="col-md-4">
											<label>강의명</label>
										</div>
										<div class="col-md-8 form-group">
											<input th:value="${tempcourse.courseName}"
												class="form-control" id="courseName" name="courseName">
										</div>
										<div class="col-md-6 col-12">
											<div class="col-md-4">
												<label>강의 년도</label>
											</div>
											<div class="col-md-8 form-group">
												<input th:value="${tempcourse.courseYear}" id="courseYear"
													name="courseYear" class="form-control">
											</div>
											<div class="col-md-4">
												<label>강의 학기</label>
											</div>
											<div class="col-md-8 form-group">
												<!-- <select id="courseSemester" name="courseSemester"
													class="form-control">
													<option class="hidden" value=""
														th:text="${tempcourse.courseSemester}" disabled selected></option>
													<option th:value="1" th:text="1학기"></option>
													<option th:value="2" th:text="2학기"></option>
													
												</select> -->
												<input th:value="${tempcourse.courseSemester}"
													id="courseSemester" name="courseSemester"
													class="form-control">

											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="col-md-4">
												<label>이수 구분</label>
											</div>
											<div class="col-md-8 form-group">
												<select id="courseSortation" name="courseSortation"
													class="form-control">
													<option th:each="sortation : ${Sortation}"
														th:value="${sortation.detailCode}"
														th:text="${sortation.detailName}"></option>
												</select>
											</div>
											<div class="col-md-4">
												<label>이수 단위</label>
											</div>
											<div class="col-md-8 form-group">
												<select id="courseCredit" name="courseCredit"
													class="form-control">
													<option class="hidden" value=""
														th:text="${tempcourse.courseCredit}" disabled selected></option>
													<option th:value="1" th:text="1학점"></option>
													<option th:value="2" th:text="2학점"></option>
													<option th:value="3" th:text="3학점"></option>
												</select>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="col-md-4">
												<label>과제 배점</label>
											</div>
											<div class="col-md-8 form-group">
												<input th:value="${tempcourse.reportAssignedScore}"
													id="reportAssignedScore" name="reportAssignedScore"
													class="form-control">
											</div>
											<div class="col-md-4">
												<label>출결 배점</label>
											</div>
											<div class="col-md-8 form-group">
												<input th:value="${tempcourse.attAssignedScore}"
													id="attAssignedScore" name="attAssignedScore"
													class="form-control">
											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="col-md-4">
												<label>중간고사 배점</label>
											</div>
											<div class="col-md-8 form-group">
												<input th:value="${tempcourse.midtermAssignedScore}"
													id="midtermAssignedScore" name="midtermAssignedScore"
													class="form-control">
											</div>
											<div class="col-md-4">
												<label>기말고사 배점</label>
											</div>
											<div class="col-md-8 form-group">
												<input th:value="${tempcourse.finalAssignedScore}"
													id="finalAssignedScore" name="finalAssignedScore"
													class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<label>수강 인원</label>
										</div>
										<div class="col-md-8 form-group">
											<input th:value="${tempcourse.courseLimit}" id="courseLimit"
												name="courseLimit" class="form-control">
										</div>
										<div class="col-md-4">
											<label>교재 및 참고문헌</label>
										</div>
										<div class="col-md-8 form-group">
											<input th:value="${tempcourse.textbookReference}"
												id="textbookReference" name="textbookReference"
												class="form-control">
										</div>
										<div class="col-md-4">
											<label>강의 개요</label>
										</div>
										<div class="col-md-8 form-group">
											<textarea th:value="${tempcourse.courseSummary}"
												id="courseSummary" name="courseSummary" class="form-control">[[${tempcourse.courseSummary}]]</textarea>
										</div>
										<div class="col-md-4">
											<label>강의 참고사항</label>
										</div>
										<div class="col-md-8 form-group">
											<input th:value="${tempcourse.courseNotes}" id="courseNotes"
												name="courseNotes" class="form-control">
										</div>
										<div class="col-sm-12" align="right">

											<button th:disabled="${tempcourse.submitYes}=='SUB'"
												type="button" class="btn btn-primary" id="mod">수정하기</button>
											<button type="button"
												onclick="location.href='/professor/tempcourseList'"
												class="btn btn-info">목록 보기</button>
											<button type="reset" class="btn btn-secondary">취소</button>
										</div>


									</div>

								</div>

							</form>

						</div>
					</div>

					<div class="row">
						<div class="card paging">
							<div class="card-body">
								<form name="frm"
									th:action="@{|/professor/getTemp/${tempcourse.courseCode}/updateweekTemp|}"
									method="POST">
									<h2>주차별 강의</h2>
									<!-- <table class="table">
									<thead>
										<tr>
											<th>주차</th>
											<th>내용</th>
										</tr>
										<tr th:each="items:${tempcourseweek}">
											<td th:text="${items.weekNum}"></td>
											<td th:text="${items.weekContent}"></td>
											<td><input th:value="${items.weekContent}"
												id="weekContent" name="weekContent" class="form-control">
											</td>
										</tr>
										<input type="hidden" th:value="${item.weekNum}">

									</thead>
								</table> -->
									<table class="table">
										<thead>
											<tr>
												<th>주차</th>
												<th>내용</th>
											</tr>
										</thead>

										<tbody id="tbody">

											<tr th:each="items:${tempcourseweek}">
												<td th:text="${items.weekNum}" th:value="${items.weekNum}"></td>
												<td><input th:name="|weekContent${items.weekNum}|"
													class="col-sm-8" th:value="${items.weekContent}"></td>

											</tr>


										</tbody>
									</table>
									<div class="col-sm-12" align="right">
										<button th:disabled="${tempcourse.submitYes}=='SUB'"
											type="button" class="btn btn-primary" onclick="message()">수정하기</button>
										<button type="button"
											onclick="location.href='/professor/tempcourseList'"
											class="btn btn-info">목록 보기</button>
										<button type="reset" class="btn btn-secondary">취소</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 모달창 -->
		<div class="modal fade" id="backReasonWhy" data-bs-backdrop="static"
			tabindex="-1" aria-labelledby="staticBackdropLabel"
			aria-hidden="true">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
				<div class="modal-content">

					<div class="modal-header">
						<label class="modal-title" id="staticBackdropLabel">비승인 사유</label>
					</div>
					<div class="modal-body">
						<div class="container my-auto">
							<div class="row">
								<div class="card z-index-0 fadeIn3 fadeInBottom">
									<div class="card-body">
										<table class="table">
											<tr>
												<th>비승인 사유</th>
											</tr>
										
										
											
												
												<tr>
												<td id="backReason2"></td>
												</tr>
											
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="input-container modal-footer">
							<!-- <button type="button" class="btn btn-outline-danger"
								data-bs-dismiss="modal" aria-label="Close">확인</button> -->
							<button id="closeModal" type="button" class="btn btn-secondary"
								data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		

		<script th:inline="javascript">
			
			$(function() {
				showPage();
				saveTempInfo(); 
				enterDate();
				 backReasonWhy();
					modalOff();
				$("#courseSortation").val([[${tempcourse.courseSortation}]]);
				$("#courseCredit").val([[${tempcourse.courseCredit}]]);
				
				
			})
			
			function message(){
				if(confirm("수정하시겠습니까?")){
					frm.submit()
				}
				
			}
			
			// 탭 형식으로 보이기
			function showPage() {
			let icons = $("input[name=tabs]");
			$(icons).each((index, val) => {
				$(val).on("click", function(e) {
					if ($(val).is(":checked")) {
						let page = $(".paging");
						$(page).each((idx, val) => {
							$(val).addClass('offPage');
						})
						$(page[index]).removeClass("offPage");
					}
				})
			})
			}
			
			// 시험 시작/마감 날짜 주차 기준으로 자동 불러오기
		 	function enterDate() {
				$(document).on("change", "select[name=weekCode]", function(e) {
					let startDate = $($(e.target).children(":selected")).data("start");
					let endDate = $($(e.target).children(":selected")).data("end");
					$("input[name=examStartDate]").val(startDate);
					$("input[name=examEndDate]").val(endDate);
				})
			} 
			
			// 강의계획서 정보 저장
			function saveTempInfo() {
				$(".saveBtn").click(function() {
					$.ajax({
						type : 'POST',
						url : 'tempInsert',
						contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
						data : $("#tempInfoForm").serialize(),
						success : function(result) {
							console.log(result);
						}
					})
				})
			}
			
			//강의계획서 정보 수정
			$(function() {
				$("#mod").on("click", confirmModal)

				function confirmModal() {
					if (window.confirm("변경 내용을 저장하시겠습니까?")) {
						updateTemp();
					}
				}
				function updateTemp() {
					let courseCode =  [[${tempcourse.courseCode}]]
					$.ajax({
						url : `/professor/getTemp/${courseCode}/updateTemp`,
						method : "post",
						dataType : "json",
						data : {
							"courseName" : $("#courseName").val(),
							"courseYear" : $("#courseYear").val(),
							"courseSemester" : $("#courseSemester").val(),
							"courseSortation" : $("#courseSortation").val(),
							"courseCredit" : $("#courseCredit").val(),
							"reportAssignedScore" : $("#reportAssignedScore").val(),
							"attAssignedScore" : $("#attAssignedScore").val(),
							"midtermAssignedScore" : $("#midtermAssignedScore").val(),
							"finalAssignedScore" : $("#finalAssignedScore").val(),
							"courseLimit" : $("#courseLimit").val(),
							"textbookReference" : $("#textbookReference").val(),
							"courseSummary" : tinyMCE.activeEditor.getContent(),
							"courseNotes" : $("#courseNotes").val(),
							
						},
						dataType : "json",
						success : function(result) {
							
							alert('수정되었습니다')
							location.reload();
						}
						
					});
				}
				
			});
			
			//주차별 강의 수정
			
		 	/*  $(function() {
				$("#modd").on("click", confirmModal)

				function confirmModal() {
					if (window.confirm("변경 내용을 저장하시겠습니까?")) {
						updateweekTemp();
					}
				}
				function updateweekTemp() {
					let courseCode =  [[${tempcourse.courseCode}]]
					$.ajax({
						url : `/professor/getTemp/${courseCode}/updateweekTemp`,
						method : "post",
						dataType : "json",
						data : {
							"weekContent" : $("#weekContent").val(),
						
							
						},
						dataType : "json",
						success : function(result) {
							
							alert('수정되었습니다')
							location.reload();
						}
					});
				}  
			});   */
			
			//상세 조회 페이지에서 제출하기 기능
			
			 /* $(".moddd").on("click", function () {
				if (window.confirm("정말로 제출하시겠습니까?")) {
					let submitYes = $(this).closest("tr").find("#submitYes").data("code")
					let okayYes = $(this).closest("tr").find("#okayYes").data("back")
					let courseCode = $(this).data("course")
					$.ajax({
						url : `/professor/getTemp/submitTemp`,
						method : "post",
						dataType : "json",
						data : { 
							
						"submitYes" : 	submitYes,
						"okayYes" :	okayYes,
						"courseCode" :	 courseCode					
						},
						dataType : "json",
						success : function(result) {
							
							
							alert('제출되었습니다')
							location.reload();
						} 
					});
				}
			})  */
			$(".moddd").on("click", function () {
				if (window.confirm("정말로 제출하시겠습니까?")) {
					let submistYes = $(this).closest("tr").find("#submitYes").data("codee")
					let okayYes = $(this).closest("tr").find("#okayYes").data("back")
					let courseCode = $(this).data("course")
					// 미제출 -> 제출  SUB로 변환  ,   null -> 심사대기 A01로 변환  
					/* if(submitYes=='SUB'||submitYes=='UNSUB'){ */
						submitYes = 'SUB'
						okayYes = 'A01'
					$.ajax({
						url : `/professor/tempcourseList/submitTemp`,
						method : "post",
						dataType : "json",
						data : { 
							
						"submitYes" : 	submitYes,
						"okayYes" :	okayYes,
						"courseCode" :	 courseCode					
						},
						dataType : "json",
						success : function(result) {
							
							 
							alert('제출되었습니다')
							location.reload();
						} 
					});
				}
			})
			
			//비승인 사유 모달창  열기
			 function backReasonWhy(){
				$(".backReasonWhy").on("click", function(){
					let courseCode = $(this).data("coursecod")
					
				$.ajax({
					type : "POST",
					url : "/professor/tempcourseList/backReasonWhy",
					data : 
						{
						
						courseCode : courseCode
						
						},
						
					dataType : "json",
					success : function(data){
						
						$("#backReason2").text(data.backReason)
						$('#backReasonWhy').modal('show');
						
					},
					error : function(reject){
						alert("실패");
					}
				});
				});
				}
			
				
		
			//모달창 끄기
			function modalOff() {
				$("#closeModal").on("click", function() {
					$('#backReasonWhy').modal('hide');
				})
			}
			
			
			
			
		  tinymce.init({
			        selector: '#courseSummary',
			        plugins: [
			          'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
			          'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
			          'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
			        ],
			        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
			          'alignleft aligncenter alignright alignjustify | ' +
			          'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
			      });
			
			
			</script>
	</th:block>
</body>
</html>