<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<th:block layout:fragment="professorContent">
		<div id="main">
			<div>
				<h2>강의 수강 후기</h2>
			</div>
			<div class="card">
				<form name="frm_search" action="/professor/allCourseList"
					method="post">
					<label for="courseYear">개설연도</label> <input type="text"
						id="courseYear" name="course_year"> <label
						for="courseSemester">개설학기</label> <input type="text"
						id="courseSemester" name="course_semester">
					<button class="btn btn-primary">검색</button>
				</form>
				<table class="table">
					<tr>
						<th>년도</th>
						<th>학기</th>
						<th>강의명</th>
						<th>강의코드</th>
						<th>학점</th>
						<th>참여인원</th>
						<th>평점</th>
						<th>상세보기</th>
					</tr>
					<tr th:each="list : ${surveyList}">
						<td th:text="${list.courseYear}" th:value="${list.courseYear}"
							class="ck"></td>
						<td th:text="${list.courseSemester}"></td>
						<td th:text="${list.courseName}"></td>
						<td th:text="${list.courseCode}"></td>
						<td th:text="${list.courseCredit}"></td>
						<td th:text="|${list.reviewSubCount} / ${list.countAllStudent}|"></td>
						<td th:text="|${list.surveyAvg} / 5.0|"></td>
						<td><button type="button" class="btn btn-primary"
								data-bs-toggle="modal" data-bs-target=".myModal"
								th:disabled="${list.surveyAvg} == '0.0'">상세보기</button></td>

					</tr>
				</table>

			</div>
			<!-- 모달 영역 -->
			<!-- <div class="modal fade myModal" id="exampleModalToggle" data-bs-keyboard="false"
				aria-labelledby="exampleModalToggleLabel" aria-hidden="true" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalToggleLabel">강의 평점 상세조회</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h2 class="ModalCourseName"></h2>
							<p class="ModalYear"></p>
							<table class="table">
								<thead>
									<tr>
										<th>수강평 문항</th>
										<th>평점</th>
									</tr>
								</thead>
								<tbody id="surveyData">
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
						</div>
					</div>
				</div>
			</div> -->


			<div class="modal fade myModal" id="exampleModalToggle" aria-hidden="true"
				aria-labelledby="exampleModalToggleLabel" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalToggleLabel">강의 평점 상세조회</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h2 class="ModalCourseName"></h2>
							<p class="ModalYear"></p>
							<table class="table">
								<thead>
									<tr>
										<th>수강평 문항</th>
										<th>평점</th>
									</tr>
								</thead>
								<tbody id="surveyData">
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary"
								data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
								data-bs-dismiss="modal">도표</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade myModal2" id="exampleModalToggle2" aria-hidden="true"
				aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalToggleLabel2">Modal
								2</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">Hide this modal and show the first
							with the button below.</div>
						<div class="modal-footer">						
						</div>
					</div>
				</div>
			</div>
		</div>>
			

			<script th:inline="javascript">
				$(function() {
					surveyReview();
					rollbackModal();

				});
				// 상세보기 모달 생성시 문항, 평균평점 테이블 생성.
				function surveyReview() {
					$(document)
							.on(
									'show.bs.modal',
									'.myModal',
									function(e) {
										// 버튼위치 강의 코드
										var courseCode = $(e.relatedTarget)
												.parent().prev().prev().prev()
												.prev().text();

										//	alert(courseCode)
										// 버튼위치 강의 년도
										var courseYear = $(e.relatedTarget)
												.parent().prev().prev().prev()
												.prev().prev().prev().prev()
												.text();

										courseYear += '년도 ';
										courseYear += $(e.relatedTarget)
												.parent().prev().prev().prev()
												.prev().prev().prev().text();

										courseYear += '학기';

										$(".ModalYear").text(courseYear);
										// alert(courseYear)
										// 버튼위치 강의 학기
										var courseSemester = $(e.relatedTarget)
												.parent().prev().prev().prev()
												.prev().prev().prev().text();
										// 버튼위치 강의 이름
										$(".ModalCourseName").text(
												$(e.relatedTarget).parent()
														.prev().prev().prev()
														.prev().prev().text());
										var courseName = $(e.relatedTarget)
												.parent().prev().prev().prev()
												.prev().prev().text();
										$
												.ajax({
													url : "/professor/surveySelect",
													method : "post",
													data : {
														courseCode : courseCode,
													},
													success : function(res) {
														var graph = res.survey;
														var chartdata = res.chart;
														console.log(res.survey);
														let tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ1),
																				$(
																						"<td>")
																						.text(
																								graph.a1Avg) ]);
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ2),
																				$(
																						"<td/>")
																						.text(
																								graph.a2Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ3),
																				$(
																						"<td/>")
																						.text(
																								graph.a3Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ4),
																				$(
																						"<td/>")
																						.text(
																								graph.a4Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ5),
																				$(
																						"<td/>")
																						.text(
																								graph.a5Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ6),
																				$(
																						"<td/>")
																						.text(
																								graph.a6Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ7),
																				$(
																						"<td/>")
																						.text(
																								graph.a7Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ8),
																				$(
																						"<td/>")
																						.text(
																								graph.a8Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ9),
																				$(
																						"<td/>")
																						.text(
																								graph.a9Avg) ])
														$("#surveyData")
																.append(tr);
														tr = $("<tr/>")
																.append(
																		[
																				$(
																						"<td>")
																						.text(
																								graph.surveyQ10),
																				$(
																						"<td/>")
																						.text(
																								graph.a10Avg) ])
														$("#surveyData")
																.append(tr);

													}
												});

									})
				}
				// 모달 종료 시 입력값 초기화
				function rollbackModal() {
					$('.myModal').on('hidden.bs.modal', function(e) {
						console.log('modal close');
						$('#surveyData').children().remove();

					});
				}
			</script>
	</th:block>
</body>

</html>