<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.offPage {
	display: none;
}

.scroll {
	overflow: scroll;
	height: 600px;
}

.card {
	padding: 3%;
	
}

</style>
</head>
<body>
	<th:block layout:fragment="professorContent">
		<div id="main">
			<div>
				<div class="row">
					<div class="page-title">
						<h2>강의 계획서 등록</h2>
					</div>
					<div class="right">
						<input id="tab1" type="radio" name="tabs" checked> <label
							for="tab1" class="tabmenu">기본 정보</label> <input id="tab2"
							type="radio" name="tabs"> <label for="tab2"
							class="tabmenu">주차 계획</label>
					</div>
					<div class="card paging">
						<div class="card-header">
							<h3>강의 계획서</h3>
						</div>
						<div class="card-body">
							<form id="tempInfoForm" class="form form-horizontal"
								th:action="@{/tempInsertProc}" method="POST">
								<div class="form-body">
									<div class="row inputBox">
									<input type="hidden" name="departCode" th:value="${departInsert.departCode}">
									<input type="hidden" name="professorId" th:value="${departInsert.professorId}">
										<div class="col-md-4">
											<label>강의명</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="text" class="form-control" name="courseName" required>
										</div>
										<div class="col-md-6 col-12">
										<div class="col-md-4">
											<label>강의 년도</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" class="form-control" name="courseYear" required>
										</div>
										<div class="col-md-4">
											<label>강의 학기</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" class="form-control"
												name="courseSemester" required>
										</div>
										</div>
										<div class="col-md-6 col-12">
										<div class="col-md-4">
											<label>이수 구분</label>
										</div>
										<div class="col-md-8 form-group">
											<select class="form-control" name="courseSortation" required>
												<option value="" disabled selected>선택하십시오</option>
												<option value="L01">교양필수</option>
												<option value="L02">교양</option>
												<option value="M01">전공필수</option>
												<option value="M02">전공</option>
											</select>
										</div>
										<div class="col-md-4">
											<label>이수 단위</label>
										</div>
										<div class="col-md-8 form-group">
											<select class="form-control" name="courseCredit" required>
												<option value="" disable selected>선택하십시오</option>
												<option value=1>1학점</option>
												<option value=2>2학점</option>
												<option value=3>3학점</option>
												<option value=4>4학점</option>
												<option value=5>5학점</option>
											</select>
										</div>
										</div>
										<div class="col-md-6 col-12">
										<div class="col-md-4">
											<label>과제 배점</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" class="form-control"
												name="reportAssignedScore">
										</div>
										<div class="col-md-4">
											<label>출결 배점</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" class="form-control"
												name="attAssignedScore">
										</div>
										</div>
										<div class="col-md-6 col-12">
										<div class="col-md-4">
											<label>중간고사 배점</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" class="form-control"
												name="midtermAssignedScore">
										</div>
										<div class="col-md-4">
											<label>기말고사 배점</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" class="form-control"
												name="finalAssignedScore">
										</div>
										</div>
										<div class="col-md-4">
											<label>수강 인원</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" class="form-control" name="courseLimit"
												min='0' max='200' required>
										</div>
										<div class="col-md-4">
											<label>교재 및 참고문헌</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="text" class="form-control"
												name="textbookReference">
										</div>
										<div class="col-md-4">
											<label>강의 개요</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="text" class="form-control" name="courseSummary">
										</div>
										<div class="col-md-4">
											<label>강의 참고사항</label>
										</div>
										<div class="col-md-8 form-group">
											<input type="text" class="form-control" name="courseNotes">
										</div>
										<div class="col-sm-12" align="right">
											<button type="submit" class="btn btn-danger">등록</button>
											<button type="button" onclick="window.history.back()" class="btn btn-info">뒤로가기</button>
											<button type="reset" class="btn btn-secondary">취소</button>
										</div>
										

									</div>
									
								</div>
								
							</form>
						</div>
					</div>
					
					<div class="row">
					<div class="card paging">
						<div class="card-body">
							<form th:action="@{/tempweekInsertProc}" method="POST">
							<h2>주차별 강의</h2>
							 	<select name="courseCode">
							 		<option th:each="item:${tempcourseList}" th:text="${item.courseName}" th:value="${item.courseCode}"></option>
							 	</select>
							 <!-- 	<button  class="btn btn-primary" type="button" onclick="tableAdd()">주차 추가</button> -->
								<div>
									<table class="table">
										<thead>
											<tr>
												<th>주차</th>
												<th>내용</th>
											</tr>
										</thead>
										<tbody id="tbody">
											
											<th:block th:each="num : ${#numbers.sequence(1,15)}">
											<tr>
												<td th:text="${num}">
												
												</td>
												<td>											
												<input th:name="|weekContent${num}|" class="col-sm-8" >
												</td>
											</tr>
										</tbody>
									</table>
								</div> 
								<div class="col-sm-12" align="right">
									<button type="submit" class="btn btn-danger">등록</button>
									<button type="button" onclick="window.history.back()" class="btn btn-info">뒤로가기</button>
									<button type="reset" class="btn btn-secondary">취소</button>
								</div>
							</form>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			
			$(function() {
				showPage();
				saveTempInfo(); 
				enterDate();
				
			})
			
			// 탭 형식으로 보이기
			function showPage() {
			let icons = $("input[name=tabs]");
			$(icons).each((index, val) => {
				$(val).on("click", function(e) {
					if ($(val).is(":checked")) {
						let page = $(".paging");
						$(page).each((idx, val) => {
							$(val).addClass('offPage');
						})
						$(page[index]).removeClass("offPage");
					}
				})
			})
			}
			
			// 시험 시작/마감 날짜 주차 기준으로 자동 불러오기
		 	function enterDate() {
				$(document).on("change", "select[name=weekCode]", function(e) {
					let startDate = $($(e.target).children(":selected")).data("start");
					let endDate = $($(e.target).children(":selected")).data("end");
					$("input[name=examStartDate]").val(startDate);
					$("input[name=examEndDate]").val(endDate);
				})
			} 
			
			// 강의계획서 정보 저장
			function saveTempInfo() {
				$(".saveBtn").click(function() {
					$.ajax({
						type : 'POST',
						url : 'tempInsert',
						contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
						data : $("#tempInfoForm").serialize(),
						success : function(result) {
							console.log(result);
						}
					})
				})
			}
			//주차 추가
			let row = 1;
			function tableAdd(){
				$("#tbody").append('<tr><td>'+ row +'</td><td>'+'<input name="weekContent">'+'</td></tr>');
				row++;
			}
			
			</script>
	</th:block>
</body>
</html>