<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="professorContent">
	<div id="main">
		<div>
			<h2>강의 계획서 조회</h2>
		</div>
		<div class="card-body">
			<form name="searchFrm">
				개설연도:<input type="number" name="courseYear" >
				개설학기:<input type="number" name="courseSemester">
				<div class="input-group">
				<button class="btn rounded-pill btn-primary" type="button">검색</button>
				</div>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>년도</th>
						<th>학기</th>
						<th>이수단위</th>
						<th>이수구분</th>
						<th>강의명</th>
						<th>제출여부</th>
						<th>승인여부</th>
					</tr>
				</thead>
				<tbody>
				 	
					<tr th:each="item:${tempcourseList}">
							<td th:text="${item.courseYear}"></td>
							<td th:text="${item.courseSemester}"></td>
							<td th:text="${item.courseCredit}"></td>
							<!-- <td th:text="${item.courseSortation}"></td> -->
							<td th:if="${item.courseSortation == 'L01'}">교양필수</td>
							<td th:if="${item.courseSortation == 'L02'}">교양</td>
							<td th:if="${item.courseSortation == 'M01'}">전공필수</td>
							<td th:if="${item.courseSortation == 'M02'}">전공</td>
							<td th:text="${item.courseName}"></td>
							<td th:if="${item.submitYes == 'SUB'}">제출</td>
							<td th:if="${item.submitYes == 'UNSUB'}">미제출</td>
							<td th:if="${item.backReason == 'A00'}">승인</td>
							<td th:if="${item.backReason == 'A01'}">심사대기</td>
						</tr>
						
				</tbody>
			</table>
			
			<button class="btn rounded-pill btn-primary" onclick="tempInsert()">등록</button>
			
		</div>
		</div>
		<script th:inline="javascript">
		
		$(function() {
			goPage(pageNum);
			tempInsert();
			
		})
		
		function goPage(pageNum){
			searchFrm.pageNum.value = pageNum;
			searchFrm.submit();
		}
		function tempInsert(){
			location.href="tempInsert";
		}
		</script>
	</th:block>
</body>
</html>