<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>강의 계획서 등록</title>
</head>
<body>
	<th:block layout:fragment="professorContent">
		<div id="main">
			<div>
				<div class="row">
					<div class="page-title">
						<h2>강의 계획서 등록</h2>
					</div>
					<div class="right">
						<input id="tab1" type="radio" name="tabs" checked> <label
							for="tab1" class="tabmenu active">기본 정보</label> <input id="tab2"
							type="radio" name="tabs"> <label for="tab2"
							class="tabmenu hidePage">주차 계획</label>
					</div>

					<div class="card paging height-thirteen" id="tab11">
						<div class="card-header" align="left">
							<h3>강의 계획서</h3>
							<div align="right">

								<button type="button" class="btn btn-primary bringme"
									data-toggle="modal" style="margin-right: 10%">승인된
									강의계획서 불러오기</button>
							</div>
						</div>
						<div class="card-body height-ten paging">
							<form id="tempInfoForm" class="form form-horizontal"
								th:action="@{/tempInsertProc}" method="POST"
								onsubmit="return message();">
								<div class="form-body">
									<div class="row inputBox">
										<input type="hidden" name="departCode"
											th:value="${departInsert.departCode}"> <input
											type="hidden" name="professorId"
											th:value="${departInsert.professorId}">
										<div class="col-md-6 col-12">
											<div class="col-md-4">
												<label>강의명</label>
											</div>
											<div class="col-md-10">
												<input type="text" class="form-control" name="courseName"
													id="courseName" required>
											</div>

											<div class="col-md-4">
												<label>강의 년도</label>
											</div>
											<div class="col-md-10 form-group">
												<input type="number" class="form-control" name="courseYear"
													required th:value="${yearSemester.year}">
											</div>
											<div class="col-md-4">
												<label>강의 학기</label>
											</div>
											<div class="col-md-10 form-group">
												<select id="courseSemester" name="courseSemester"
													class="form-control" required>
													<option class="hidden" value="" th:text="선택"></option>
													<option th:value="1" th:text="1학기"
														th:selected="${yearSemester.semester==1}"></option>
													<option th:value="2" th:text="2학기"
														th:selected="${yearSemester.semester==2}"></option>
												</select>
											</div>


											<div class="col-md-4">
												<label>이수 구분</label>
											</div>
											<div class="col-md-10 form-group">
												<select class="form-control" name="courseSortation"
													id="courseSortation" required>
													<option value="" disabled selected th:text="선택"></option>
													<option value="L01">교양필수</option>
													<option value="L02">교양</option>
													<option value="M01">전공필수</option>
													<option value="M02">전공</option>
												</select>
											</div>
											<div class="col-md-4">
												<label>이수 단위</label>
											</div>
											<div class="col-md-10 form-group">
												<select class="form-control" name="courseCredit"
													id="courseCredit" required>
													<option value="" disabled selected th:text="선택"></option>
													<option value="1" th:text="1학점"></option>
													<option value="2" th:text="2학점"></option>
													<option value="3" th:text="3학점"></option>
												</select>
											</div>

											<div class="col-md-4">
												<label>과제 배점</label>
											</div>
											<div class="col-md-10 form-group">
												<input type="number" class="form-control"
													id="reportAssignedScore" name="reportAssignedScore" min='0'
													max='50' required>
											</div>
											<div class="col-md-4">
												<label>출결 배점</label>
											</div>
											<div class="col-md-10 form-group">
												<input type="number" class="form-control"
													id="attAssignedScore" name="attAssignedScore" min='0'
													max='50' required>
											</div>


											<div class="col-md-4">
												<label>중간고사배점</label>
											</div>
											<div class="col-md-10 form-group">
												<input type="number" class="form-control"
													id="midtermAssignedScore" name="midtermAssignedScore"
													min='0' max='50' required>
											</div>
											<div class="col-md-4">
												<label>기말고사배점</label>
											</div>
											<div class="col-md-10 form-group">
												<input type="number" class="form-control"
													id="finalAssignedScore" name="finalAssignedScore" min='0'
													max='50' required>
											</div>

											<div class="col-md-4">
												<label>수강 인원</label>
											</div>
											<div class="col-md-10 form-group">
												<input type="number" class="form-control" name="courseLimit"
													id="courseLimit" min='1' max='200' required>
											</div>
										</div>
										<div class="col-md-6 col-16">
											<div class="col-md-4">
												<label>교재 및 참고문헌</label>
											</div>
											<div class="col-md-12 form-group">
												<textarea class="form-control" id="textbookReference"
													name="textbookReference" style="height: 6em;"></textarea>
											</div>
											<div class="col-md-4">
												<label>강의 개요</label>
											</div>
											<div class="col-md-12 form-group">


												<textarea class="form-control" name="courseSummary"
													id="courseSummary"></textarea>


											</div>
											<div class="col-md-4">
												<label>강의 참고사항</label>
											</div>
											<div class="col-md-12 form-group">
												<textarea class="form-control" id="courseNotes"
													name="courseNotes" style="height: 6em;"></textarea>
											</div>
										</div>




									</div>
									<div class="input-container modal-footer"
										style="justify-content: right !important">
										<button type="submit" class="btn btn-primary"
											style="margin-right: 2%;">강의계획서 등록하기</button>
										<button type="button"
											onclick="location.href='/professor/tempcourseList'"
											class="btn btn-secondary" style="margin-right: 2%;">목록</button>
										<button type="reset" class="btn btn-secondary"
											style="margin-right: 10%;">취소</button>
									</div>
								</div>

							</form>
						</div>
					</div>



					<div class="row">
						<div class="col-md-22 col-12">
							<div class="card paging name hidePage" id="tab22">
								<div class="card-body">
									<form th:action="@{/tempweekInsertProc}" method="POST">

										<h2>주차별 강의 내용</h2>


										<select name="courseCode">
											<option th:each="item:${tempcourseLis}"
												th:text="${item.courseName}" th:value="${item.courseCode}"></option>
										</select>

										<!-- 	<button  class="btn btn-primary" type="button" onclick="tableAdd()">주차 추가</button> -->
										<div>
											<table class="table">
												<thead>
													<tr>
														<th>주차</th>
														<th>내용</th>
													</tr>
												</thead>
												<tbody id="tbody">

													<!-- <th:block th:each="num : ${#numbers.sequence(1,15)}">
											<tr>
												<td th:text="${num}">
												
												</td>
												<td>											
												<input th:name="|weekContent${num}|" class="form-control">
												</td>
											</tr> -->
													<th:block th:each="week:${tempcourseweekListList}">
														<tr>
															<td th:text="${week.weekNum}" th:value="${week.weekNum}">
															</td>

															<td><input
																th:name="|list[${weekStat.index}].weekContent|"
																class="form-control"></td>


															<td><input type="hidden"
																th:name="|list[${weekStat.index}].weekNum|"
																th:value="${week.weekNum}" class="form-control">

																<input class="form-control hidden" type="date"
																th:name="|list[${weekStat.index}].weekStartDate|"
																th:value="${week.weekStartDate}" readonly /> <input
																class="form-control hidden" type="date"
																th:name="|list[${weekStat.index}].weekEndDate|"
																th:value="${week.weekEndDate}" readonly /></td>

														</tr>
													</th:block>
												</tbody>
											</table>
										</div>
										<div class="col-sm-12" align="right">
											<button type="button" class="btn btn-danger"
												onclick="message()" style="margin-right: 30px;">강의
												계획서 등록하기</button>
											<button type="button"
												onclick="location.href='/professor/tempcourseList'"
												class="btn btn-info" style="margin-right: 30px;">목록
												보기</button>
											<button type="reset" class="btn btn-secondary">취소</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 강의계획서 불러오기 모달창 -->
		<div class="modal fade" id="bringme" data-bs-backdrop="static"
			tabindex="-1" aria-labelledby="staticBackdropLabel"
			aria-hidden="true">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
				<div class="modal-content">

					<div class="modal-header">
						<label class="modal-title" id="staticBackdropLabel">승인된
							강의계획서 리스트</label>
					</div>
					<div class="modal-body">
						<div id="confirmFragment"></div>
					</div>
				</div>
			</div>
		</div>



		<script th:inline="javascript">
			
			$(function() {
				showPage();
				aaaaa();
				

			})
			
			//모달창 띄우기
			function aaaaa () {
				$(".bringme").on("click", function() {
					aaa();
					$('#bringme').modal('show');
				})
			}
			
			
			 //모달창 검색 안꺼지게
		
				function aaa(){
				 
				 $.ajax({
					url : "/professor/tempInsert/bringme",
					type : 'GET',
					data: $('#searchFrm').serialize(),
	       	success: function(fragment) {
	       			$("#confirmFragment").replaceWith(fragment);
	        }
	        , error: function(result) {
	           }
				 })
				
			 }
			
			
			
			   /*  $('form').submit(function(e) {
			        e.preventDefault();
			        
			        // 또는 return false;
			    }); */
			
			
			
			//모달창 끄기
			function modalOff() {
				
					$('#bringme').modal('hide');
				
			}
			
			//등록버튼시 알람
			function message(){
				if(confirm("입력한 내용을 등록하시겠습니까?")){
					alert("등록되었습니다. 주차별 강의계획을 작성해주세요.")
					frm.submit()
				}else{
					
					return false;
					
				}
				
			}
			
			//모달창에서 정보 옮기기
					function passtext(e){
					console.log(e)
					if(window.confirm("해당 강의계획서 정보를 가져오시겠습니까?")){
						
						console.log(e.target.dataset.coursecode)
						
						let courseCode = e.target.dataset.coursecode
						let courseName = e.target.dataset.coursename
						let courseSortation = e.target.dataset.coursesortation
						let courseCredit = e.target.dataset.coursecredit
						let reportAssignedScore = e.target.dataset.reportassignedscore
						let attAssignedScore = e.target.dataset.attassignedscore
						let finalAssignedScore = e.target.dataset.finalassignedscore
						let midtermAssignedScore = e.target.dataset.midtermassignedscore
						let courseLimit = e.target.dataset.courselimit
						let textbookReference = e.target.dataset.textbookreference
						let courseSummary = e.target.dataset.coursesummary
						let courseNotes = e.target.dataset.coursenotes
						
						console.log(courseCode);
						$("#courseName").val(courseName);
						$("#courseSortation").val(courseSortation);
						$("#courseCredit").val(courseCredit);
						$("#reportAssignedScore").val(reportAssignedScore);
						$("#attAssignedScore").val(attAssignedScore);
						$("#finalAssignedScore").val(finalAssignedScore);
						$("#midtermAssignedScore").val(midtermAssignedScore);
						$("#courseLimit").val(courseLimit);
						$("#textbookReference").val(textbookReference);
						tinyMCE.activeEditor.setContent(courseSummary);
						$("#courseNotes").val(courseNotes);
						
						fireSwal('success', '정보를 가져오는데 성공했습니다.')
						.then((result) => {
							if (result.isConfirmed) {
								$('#bringme').modal('hide');
							}
						})
						
						
					}
					
			};
			
			
			
		
	
			/* //주차 추가
			let row = 1;
			function tableAdd(){
				$("#tbody").append('<tr><td>'+ row +'</td><td>'+'<input name="weekContent">'+'</td></tr>');
				row++;
			}
			 */
			
			   tinymce.init({
			        selector: '#courseSummary',
			        plugins: [
			          'advlist','autolink',
			          'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
			          'fullscreen','insertdatetime','media','table','help','wordcount'
			        ],
			        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
			          'alignleft aligncenter alignright alignjustify | ' +
			          'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
			      });
			</script>
	</th:block>
</body>
</html>