<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/professor-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block layout:fragment="professorEclassContent">
<div id="main">
	<h1>공지사항 상세보기</h1>
	<hr>
	<table class="table">
		<tbody>
		<tr>
			<td>제목</td>
			<td th:text="${selectProDetailStudyNotice.courseNoticeTitle}"></td>
			<td>글번호</td>
			<td id="courseNoticeNo" th:text="${selectProDetailStudyNotice.courseNoticeNo}"></td>
		</tr>
		
		<tr>
			<td>조회수</td>
			<td th:text="${selectProDetailStudyNotice.courseNoticeHit}"></td>
			<td>등록일</td>
			<td th:text="${#dates.format(selectProDetailStudyNotice.courseNoticeRegDate, 'yyyy-MM-dd')}"></td>
		</tr>
		
		<tr>
			<td>첨부파일</td>
			<td colspan="3"></td>
		</tr>
		
		<tr>
			<td>내용</td>
			<td colspan="3" id="content" th:html="${selectProDetailStudyNotice.courseNoticeContent}"></td>
		</tr>
		</tbody>
	</table>
	
	<button type="button" class="btn btn-primary" id="AllList">목록</button>
	<button type="button" class="btn btn-primary" id="Delete">삭제</button>
</div>

	<script th:inline="javascript">
		// 목록 버튼 처리
		$('#AllList').click(function() {
			location.href ="/professor/eclass/eclassnotice"
		})
		
		// 삭제 버튼 처리
		$('#Delete').click(function() {
			var courseNoticeNo = $('#courseNoticeNo').text();
			console.log(courseNoticeNo)
			$.ajax({
				type : 'POST',
				url : '/professor/eclass/eclassnoticedelete',
				data : {courseNoticeNo : courseNoticeNo}
			}) 
		})
	
	</script>
</th:block>
</body>
</html>