<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/student-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="studentEclassContent">
		<div id="main">
			<div class="page-title">
				<h3><i class="fa-solid fa-video"></i> 강의 시청하기</h3>
			</div>
			<div class="card lecture-scroll height-sevenh">
				<div class="card-header">
					<h4 class="btnContainer"></h4>
					<div class="card-body lecture-card row" th:each="lec : ${lectureList}">
						<div class="learnInfo col-10">
						<h4 th:text="|${#strings.substring(lec.weekCode, 8, 10)}주차 강의|"></h4>
						<p th:text="|학습 인정 기간: ${#dates.format(lec.lectureStartDate, 'yyyy-MM-dd')} 
						~ ${#dates.format(lec.lectureEndDate, 'yyyy-MM-dd')}|"></p>
						</div>
						<div class="learnBtn col-2">
							<button th:if="${#dates.createNow()} lt ${lec.lectureStartDate} and ${#dates.createNow()} lt ${lec.lectureEndDate}" 
							th:data-week-code="${lec.weekCode}" 
							class="goLearnBtn btn btn-primary disabled btn-lg" 
							type="button">학습예정</button>
							<button th:if="${#dates.createNow()} ge ${lec.lectureStartDate} and ${#dates.createNow()} le ${lec.lectureEndDate}" 
							th:data-lecture-code="${lec.lectureCode}" 
							class="goLearnBtn btn btn-danger btn-lg" 
							type="button">학습하기</button>
							<button class="goReLearnBtn btn btn-primary btn-lg" 
							th:data-lecture-code="${lec.lectureCode}"
							th:if="${#dates.createNow()} gt ${lec.lectureEndDate} and ${#dates.createNow()} gt ${lec.lectureStartDate}">
							다시보기
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			$(function() {
				goToLecture();
				goToPrevLecture();
			})
			
			// 해당 강의 학습하러 가기
			function goToLecture() {
				$(document).on("click", ".goLearnBtn", function(e) {
					let weekcode = $(e.target).data("lecture-code");
 					location.href="watchLecture?lectureCode=" + weekcode;
				})
			}
			
			// 지난 강의 학습하러 가기 
			function goToPrevLecture() {
				$(document).on("click", '.goReLearnBtn', function(e) {
					let weekcode = $(e.target).data("lecture-code");
					fireSwal('info', '학습 인정 일자가 지나 출결율에 반영되지 않습니다. 그래도 시청하시겠습니까?')
						.then((result) => {
							location.href=`watchLecture?lectureCode=` + weekcode;
						})
				})
			}
		</script>
	</th:block>
</body>
</html>