<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.login.service.UserMapper">
	
	<select id="getSelectUserInfo" resultType="User">
		SELECT id, 
						password, 
						user_role, 
						user_authority
			FROM portal_user
			WHERE id = #{username} 
	</select>
	<update id="setTempPassword">
		UPDATE portal_user
			SET password = #{pwd}
			WHERE id = #{id}
	</update>
</mapper>