<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#card {
	border : 1px solid #E2E2E2
}
.card-body {
	height : 180px;
	
}

#cardBottom {
 position: absolute;
 bottom: 20px;
}
</style>
</head>

<body>
	<!-- student.layout body에 들어갈 이름명시 script부분도 여기 안에서 있어야함.  -->
	<th:block layout:fragment="studentContent">
		<div id="main">
			<div class="page-title">
			<h3>나의 수강과목</h3>
			</div>

			<!-- 수강중인 강의 리스트가 없는 경우 -->
			<div th:if="${mycourseList.isEmpty()}">
				<h3>수강중인 강의가 없습니다.</h3>
			</div>

			<!-- 수강중인 강의 리스트가 있는 경우 -->
	<div th:unless="${mycourseList.isEmpty()}">
					<div class="card height-sevenh">
					<div class="card-body">
					<form name="searchForm">
					<label>년도  </label>	
						<select id="searchYear" name="searchYear" class="form-select width-one inline">
							<option 
							th:each="year : ${year}" th:value="${year.courseYear}" 
							th:text="${year.courseYear}"
							th:selected="${searchYearVal != null} ? ${searchYearVal} == ${year.courseYear} : ${session.year} == ${year.courseYear}"></option>
						</select> 		
					
						<label>학기  </label>
						<select id="searchSemester" name="searchSemester" class="form-select width-one inline">
							<option 
							th:each="semester : ${semester}" th:value="${semester.courseSemester}"
							th:text="${semester.courseSemester}"
							th:selected="${searchSemesterVal != null} ? ${searchSemesterVal} == ${semester.courseSemester} : ${session.semester} == ${semester.courseSemester}"
							></option>
						</select>  
						
						<button type="submit" class="saveBtn btn btn-primary me-1 mb-1" >검색</button>
							<div class="divider">
						<div class="divider-text">
						<!-- 여기 년도 학기 세션값 가져와서 출력 해야함.  -->
							<th:block>
								<h5 class="font-bold" th:if="${searchYearVal == null} or ${searchSemesterVal} == null">
							 	[[${session.year}]]년-[[${session.semester}]]학기 수강과목
							 	</h5>
							 	
							 	<h5 class="font-bold" th:if="${searchYearVal != null} or ${searchSemesterVal != null}">
								 [[${searchYearVal}]]년-[[${searchSemesterVal}]]학기 수강과목
								 </h5>
							 </th:block>
						</div>
					</div>
						
					
					</form>
				
			
				<div class="grid-container-three">
					<div class="grid-item" th:each="mycourse : ${mycourseList}">
						<div class="card" id="card"
							th:onclick="|location.href='@{/student/eclass/{courseCode}(courseCode=${mycourse.courseCode})}'|">
						 	<div class="card-body">
								<div>
								<span class="card-title fw-bold">강의명 :</span>
								<i class="bi bi-collection-play fs-5" style="float:right "></i>
								<span class="card-title fw-bold" th:text="${mycourse.courseName}"></span>
								</div>
								<br>
								<div id="cardBottom">
								<span  class="card-title font-bold">교수명 :</span>
								<span class="card-title font-bold" th:text="${mycourse.professorName}"></span>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>

		<script th:inline="javascript">
			
		</script>

	</th:block>
</body>
</html>