<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>

</style>
</head>
<body>
	<th:block layout:fragment="studentEclassContent">
		<div id="main">
		<div class="page-title">
			<h2>공지사항</h2>
			</div>
			
			<div class="card">
			<div class="card height-sevenh">
				<div class="card-body">
					<form name="searchForm">
						<select id="type" name="type" class="form-select width-one inline">
							<option th:text="--" th:value="''"></option>
							<option th:selected="${pageMaker.cri.type} == 'course_Notice_No'" value="course_Notice_No">번호</option>
							<option th:selected="${pageMaker.cri.type} == 'course_Notice_Title'" value="course_Notice_Title">제목</option>
							<option th:selected="${pageMaker.cri.type} == 'course_Notice_Content'" value="course_Notice_Content">내용</option>
						</select> 
						<input type="text"  class="form-control width-three inline" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" >
						<input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
						<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
						<button class="saveBtn btn btn-primary me-1 mb-1 search">검색</button>
					</form>
					
					<br>



					<table class="table table-hover" id="tablepaging">
						<thead class="thead-primary">
							<tr>
								<th width="100px">번호</th>
								<th width="300px">제목</th>
								<th width="100px">등록일</th>
								<th width="100px">수정일</th>
								<th width="100px">조회수</th>
							</tr>
						</thead>
						<tbody class="tbody-center">
							<tr th:each="studyNoticeList : ${studyNoticeList}"
							th:onclick="|location.href='@{/student/eclass/eclassnotice/{courseNoticeNo}(courseNoticeNo = ${studyNoticeList.courseNoticeNo})}'|">
								<td th:text="${studyNoticeList.noticeNo}"></td>
								<td th:text="${studyNoticeList.courseNoticeTitle}"></td>
								<td th:text="${#dates.format(studyNoticeList.courseNoticeRegDate, 'yyyy-MM-dd')}"></td>
								<th:block>
								<td th:if="${studyNoticeList.courseNoticeUpdateDate == 'null'}">-</td>
								<td th:if="${studyNoticeList.courseNoticeUpdateDate != 'null'}" th:text="${#dates.format(studyNoticeList.courseNoticeUpdateDate, 'yyyy-MM-dd')}"></td>
								</th:block>
								<td th:text="${studyNoticeList.courseNoticeHit}"></td>
							</tr>
						</tbody>
					</table>
						<div th:object="${pageMaker}">
						<ul class="pagination justify-content-center">
						<th:block th:if="${pageMaker.prev}">
   						 <li class="page-item prev">
        				<a class="page-link" href="javascript:void(0)" th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${pageMaker.cri.getLink(pageMaker.startPage - 1 , pageMaker.cri.amount, pageMaker.cri.type, pageMaker.cri.keyword)}]])">이전</a>
   						 </li>
						</th:block>
						<th:block th:with="pageMaker = ${pageMaker}">
				    <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
				        <li class="page-item" th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
				            <a class="page-link" href="javascript:void(0)" th:text="${num}" th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${pageMaker.cri.getLink(num, pageMaker.cri.amount, pageMaker.cri.type, pageMaker.cri.keyword)}]])"></a>
				        </li>
				    </th:block>
				    <th:block th:if="${pageMaker.next}">
					    <li class="page-item next">
					        <a class="page-link" href="javascript:void(0)" th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${pageMaker.cri.getLink(pageMaker.endPage + 1, pageMaker.cri.type, pageMaker.cri.amount, pageMaker.cri.keyword)}]])">다음</a>
					    </li>
						</th:block>
						</th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>


		<script th:inline="javascript">
		// 폼 예외 처리
	 	$('.search').on("click" , function() {
		if($("#type option:selected").val() == '' ) {
			
			
		} else {
			if(($('input[name=keyword]').val() == null || $('input[name=keyword]').val() == '')) {
				fireSwal("error" , '키워드를 입력하세요.');
				return false;
			}
		}
		$('input[name=pageNum]').val('1')
		searchForm.submit()
	}) 
		
		</script>



	</th:block>
</body>
</html>