<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="professorContent">
		<div id="main">
		<div class="page-title">
			<h3>나의 강의과목</h3>
			</div>
			

			<!-- 교수 강의 리스트가 없는 경우 -->
			<div th:if="${mycourseList.isEmpty()}">
				<h3>수강중인 강의가 없습니다.</h3>
			</div>

			<!-- 교수 강의 리스트가 있는 경우 -->
			<div th:unless="${mycourseList.isEmpty()}">
			
					<form name="searchForm">
					<label>년도</label>	
						<select id="searchYear" name="searchYear" class="form-select width-one inline">
							<option value="">--</option>
							<option 
							th:each="year : ${year}" th:value="${year.courseYear}" 
							th:text="${year.courseYear}"
							th:selected="${searchYearVal != null} ? ${searchYear} == ${year.courseYear} : ${session.year} == ${year.courseYear}"></option>
						</select> 		
					
						<label>학기</label>
						<select id="searchSemester" name="searchSemester" class="form-select width-one inline">
							<option value="">--</option>
							<option 
							th:each="semester : ${semester}" th:value="${semester.courseSemester}"
							th:text="${semester.courseSemester}"
							th:selected="${searchSemesterVal != null} ? ${searchSemester} == ${semester.courseSemester} : ${session.semester} == ${semester.courseSemester}"
							></option>
						</select>  
						
						<button type="submit" class="saveBtn btn btn-primary me-1 mb-1" >검색</button>
							<div class="divider">
						<div class="divider-text">
						<!-- 여기 년도 학기 세션값 가져와서 출력 해야함.  -->
							<th:block>
								<span th:if="${searchYearVal == null} or ${searchSemesterVal} == null">
							 	[[${session.year}]]년-[[${session.semester}]]학기 수강과목
							 	</span>
							 	
							 	<span th:if="${searchYearVal != null} or ${searchSemesterVal != null}">
								 [[${searchYearVal}]]년-[[${searchSemesterVal}]]학기 수강과목
								 </span>
							 </th:block>
						</div>
					</div>
						
					
					</form>
				
			
				<div class="grid-container">
					<div class="grid-item" th:each="mycourse : ${mycourseList}">
						<div class="card"
							th:onclick="|location.href='@{/professor/eclass/{courseCode}(courseCode=${mycourse.courseCode})}'|">
							<div class="card-body height-">
							
								<span  class="card-title fw-bold">강의명 :</span>
								<span class="fw-bold" th:text="${mycourse.courseName}"></span>
								<br>
								<span  class="card-title fw-bold">교수명 :</span>
								<span class="fw-bold" th:text="${mycourse.professorName}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			
		</script>
	</th:block>
</body>
</html>