<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/professor_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="professorContent">
	<div id="main">
		<div class="page-title">
			<h2>교수 메인 페이지</h2>
		</div>
		<div class="grid-container">
			<div class="grid-item">
				<div class="card">
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="grid-item">
				<div class="card">
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="grid-item">
				<div class="card">
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="grid-item">
				<div class="card">
					<div class="card-body">
					</div>
				</div>
			</div>
		</div>
	</div>
	</th:block>
</body>
</html>