<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="tableFragment">
		<div th:if="${fileList.isEmpty()}" class="content-no height-three">
			<h4>기존에 불러올 파일이 존재하지 않습니다.</h4>
		</div>
		<div th:unless="${fileList.isEmpty()}">
			<div class="grid-container-five">
				<div th:each="f : ${fileList}" class="grid-item grid-border">
					<p th:text="|${f.courseYear}년 ${f.courseSemester}학기|"></p>
					<p th:text="${f.courseName}"></p>
					<p>
						<a
							th:href="@{/video/download/{videoCode}(videoCode = ${f.videoCode})}"
							th:text="${f.videoName}" data-toggle="tooltip"
							data-placement="bottom" title="파일 다운로드"></a>
					</p>
				</div>
			</div>
		</div>
		<div th:object="${pageMaker}" th:with="cri = ${pageMaker.cri}">
				<ul class="pagination justify-content-center">
					<th:block th:if="${pageMaker.prev}">
						<li class="page-item prev"><a class="page-link"
							href="javascript:void(0)"
							th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.startPage - 1, cri.amount, cri.type, cri.keyword)}]])">이전</a>
						</li>
					</th:block>
					<th:block th:with="pageMaker = ${pageMaker}">
						<th:block
							th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
							<li class="page-item"
								th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
								<a class="page-link" href="javascript:void(0)" th:text="${num}"
								th:onclick="getVideoList([[${pageMaker.cri.pageNum}]], [[${pageMaker.cri.amount}]])"></a>
							</li>
						</th:block>
						<th:block th:if="${pageMaker.next}">
							<li class="page-item next"><a class="page-link"
								href="javascript:void(0)"
								th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.endPage + 1, cri.amount, cri.type, cri.keyword)}]])">다음</a>
							</li>
						</th:block>
					</th:block>
				</ul>
			</div>
	</div>
</body>
</html>