<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor-eclass_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="updateFragment">
		<div class="page-title">
			<h3>강의 수정하기</h3>
		</div>
		<div class="cardForm card">
			<div class="card-body">
				<form name="reportFrm" th:action="@{/professor/eclass/updateLecture}"
					method="POST" enctype="multipart/form-data">
					<input type="hidden" name="courseCode"
						th:value="${session.courseInfo.courseCode}"> 
					<input type="hidden"
						name="lectureCode" th:value="${lecture.lectureCode}">
					<input type="hidden"
						id="originalContent" th:value="${lecture.lectureContent}">
					<table class="table">
						<tr>
							<th>강의명</th>
							<td><input class="form-control" type="text" name="lectureTitle"
								th:value="${lecture.lectureTitle}"></td>
						</tr>
						<tr>
							<th>과제주차</th>
							<td><select name="weekCode" class="form-select width-three">
									<option value="">주차</option>
									<th:block th:each="week : ${session.courseInfo.weekPlans}">
										<option th:value="${week.weekCode}"
											th:selected="${week.weekCode == lecture.weekCode}"
											th:data-start="${#dates.format(week.weekStartDate, 'yyyy-MM-dd')}"
											th:data-end="${#dates.format(week.weekEndDate, 'yyyy-MM-dd')}">[[${week.weekNum}]]</option>
									</th:block>
							</select></td>
						</tr>
						<tr>
							<th>강의 출석 인정 기간</th>
							<td><input class="form-control width-three" style="display:inline;" type="date" name="lectureStartDate"
								th:value="${#dates.format(lecture.lectureStartDate, 'yyyy-MM-dd')}">
								 ~ <input class="form-control width-three" style="display:inline;" type="date" name="lectureEndDate"
								th:value="${#dates.format(lecture.lectureEndDate, 'yyyy-MM-dd')}"></td>
						</tr>
						<tr>
							<th>강의 출석 인정 시간</th>
							<td><input class="form-control width-three" style="display:inline;" 
								type="number" name="lectureAttTime"
								th:value="${lecture.lectureAttTime/60}">분</td>
						</tr>
						<tr th:if="${lecture.videoCode != null}">
							<th>원본 파일 확인하기</th>
							<td><a th:text="${lecture.lectureFile.videoName}"
								th:href="@{/video/download/{videoCode}(videoCode = ${lecture.videoCode})}">
							</a> <input type="hidden" th:value="${lecture.videoCode}"
								name="videoCode"></td>
						</tr>
						<tr th:unless="${lecture.videoCode != null}">
							<th>유튜브 파일 확인하기</th>
							<td><a th:href="${lecture.lectureYoutubePath}" target="_blank">유튜브 영상</a></td>
						</tr>
						<tr>
							<th>과제 첨부파일 업로드</th>
							<td><input class="file-control" type="file" name="file"></td>
						</tr>
						<tr>
							<th>유튜브 업로드</th>
							<td><input class="form-control" type="text" name="lectureYoutubePath"></td>
						</tr>
						<tr>
							<th>참고사항</th>
							<td><textarea id="updateEditor" name="lectureContent"
							th:field="${lecture.lectureContent}"></textarea></td>
						</tr>
					</table>
					<div align="center">
						<button type="submit" class="btn btn-primary">수정하기</button>
						<button id="check" type="button" class="btn btn-secondary">취소</button>
					</div>
				</form>
			</div>
		</div>
		<script th:inline="javascript">
		$(function() {
			cancelUpdate();
		})
		</script>
	</th:block>
</body>
</html>