<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_layout}">
<head>
<meta charset="UTF-8">
<title>관리자 강의계획서 리스트출력</title>
<style>
.offPage {
	display: none;
}

.scroll {
	overflow: scroll;
	height: 600px;
}

.card {
	padding: 3%;
}
.hidden {

    display:none;

}
</style>
</head>
<body>
	<th:block layout:fragment="adminContent">
	<div id="main">
		<div>
			<h2>제출된 강의 계획서 조회</h2>
		</div>
		<div class="card-body">
			<form name="searchForm" class="form-horizontal">
			<select id="type" name="type">
				<option value="course_year">개설연도</option>
				<option value="course_semester">개설학기</option>
				</select>
				<input type="number" name="keyword" id="keyword">
				<button class="btn rounded-pill btn-primary" type="submit">검색</button>
				
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>년도</th>
						<th>학기</th>
						<th>이수단위</th>
						<th>이수구분</th>
						<th>강의명</th>
						
						<th>승인여부</th>
						<th>비승인 여부</th>
						<th>상세보기</th>
						<th>승인하기</th>
						<th>비승인하기</th>
						
					</tr>
				</thead>
				<tbody>
				 	
					<tr th:each="item:${tempcourseList}">
							<td th:text="${item.courseYear}"></td>
							<td th:text="${item.courseSemester}"></td>
							<!-- <td th:text="${item.courseCredit}"></td> -->
							<td>[[${item.courseCredit}]]학점</td>
							<!-- <td th:text="${item.courseSortation}"></td> -->
							<td th:text="${item.courseSortationName}"></td>	
							<td th:text="${item.courseName}">
							</td>
							<td class="hidden" th:text="${item.submitYesName}" id="submitYes" th:data-codee="${item.submitYes}"></td>
							
							<td th:text="${item.okayYesName}" id="okayYes" th:data-back="${item.okayYes}"></td>
							<td th:if="${item.backReason == null}" id="backReason" th:data-code="null"></td>
							<td th:if="${item.backReason == '비승인'}" id="backReason" th:data-code="null">비승인</td>
							<td>
							<a th:href="|/admin/adminGetTemp/${item.courseCode}|"><button th:text="상세보기" th:data-courseName="${item.courseCode}" class="btn btn-primary"></button></a>
							</td>
							<td><button th:disabled="${item.okayYes}=='A00'" name="button1" class="btn btn-danger moddd" th:data-course="${item.courseCode}" >승인</button></td>
							<td><button th:disabled="${item.backReason}=='비승인'" name="button1" class="btn btn-danger modddd" th:data-course="${item.courseCode}" >비승인</button></td>
						</tr>
						
				</tbody>
			</table>
			
			<!-- <button class="btn rounded-pill btn-primary" onclick="tempInsert()">등록</button> -->
			
		</div>
		</div>
		<script th:inline="javascript">
		
		/* $(function() {
			goPage(pageNum);
			tempInsert();
			getTemp();
		}) */
		
		/* function goPage(pageNum){
			searchFrm.pageNum.value = pageNum;
			searchFrm.submit();
		} */
		function tempInsert(){
			location.href="tempInsert";
		}
		function getTemp(){
			location.href="getTemp";
		}
		/* $(function(){
			$("#button1").on("click", tempInfo)
			function tempInfo(){
				var code = $(this).data("code")
				alert(code);
				location.href="getTemp/${code}";
			}
		}) */
		

		$(".moddd").on("click", function () {
			if (window.confirm("정말로 승인하시겠습니까?")) {
				let submitYes = $(this).closest("tr").find("#submitYes").data("codee")
				let backReason = $(this).closest("tr").find("#backReason").data("code")
				let okayYes = $(this).closest("tr").find("#okayYes").data("back")
				let courseCode = $(this).data("course")
					submitYes = 'SUB'
					backReason = ''
					okayYes = 'A00'
				$.ajax({
					url : `/admin/adminTempList/okayTemp`,
					method : "post",
					dataType : "json",
					data : { 
					"submitYes"	: submitYes,
					"backReason" : 	backReason,
					"okayYes" :	okayYes,
					"courseCode" :	 courseCode					
					},
					dataType : "json",
					success : function(result) {
						
						
						alert('승인되었습니다')
						location.reload();
					} 
				});
			}
		})
		
		
		$(".modddd").on("click", function () {
			if (window.confirm("정말로 비승인하시겠습니까?")) {
				let submitYes = $(this).closest("tr").find("#submitYes").data("codee")
				let backReason = $(this).closest("tr").find("#backReason").data("code")
				let okayYes = $(this).closest("tr").find("#okayYes").data("back")
				let courseCode = $(this).data("course")
					submitYes = 'UNSUB'
					backReason = '비승인인 이유는 여러가지가 있다!'
					okayYes = ''
				$.ajax({
					url : `/admin/adminTempList/backTemp`,
					method : "post",
					dataType : "json",
					data : { 
					"submitYes" : submitYes,
					"backReason" : 	backReason,
					"okayYes" :	okayYes,
					"courseCode" :	 courseCode					
					},
					dataType : "json",
					success : function(result) {
						
						
						alert('비승인되었습니다')
						location.reload();
					} 
				});
			}
		})

		</script>
	
	</th:block>
</body>
</html>