<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_layout}">
<head>
<meta charset="UTF-8">
<title>교직원 리스트</title>
</head>
<body>
	<th:block layout:fragment="adminContent">
		<div id="main">
			<div>
				<h2>교직원 정보 조회</h2>
			</div>
			<div class="card">
				<form name="frm_search" action="/admin/studentList" method="post">
					<label for="departName">학과</label> 
					<input type="text" id="departName" name="depart_name"> 
					<label for="studentName">이름</label> 
					<input type="text" id="studentName" name="student_name">
					<button class="btn btn-primary adminStudentSearch">검색</button>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>교번</th>
							<th>이름</th>
							<th>담당학과</th>
							<th>생년월일</th>
							<th>임용일자</th>
							<th>연락처</th>
							<th>상세보기</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="list : ${professorList}">
							<td th:text=${list.professorId}></td>
							<td th:text=${list.professorName}></td>
							<td th:text=${list.departName}></td>
							<td th:text="${#dates.format(list.professorBirth, 'yyyy-MM-dd')}"></td>
							<td th:text="${#dates.format(list.registerDate, 'yyyy-MM-dd')}"></td>
							<td th:text=${list.professorPhone}></td>
							<td>
								
								 <button type="button" class="btn btn-primary btn-sm adminProfessorSelect"
									th:data-code="${list.professorId}">상세보기</button>
							</td>
						</tr>
					</tbody>
				</table>
					<form name="frm_select" action="/admin/adminProfessorInfoSelect" method="post">
						<input type="hidden" name="professorId" id="professorId" />
					</form>
			</div>
		</div>
		<script th:inline="javascript">
		$(function(){
			 $(".adminProfessorSelect").on("click", function(){
				var pId = $(this).data("code") 
				frm_select.professorId.value = pId
				frm_select.submit()
			 })
			
		});
		</script>
	</th:block>
</body>
</html>