<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_layout}">
<head>
<meta charset="UTF-8">
<title>교직원 리스트</title>
</head>
<body>
	<th:block layout:fragment="adminContent">
		<div id="main">
			<div class="page-title">
				<h3>교직원 정보 조회</h3>
			</div>
			<div class="card height-eight">
				<div class="card-body">
					<form name="frm_search" action="/admin/professorList" method="get">
						<input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}"> 
						<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
						<th:block th:with="cri = ${pageMaker.cri}">
							<label for="type">학과</label>
							<input type="text" id="type" name="type" class="form-control inline width-two" th:value="${cri.type}">
							<label for="keyword">이름</label>
							<input type="text" id="keyword" name="keyword" class="form-control inline width-two" th:value="${cri.keyword}">
							<button class="btn btn-primary adminProfessorSearch">검색</button>
						</th:block>
					</form>
					<hr>
					<table class="table table-hover">
						<thead class="thead-primary">
							<tr>
								<th>교번</th>
								<th>이름</th>
								<th>담당학과</th>
								<th>생년월일</th>
								<th>임용일자</th>
								<th>연락처</th>
							</tr>
						</thead>
						<tbody class="tbody-center">
							<tr th:each="list : ${professorList}"
							th:onclick="detailProfessor([[${list.professorId}]])">
								<td th:text=${list.professorId}></td>
								<td th:text=${list.professorName}></td>
								<td th:text=${list.departName}></td>
								<td
									th:text="${#dates.format(list.professorBirth, 'yyyy-MM-dd')}"></td>
								<td th:text="${#dates.format(list.registerDate, 'yyyy-MM-dd')}"></td>
								<td th:text=${list.professorPhone}></td>
							</tr>
						</tbody>
					</table>
					<div th:object="${pageMaker}" th:with="cri = ${pageMaker.cri}">
						<ul class="pagination justify-content-center">
							<th:block th:if="${pageMaker.prev}">
								<li class="page-item prev"><a class="page-link"
									href="javascript:void(0)"
									th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.startPage - 1, cri.amount, cri.type, cri.keyword)}]])">이전</a>
								</li>
							</th:block>
							<th:block th:with="pageMaker = ${pageMaker}">
								<th:block
									th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item"
										th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
										<a class="page-link" href="javascript:void(0)"
										th:text="${num}"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(num, cri.amount, cri.type, cri.keyword)}]])"></a>
									</li>
								</th:block>
								<th:block th:if="${pageMaker.next}">
									<li class="page-item next"><a class="page-link"
										href="javascript:void(0)"
										th:onclick="movePagination([[${#httpServletRequest.requestURI}]], [[${cri.getLink(pageMaker.endPage + 1, cri.amount, cri.type, cri.keyword)}]])">다음</a>
									</li>
								</th:block>
							</th:block>
						</ul>
					</div>
					<form name="frm_select" action="/admin/adminProfessorInfoSelect"
						method="post">
						<input type="hidden" name="professorId" id="professorId" />
					</form>
				</div>
			</div>
		</div>
		<script th:inline="javascript">

			function detailProfessor(data) {
				location.href=`/admin/adminProfessorInfoSelect?professorId=` + data;
			}
			
		</script>
	</th:block>
</body>
</html>