<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_layout}">
<head>
<meta charset="UTF-8">
<title>학생 정보 조회/수정</title>
<style>

.card .faceImg {
	margin-right: 5%;
	height: 100%
}

#mod {
	margin-bottom: 10px;
}
.table2 th {
	background-color: #435ebe;
	color: white;
	text-align: center;
	width : 20%;
}
.table2 td {
	text-align: left;
}
</style>

</head>
<body>
	<th:block layout:fragment="adminContent">
		<div id="main">
			<div class="page-title">
				<h3>학생 정보 조회</h3>
			</div>
			<div class="card height-eight">
				<h5>개인 정보</h5>
				<div class="row">
					<div class="col-10">
						<table class="table table2">
							<tr>
								<th>전공학과</th>
								<td th:text="${adminStudentInfoSelect.departName}"></td>
								<th>학번</th>
								<td th:text="${adminStudentInfoSelect.studentId}"></td>
								<td><input type="hidden" name="studentId" id="studentId"
									th:value="${adminStudentInfoSelect.studentId}"></td>
							</tr>
							<tr>
								<th>이름</th>
								<td th:text="${adminStudentInfoSelect.studentName}"></td>
								<th>성별</th>
								<td th:text="${adminStudentInfoSelect.studentGenderNm}"></td>
							</tr>
							<tr>
								<th>학년</th>
								<td th:text="${adminStudentInfoSelect.studentGrade}"></td>
								<th>생년월일</th>
								<td
									th:text="${#dates.format(adminStudentInfoSelect.studentBirth, 'yyyy-MM-dd')}"></td>
							</tr>
							<tr>
								<th>학적상태</th>
								<td><select class="form-select" name="studentStatusUpdate"
									id="studentStatusUpdate"
									th:value="${adminStudentInfoSelect.parentsRel}">
										<th:block th:each="code : ${codeList}">
											<option th:value="${code.detailCode}"
												th:text="${code.detailName}"
												th:selected="${adminStudentInfoSelect.studentStatus} == ${code.detailCode}"></option>
										</th:block>
								</select></td>
								<th>입학학부</th>
								<td th:text="${adminStudentInfoSelect.departName}"></td>
							</tr>
							<tr>
								<th>입학일자</th>
								<td
									th:text="${#dates.format(adminStudentInfoSelect.studentAdmissionDate, 'yyyy-MM-dd')}"></td>
								<th>입학구분</th>
								<td th:text="${adminStudentInfoSelect.studentDivisionNm}"></td>
							</tr>
							<tr>
								<th>우편번호</th>
								<td th:text="${adminStudentInfoSelect.studentPostalCode}"></td>
								<th>주소</th>
								<td th:text="${adminStudentInfoSelect.studentAddr}"></td>
							</tr>
							<tr>
								<th>연락처</th>
								<td th:text="${adminStudentInfoSelect.studentPhone}"></td>
								<th>이메일</th>
								<td th:text="${adminStudentInfoSelect.studentEmail}"></td>
							</tr>
						</table>
					</div>
					<div class="col-2">
						<table class="faceImg">
							<tr>
								<td><img
									th:src="|/download/${adminStudentInfoSelect.studentImg}|"
									style="width: 100%"></td>
							</tr>
						</table>
					</div>
				</div>
				<h5>보호자 정보</h5>
				<table class="table table2">
					<tr>
						<th>보호자 성명</th>
						<td th:text="${adminStudentInfoSelect.parentsName}"></td>
					</tr>
					<tr>
						<th>연락처</th>
						<td th:text="${adminStudentInfoSelect.parentsPhone}"></td>
					</tr>
					<tr>
						<th>관계</th>
						<td th:text="${adminStudentInfoSelect.parentRelNm}"></td>
					</tr>
				</table>
				<div class="row">
					<div class="col-6">
						<div class="btnContainer">
							<button class="btn btn-primary buttonmod" id="back">목록</button>
						</div>
					</div>
					<div class="col-6">
						<div class="btnContainer">
							<button class="btn btn-primary buttonmod" id="mod">수정</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			/*<![CDATA[*/
			$(function() {
				$("#mod").on("click", confirmModal)
				function confirmModal() {
					fireSwal('info', '변경 내용을 저장하시겠습니까?').then(function(result) {
						if (result.isConfirmed) {
							studentInfoUpdate();
						}
					})
				}

				function studentInfoUpdate() {
					$.ajax({
						url : "/admin/studentInfoUpdate",
						method : "post",
						dataType : "json",
						data : {
							"studentId" : $("#studentId").val(),
							"studentStatus" : $("#studentStatusUpdate").val(),
						},
						dataType : "json",
						success : function(result) {
							fireSwal('success', '수정이 완료되었습니다.')
		                     .then((result) => {
		                        if (result.isConfirmed) {
		                           location.reload();
		                        }
		                     
						}) 
						}
					});
				}

			});

			$(function() {
				$("#back").on("click", backList)

				function backList() {
					location.href = "/admin/studentList"
				}
			});

			/*]]>*/
		</script>
	</th:block>

</body>
</html>