<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.report.service.ProfessorReportMapper">
	<select id="getFile" parameterType="String" resultType="ReportFileVO">
		SELECT report_file_path
			FROM report_file
			WHERE report_file_code = #{reportFileCode}
			AND user_code = #{userCode}
	</select>
	<select id="getProfWholeFile" resultType="ReportFileVO">
		SELECT report_file_code,
					report_file_path,
					report_file_name,
					user_code,
					submit_id
					FROM report_file
					WHERE submit_id = #{submitId}
					AND user_code = #{userCode}
	</select>
	<resultMap id="reportMap" type="ReportVO">
		<id column="report_code" property="reportCode"/>
		<result column="week_code" property="weekCode"/>
		<result column="report_reg_date" property="reportRegDate"/>
		<result column="report_start_date" property="reportStartDate"/>
		<result column="report_end_date" property="reportEndDate"/>
		<result column="report_title" property="reportTitle"/>
		<result column="report_content" property="reportContent"/>
		<result column="report_assigned_score" property="reportAssignedScore"/>
		<result column="report_file_code" property="reportFileCode"/>
		<result column="course_code" property="courseCode"/>
		<association property="reportFile" javaType="ReportFileVO">
			<id column="report_file_code" property="reportFileCode"/>
			<result column="report_file_name" property="reportFileName"/>
			<result column="report_file_stored_name" property="reportFileStoredName"/>
			<result column="report_file_extension" property="reportFileExtension"/>
			<result column="report_file_path" property="reportFilePath"/>
			<result column="user_code" property="userCode"/>
			<result column="submit_id" property="submitId"/>
		</association>
	</resultMap>
	<select id="getReportList" resultMap="reportMap">
		SELECT i.report_code,
						i.week_code,
						i.report_reg_date,
						i.report_start_date,
						i.report_end_date,
						i.report_title,
						i.report_content,
						i.report_assigned_score,
						i.report_file_code,
						i.course_code,
						f.report_file_code,
						f.report_file_name,
						f.report_file_path,
						f.user_code,
						f.submit_id
						FROM report_info i JOIN report_file f
						ON i.report_file_code = f.report_file_code
						<where>
						<if test="course != null and course != ''">
						AND i.course_code = #{course.courseCode}
						</if>
						<if test="report != null and report != ''">
						AND i.report_code = #{report.reportCode}			
						</if>
						</where>
						ORDER BY i.week_code DESC
	</select>
	<insert id="uploadFile" parameterType="ReportFileVO">
		INSERT INTO report_file (
														report_file_code,
														report_file_name,
														report_file_stored_name,
														report_file_extension,
														report_file_path,
														user_code,
														submit_id
														)
														VALUES (
																		'RPF'||LPAD(TO_CHAR(report_file_seq.NEXTVAL), 17, '0'),
																		#{reportFileName},
																		#{reportFileStoredName},
																		#{reportFileExtension},
																		#{reportFilePath},
																		#{userCode},
																		#{submitId}
																		)
		<selectKey keyProperty="reportFileCode" resultType="String" order="AFTER">
			SELECT MAX(report_file_code)
				FROM report_file
		</selectKey>
	</insert>
	<insert id="insertReport" parameterType="ReportVO">
		<selectKey keyProperty="reportCode" resultType="String" order="BEFORE">
			SELECT #{weekCode}||LPAD(TO_CHAR(report_seq.NEXTVAL), 8, '0')
				FROM dual
		</selectKey>
		INSERT INTO report_info (report_code,
															week_code,
															report_reg_date,
															report_start_date,
															report_end_date,
															report_title,
															report_content,
															report_assigned_score,
															course_code,
															report_file_code
															)
									VALUES (
													#{reportCode},
													#{weekCode},
													SYSDATE,
													#{reportStartDate},
													#{reportEndDate},
													#{reportTitle},
													#{reportContent},
													#{reportAssignedScore},
													#{courseCode},
													#{reportFileCode}
											)
	</insert>
	<select id="getStudentList" resultType="StudentVO">
		SELECT m.student_id, s.student_name
			FROM my_course m JOIN student_pri_info s
			ON m.student_id = s.student_id
			<where>
			<if test="report != null and report != ''">
			AND m.course_code = #{report.courseCode}
			</if>
			<if test="submission != null and submission != ''">
			AND m.student_id = #{submission.studentId}
			</if>
			</where>
	</select>
	<insert id="insertStudentSubmission">
		INSERT INTO report_submission (
																	report_submission_code,
																	report_code,
																	student_id,
																	report_submission_option
																	)
																	VALUES (
																					'RSUB'||LPAD(TO_CHAR(REPORT_SUB_SEQ.NEXTVAL), 6, '0'),
																					#{report.reportCode},
																					#{student.studentId},
																					'UNSUB'
																					)
	</insert>
	<delete id="deleteFile" parameterType="ReportFileVO">
		DELETE FROM report_file
			WHERE report_file_code = #{reportFileCode}
	</delete>
	<update id="updateReport" parameterType="ReportVO">
		UPDATE report_info
			SET week_code = #{weekCode},
			report_start_date = #{reportStartDate},
			report_end_date = #{reportEndDate},
			report_title = #{reportTitle},
			report_content = #{reportContent},
			report_assigned_score = #{reportAssignedScore},
			report_file_code = #{reportFileCode}
			WHERE report_code = #{reportCode}
	</update>
	<select id="getStudentReportList" resultType="ReportSubmissionVO">
		SELECT 
			report_submission_code,
			report_code,
			report_submission_date,
			report_score,
			student_id,
			report_submission_option,
			report_file_code
		FROM report_submission
		WHERE report_code IN
		<foreach collection="list" item="item" 
		open = "(" separator="," close =")" >
			#{item.reportCode}
		</foreach> 
		ORDER BY report_code
	</select>
	<delete id="deleteReport">
		DELETE FROM report_info
			WHERE report_code = #{reportCode}
	</delete>
</mapper>