<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.report.service.StudentReportMapper">
	<resultMap id="reportMap" type="ReportVO">
		<id column="report_code" property="reportCode" />
		<result column="week_code" property="weekCode" />
		<result column="report_reg_date" property="reportRegDate" />
		<result column="report_start_date" property="reportStartDate" />
		<result column="report_end_date" property="reportEndDate" />
		<result column="report_title" property="reportTitle" />
		<result column="report_content" property="reportContent" />
		<result column="report_assigned_score"
			property="reportAssignedScore" />
		<result column="report_file_code" property="reportFileCode" />
		<result column="course_code" property="courseCode" />
		<result column="week_num" property="weekNum" />
		<result column="report_submission_option"
			property="reportSubmissionOption" />
			<result column="report_submission_code" property="reportSubmissionCode"/>
			<result column="report_score_objection_approval_option" property="reportScoreObjectionApprovalOption"/>
			<result column="report_no" property="reportNo"/>
			<result column="report_score" property="reportScore"/>
			<result column="user_code" property="userCode"/>
			<result column="report_file_name" property="reportFileName" />
		<association property="reportFile" javaType="ReportFileVO">
			<id column="report_file_code" property="reportFileCode" />
			<result column="report_file_name" property="reportFileName" />
			<result column="report_file_stored_name"
				property="reportFileStoredName" />
			<result column="report_file_extension"
				property="reportFileExtension" />
			<result column="report_file_path" property="reportFilePath" />
			<result column="user_code" property="userCode" />
			<result column="submit_id" property="submitId" />
		</association>
	</resultMap>
	
	
	<select id="getTotal" resultType="int">
		 SELECT COUNT(*) 
		 FROM ( SELECT R.REPORT_CODE,
		R.WEEK_CODE,
		R.REPORT_TITLE,
		R.REPORT_START_DATE,
		R.REPORT_END_DATE,
		S.STUDENT_ID,
		S.REPORT_SCORE,
		S.REPORT_SUBMISSION_OPTION,
		R.REPORT_FILE_CODE,
        S.REPORT_SUBMISSION_CODE,
        F.REPORT_FILE_NAME,
        F.REPORT_FILE_PATH,
        O.REPORT_SCORE_OBJECTION_APPROVAL_OPTION,
         W.WEEK_NUM
		FROM REPORT_INFO R JOIN REPORT_SUBMISSION S
		ON R.REPORT_CODE = S.REPORT_CODE
            JOIN REPORT_FILE F
        ON F.REPORT_FILE_CODE = R.REPORT_FILE_CODE
           LEFT OUTER JOIN REPORT_SCORE_OBJECTION O
             ON O.REPORT_SUBMISSION_CODE = S.REPORT_SUBMISSION_CODE
            JOIN COURSE_WEEKLY W
               ON W.WEEK_CODE = R.WEEK_CODE 
              WHERE S.STUDENT_ID = #{studentId}
              <if test="type != null and type != ''">
						AND w.week_num = #{type}
				</if>
              )
	</select>


	<select id="getReportList" resultMap="reportMap">
		select * from (
		select a.* ,  ROWNUM report_no
        FROM (select 
                        r.report_code,
                        r.week_code,
                        r.report_title,
                        r.report_start_date,
                        r.report_end_date,
                        s.student_id,
                        s.report_score,
                        s.report_submission_option,
                        s.report_submission_code,
                        f.report_file_name,
                        f.report_file_path,
                        o.report_score_objection_approval_option,
                         w.week_num,
                        s.report_file_code,
                         f.user_code
                        
                    from report_info r 
                    join report_submission s
                    on r.report_code = s.report_code
                    left outer join report_file f
                    on f.report_file_code = s.report_file_code
                    left outer join report_score_objection o
                    on o.report_submission_code = s.report_submission_code
                  join course_weekly w
                  on w.week_code = r.week_code
                   <where>
						<if test="courseInfo.studentId != null and courseInfo.studentId != ''">
							AND s.student_id = #{courseInfo.studentId}
						</if>
						<if test="courseInfo.courseCode != null and courseInfo.courseCode != ''">
							AND r.course_code = #{courseInfo.courseCode}
						</if>
						<if test="report.reportCode != null and report.reportCode != ''">
							AND r.report_code = #{report.reportCode}
						</if>
						<if test="courseInfo.type != null and courseInfo.type != ''">
							AND w.week_num = #{courseInfo.type}
						</if>
					</where>
                    
                    ORDER BY 13 DESC) a
               
               where <![CDATA[ROWNUM <= #{cri.pageNum} * #{cri.amount}]]>
              )
              	WHERE report_no > (#{cri.pageNum} - 1) * #{cri.amount}
	</select>

	<select id="getReportDetail" resultType="ReportVO">
		SELECT
		I.REPORT_TITLE,
		W.WEEK_NUM,
		I.REPORT_START_DATE,
		I.REPORT_END_DATE,
		I.REPORT_CONTENT,
		I.REPORT_FILE_CODE,
		I.REPORT_CODE,
        RS.REPORT_SUBMISSION_OPTION
		FROM
		REPORT_INFO I JOIN COURSE_WEEKLY W
		ON I.WEEK_CODE = W.WEEK_CODE
		JOIN REPORT_SUBMISSION RS
        ON RS.REPORT_CODE = I.REPORT_CODE
		WHERE RS.REPORT_CODE = #{reportCode} AND RS.STUDENT_ID = #{studentId}
	</select>
	
	<select id="getProfFileInfo" resultType="ReportVO">
		select  rf.*
        from report_info ri
        join report_file rf
        on ri.report_file_code = rf.report_file_code
        where ri.report_code = #{reportCode}
	</select>
	
	<select id="getModDetail" resultType="ReportVO">
		SELECT
		I.REPORT_TITLE,
		W.WEEK_NUM,
		I.REPORT_START_DATE,
		I.REPORT_END_DATE,
		I.REPORT_CONTENT,
		I.REPORT_FILE_CODE,
		I.REPORT_CODE,
        RS.REPORT_SUBMISSION_OPTION,
        RF.REPORT_FILE_CODE AS REPORT_SUB_FILE_CODE,
        RF.REPORT_FILE_NAME,
        RF.USER_CODE
		FROM
		REPORT_INFO I JOIN COURSE_WEEKLY W
		ON I.WEEK_CODE = W.WEEK_CODE
		JOIN REPORT_SUBMISSION RS
        ON RS.REPORT_CODE = I.REPORT_CODE
        JOIN REPORT_FILE RF
        ON RS.report_FILE_cODE = RF.REPORT_FILE_CODE
		WHERE RS.REPORT_CODE = #{reportCode} AND RS.STUDENT_ID = #{studentId}
	</select>


	<select id="getFile" resultType="String">
		select rf.report_file_path from 
         report_info ri join report_submission rs
         ON ri.report_code = rs.report_code
         join report_file rf
         ON rs.report_file_code = rf.report_file_code 
         where rs.student_id = #{studentId} and rf.report_file_code = #{reportSubFileCode}
	</select>

	<insert id="uploadFile" parameterType="ReportFileVO">
		INSERT INTO report_file (
		report_file_code,
		report_file_name,
		report_file_stored_name,
		report_file_extension,
		report_file_path,
		user_code,
		submit_id
		)
		VALUES (
		'RPF'||LPAD(TO_CHAR(report_file_seq.NEXTVAL), 17, '0'),
		#{reportFileName},
		#{reportFileStoredName},
		#{reportFileExtension},
		#{reportFilePath},
		#{userCode},
		#{submitId}
		)

		<selectKey keyProperty="reportFileCode" resultType="String"
			order="AFTER">
			SELECT MAX(report_file_code)
			FROM report_file
		</selectKey>
	</insert>

	<delete id="deleteReportFile" parameterType="ReportFileVO">
	delete from report_file
	where report_file_code = #{reportSubFileCode}
	
	</delete>

	<update id="insertReportSubmission"
		parameterType="ReportSubmissionVO">
		UPDATE REPORT_SUBMISSION
		SET REPORT_SUBMISSION_OPTION = 'SUB',
		REPORT_SUBMISSION_DATE = SYSDATE,
		REPORT_FILE_CODE = #{reportFileCode}
		WHERE STUDENT_ID = #{studentId} and report_code = #{reportCode}
	</update>
	
	<update id="reportFileCodeUpdate" parameterType="ReportsubmissionVO">
	    update report_submission
        set report_file_code = (select max(Report_file_code) from report_file)
        where report_code = #{reportCode} and student_id = #{studentId}
	
	</update>

	<select id="selectDetail" resultType="ReportSubmissionVO">
		select * from report_submission
		where student_id = #{studentId} and REPORT_CODE = #{reportCode}
		<if test="reportSubmissionOption != 'SUB'">
			and report_submission_option = 'SUB'
		</if>
	</select>


	<select id="selectStuObjection" resultType="ReportObjectionVO">
		SELECT
		S.STUDENT_GRADE,
		S.STUDENT_ID,
		P.STUDENT_NAME
		FROM STUDENT_STUDY_INFO S JOIN STUDENT_PRI_INFO P
		ON S.STUDENT_ID = P.STUDENT_ID
		WHERE S.STUDENT_ID = #{value}
	</select>

	<select id="selectStuReportObjection"
		resultType="ReportObjectionVO">
		select c.week_num,
		s.report_score,
		s.report_submission_code,
        rf.*
		from report_info i join report_submission s
		ON s.report_code = i.report_code
		join course_weekly c
		ON c.week_code = i.week_code
		left outer join report_file rf
        ON s.report_file_code = rf.report_file_code
		where i.report_code = #{reportCode} and s.student_id = #{studentId}
	</select>

	<insert id="insertReportObjection"
		parameterType="ReportObjectionVO">
		INSERT INTO
		  REPORT_SCORE_OBJECTION
		( student_id,
		report_submission_code,
		report_score_objection_application_reason,
		REPORT_SCORE_OBJECTION_APPROVAL_OPTION,
		report_score_objection_rejection_reason)
		values (
		#{studentId},
		#{reportSubmissionCode},
		#{reportScoreObjectionApplicationReason},
		'A01',
		null)
	</insert>
	
	<select id="getReportObjectionDetail" resultType="ReportObjectionVO">
	  select cw.week_num , rs.report_score, ro.report_score_objection_application_reason, report_score_objection_rejection_reason
        from report_score_objection ro join report_submission rs
        on ro.report_submission_code =  rs.report_submission_code
        join report_info ri
        on rs.report_code = ri.report_code
        join course_weekly cw 
        on ri.week_code = cw.week_code
        where rs.report_submission_code = #{reportSubmissionCode}
	</select>

</mapper>