<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/professor-eclass_layout}">
<head>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="professorEclassContent">
		<div id="main">
			<div id="detailView">
				<th:block
					th:replace="layout/fragments/professor-eclass/lecture/detailFragment :: detailFragment">
				</th:block>
			</div>
			<div id="updateView">
				<th:block
					th:replace="layout/fragments/professor-eclass/lecture/updateFragment :: updateFragment">
				</th:block>
			</div>
		</div>
		<script th:inline="javascript">
			$(function() {
				$("#updateView").addClass("hidePage");
				updatePage();
				updateEditor();
			})
		</script>
	</th:block>
</body>
</html>
