<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="videoFragment">
	<div class="card col-8">
		<div class="card-body">
			<video id="video" height="100%" width="100%" 
			th:src="@{/video/download/{videoCode}(videoCode=${lecture.videoCode})}" 
			controls>
			</video>
			<button type="button" th:onclick="getTime()">TIME</button>
		</div>
	</div>
	<script th:inline="javascript">
	$(function() {
			console.log(document.querySelector("video").currentTime);
			getTime();
	})
	
	function getTime() {
		console.log(document.querySelector('video').currentTime);
	}

	</script>
	</th:block>
</body>
</html>