<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="studentContent">
		<style>
tr th {
	font-size: 20px;
}

tr td {
	font-size: large;
}
</style>
		<div id="main">
			<div>
				<h2>학업 정보 조회</h2>
			</div>
			<div class="card">
				<div class="card-body">
					<table class="table">
						<tr>
							<th>이수구분</th>
							<th>총 취득 학점</th>
						</tr>
						<tr th:each="list : ${studentSortationCredit}">
							<td th:if="${list.courseSortation =='MAJOR'}">전공</td>
							<td th:if="${list.courseSortation =='LIBERAL'}">교양</td>
							<td th:text=${list.courseSortationCredit}></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div style="overflow: auto; width: 100%; height: 50%;">
						<table class="table">
							<tr>
								<th>년도</th>
								<th>학기</th>
								<th>신청 학점</th>
								<th>취득 학점</th>
								<th>점수 평균</th>
								<th>평점 평균</th>
							</tr>
							<tr th:each="list : ${studentStudyList}">
								<td th:text=${list.courseYear}>
								<td th:text=${list.courseSemester}>
								<td th:text=${list.semesterCredit1}>
								<td th:text=${list.semesterCredit2}>
								<td th:text=${list.gradeAvg}>
								<td th:if="${list.gradeAvg} == '4.5'">100.00</td>
								<td th:if="${list.gradeAvg} < '4.5'"
									th:text=${list.semesterPercentage}></td>

							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<table class="table">
						<tr>
							<th>전체 취득 학점</th>
							<th>전체 취득 학점</th>
						</tr>
						<tr>
							<td th:text="${studentCreditSum.creditSum}"></td>
							<td th:text="|${studentCreditSum.gradeAvg} / 4.50|">
						</tr>
					</table>


				</div>
			</div>
		</div>
	</th:block>
</body>
</html>