<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="studentContent">
		<div id="main">
			<div class="page-title">
				<h3>학기별 성적 조회</h3>
			</div>
			<div class="card height-eight">
				<div class="card-body">
					<form name="frm_search" action="/student/semesterGradeSelect"
						method="get">
						<label for="type">연도</label> 
						<input th:if="${pageMaker.cri.type != null}" type="number" id="type" class="form-control inline width-two" name="type" th:value="${pageMaker.cri.type}"> 
						<input th:if="${pageMaker.cri.type == null}" type="number" id="type" class="form-control inline width-two" name="type" th:value="${gradeYearSemester.year}"> 
							<label for="keyword">학기</label> 
						<select id="keyword" class="form-select inline width-two"	name="keyword">
							<option th:if="${pageMaker.cri.keyword} != null" th:each="i : ${#numbers.sequence(1, 2)}"
								th:selected="${pageMaker.cri.keyword} == ${i}"
								th:value="${i}"
								th:text="|${i}학기|"></option>
							 <option th:if="${pageMaker.cri.keyword} == null" th:each="i : ${#numbers.sequence(1, 2)}"
								th:selected="${i} == ${gradeYearSemester.semester}"
								th:value="${i}"
								th:text="|${i}학기|"></option>
						</select>
						<button class="btn btn-primary">검색</button>
					</form>
					<hr>
					<table class="table">
						<thead class="thead-primary">
							<tr>
								<th>년도</th>
								<th>학기</th>
								<th>이수영역</th>
								<th>강의명</th>
								<th>학점</th>
								<th>등급</th>
								<th>평점</th>
							</tr>
						</thead>
						<tbody class=" tbody-center">
							<tr th:each="list : ${semesterGradeSelect}">
								<td th:text="${list.courseYear}"></td>
								<td th:text="${list.courseSemester}"></td>
								<td th:text="${list.courseSortationNm}"></td>
								<td th:text="${list.courseName}"></td>
								<td th:text="${list.courseCredit}"></td>
 								<td th:if="${list.courseYear} != ${gradeYearSemester.year} or ${list.courseSemester} != ${gradeYearSemester.semester} or ${gradeYearSemester.scheduleEndDate} < ${#dates.createNow()} or ${gradeYearSemester.scheduleStartDate} > ${#dates.createNow()} or ${list.courseReviewYn} == 'SUB'"
								th:text="${list.courseGradeNm}"></td>
 								<td th:if="${list.courseYear} == ${gradeYearSemester.year} and ${list.courseSemester} == ${gradeYearSemester.semester} and ${gradeYearSemester.scheduleEndDate} >= ${#dates.createNow()} and ${gradeYearSemester.scheduleStartDate} <= ${#dates.createNow()} and ${list.courseReviewYn} != 'SUB'"
								>수강평 미등록</td>
 								<td th:if="${list.courseYear} != ${gradeYearSemester.year} or ${list.courseSemester} != ${gradeYearSemester.semester} or ${gradeYearSemester.scheduleEndDate} < ${#dates.createNow()} or ${gradeYearSemester.scheduleStartDate} > ${#dates.createNow()} or ${list.courseReviewYn} == 'SUB'"
								th:text="${list.courseGrade}"></td>
 								<td th:if="${list.courseYear} == ${gradeYearSemester.year} and ${list.courseSemester} == ${gradeYearSemester.semester} and ${gradeYearSemester.scheduleEndDate} >= ${#dates.createNow()}  and ${gradeYearSemester.scheduleStartDate} <= ${#dates.createNow()} and ${list.courseReviewYn} != 'SUB'"
								>수강평 미등록</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>