<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="layout/fragments/configurations/config :: configFragment"></th:block>
<th:block th:replace="layout/fragments/configurations/fullcalendarconfig :: fullcalFragment"></th:block>
</head>
<body>
	<div id="app">
		<th:block th:replace="layout/fragments/headers/headerNav :: headingFragment"></th:block>
		<th:block
			th:replace="layout/fragments/headers/professorHeader :: professorHeaderFragment"></th:block>
		<th:block layout:fragment="professorContent"></th:block>
	</div>
	<th:block th:replace="layout/fragments/configurations/script :: scriptFragment"></th:block>
	
</body>
</html>