<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.portal.coursepackage.service.CoursePackageMapper">

	<!--강의목록LIST -->
	<select id="coursePackage"
		resultType="com.project.portal.coursepackage.service.CoursePackageVO">
		SELECT a.course_code, 
		       a.course_name, 
		       a.course_sortation,
		       a.course_credit, 
		       a.course_limit,
		       a.course_year,
		       a.course_semester,
		        
		       b.professor_name
		  
		  FROM course a
		  JOIN professor b
		  	ON a.professor_id = b.professor_id
		WHERE course_year = #{courseYear} 
		  AND course_semester = #{courseSemester} 
		<if test="departCode != null and departCode !=''">
		  AND a.depart_code = #{departCode}
		</if>
		  AND a.course_code NOT IN (SELECT course_code 
		                              FROM course_package 
		                             WHERE student_id = #{studentId})
		  ORDER BY course_name ASC
	</select>

	<select id="studentInfo" resultType="com.project.portal.coursepackage.service.CoursePackageVO">
		SELECT a.student_id, 
			   a.student_grade,
			   a.department_code, 
			   
			   b.student_name, 
			   
			   c.college_code, 
			   c.depart_name,
			   
			   d.college_name
			FROM STUDENT_STUDY_INFO a
			JOIN STUDENT_PRI_INFO b
				ON a.student_id = b.student_id
			JOIN DEPARTMENT c
				ON a.department_code = c.depart_code
			JOIN college d
				ON c.college_code = d.college_code
		WHERE a.student_id = #{studentId}
	</select>

	<insert id="coursePackageInsert"
		parameterType="com.project.portal.coursepackage.service.CoursePackageVO">
		INSERT INTO course_package
				(
					course_code, 
					student_id
				)
		VALUES	(
					#{courseCode},
					#{studentId}
				)
	</insert>

	<!--단건조회 -->
	<select id="coursePackageList"
		resultType="com.project.portal.coursepackage.service.CoursePackageVO">
		SELECT a.course_code, 
			   b.course_name, 
			   b.course_sortation,
			   b.course_credit,
			   b.course_limit,
			   b.course_year, 
		
			   c.professor_name
			FROM course_package a
			JOIN course b
				ON a.course_code = b.course_code
			JOIN professor c
				ON b.professor_id = c.professor_id
		WHERE a.student_id = #{studentId}
	</select>

	<!--학번이 있어야 찾음 -->
	<select id="coursePackageOne"
		resultType="com.project.portal.coursepackage.service.CoursePackageVO">
		SELECT a.course_code, 
			   b.course_name, 
			   b.course_sortation,
			   b.course_credit,
			   b.course_limit,
			   b.course_year, 
			   
			   c.professor_name
			FROM course_package a
			JOIN course b
				ON a.course_code = b.course_code
			JOIN professor c
				ON	b.professor_id = c.professor_id
		WHERE a.student_id = #{studentId} AND b.course_code = #{courseCode}
	</select>

	<!-- 수강꾸러미 선택 삭제 -->
	<delete id="coursePackageDelete"
		parameterType="com.project.portal.coursepackage.service.CoursePackageVO">
		DELETE FROM course_package
		WHERE course_code =	#{courseCode}
	</delete>
	
	<!-- 신청 학점 -->
	<select id="coursePackagePoint"
		resultType="com.project.portal.coursepackage.service.CoursePackageVO">
		SELECT SUM(course_credit) package_credit
		FROM v_package
		WHERE student_id = #{studentId}
	</select>
	
	<!-- 이전강의 확인 -->
	<select id="courseCheck" resultType="com.project.portal.coursepackage.service.CoursePackageVO">
		SELECT course_name
			FROM course a
				JOIN my_course b
					ON a.course_code = b.course_code
		WHERE student_id = #{studentId} AND a.course_name LIKE '%'||#{courseName}||'%'
	</select>
</mapper>